/*common css classes*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.oj-web-applayout-max-width{
    max-width: 1170px;
}


.nav li{
    float: right;
    font-size: 19px;
    list-style: outside none none;
    margin-left: 23px;
    margin-right: 17px;
    display: inline-block;

}
.navigationlist{
    float:right;
    margin-top: 1px;
}

.border-fix{
    border-bottom: none;
}
.nav1 li{
    float: right;
    font-size: 16px;
    list-style: outside none none;
    margin-left: 17px;
    margin-right: 17px;
    margin-top:38px;
    color:#333;
}
/*.nav1 li{float: none; border-bottom:1px solid #fff;}*/
.header-padding{
    padding:0px;
}

.oj-web-applayout-content {
    padding:0px;
}
.logo{
    height:90px;

}
.menus{display: none;
       color: #fff;
       font-size: 30px;
}
.mobile-menu a:active {
    color:#fff !important;
}
.mobile-menu{list-style-type: none;padding-left: 0px;}
#forActive-mobile #forActiveul{display: none;}
@media (max-width:1280px) {
    #forActive-mobile #forActiveul{display: none;}
}
@media (max-width: 767px) {
    #forActive-desktop #forActiveul{display: none;}
    #forActive-mobile #forActiveul{display: none;}
    .nav1 li:last-child{float: none; border-bottom:none;}
    /*.nav1 li{
    float: none;
    display:block;
    clear:both;
    font-size: 16px;
    list-style: outside none none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top:0px;
    padding:10px 5px;
    color:#333;
    }*/
    #forActiveul1 i{
        margin:5px 10px;
    }
    .mobile-menu li{display: inline;float: left;}
    .nav li{
        font-size: 18px !important ;
        margin: 0px 10px !important;
    }
    .home-profile-pic {
        height: 20px !important;
        width: 20px !important;
        border-radius: 50%;
        border: 2px solid #fff !important;
        display: inline-block;
        vertical-align: middle;
        position: relative;

    }
    .header_profile_image_initials {
        display: inline-block;
        font-size: 10px;
        height: 20px;
        padding: 6px 4px;
        position: absolute;
        width: 20px;
        margin: 0;
        right: 0;
        bottom: 0;
        top: 0;
        left: 0;

    }
    .logo{
        height:60px;
    }
    .menus{
        display: block;
        font-size: 22px;

    }
    .nav1 li{float: none;}
    .logo {
        height: 56px;
        margin-top: -8px;
        /*padding-left: 10px;*/
    }
    ul.mobile-menu {

        list-style: outside none none;
        margin-left: 10px;
        padding: 0;
        width: 160px;
    }
    ul#forActiveul1 {
        list-style: outside none none;
        margin: 0;
        padding: 0;
    }
    .navigationlist {
        float: right;
        width: 100%;
    }
    .border-right-recent{
        border-right: none !important;
    }
}
@media (min-width:320px) and (max-width: 350px) {
    .nav li {
        font-size: 18px !important;
        margin: 0px 8px !important;
    }

}
.oj-panel {
    padding-bottom:0px;
}
.section1{
    border-bottom: 2px solid #a6a6a6;

}
.people-logo1{
    text-align:center !important;
    border-radius: 5px 5px 0px 0px;
    margin:8px;
    font-size:44px;
    padding-left: 24px;
}
.people-logo1 a{
    color:#000;
}
.people-logo2{
    text-align:center;
    border-radius: 5px 5px 0px 0px;
    font-size: 44px;
    border-color:#d6d6d6;
    margin:8px;
    background-color:#d9d9d9;
    color:#b8b8b;
}
#forActive li a{
    padding-right: 5px;
}
.slider-text{
    color:#fff;
    font-size:22px;
}
/*font for the slider heading*/ 
@font-face {
    font-family: nameHeading;
    src: url("../css/fonts/Font/Allura-Regular.otf");
}
.slider-heading{
    color:#fff;
    font-family:nameHeading;
    font-size: 40px;
    margin-left: -3px;/*Namrata*/
}

.side-box{
    width:295px;
    height:240px;
    opacity: 0.5;
    background-color: #fff;
    margin-top:20px;
    padding: 8px;
}
.slider-color{
    background-color: transparent;
    border-color: transparent;


}
.side-box p{
    font-size: 20px;

}
.right-wrong-icon{
    font-size: 32px;
    border-top: 1px solid;
    margin-top:80px;
}
.cross-top{
    padding-right: 5px;
    font-size: 24px;
    float:right;
    color:#fff !important;
}
.check-icon{
    float:left;
    margin-left:50px;
}
.close-icon{
    padding: 0px 8px 8px 8px;
    float:right;
    margin-right: 50px;
}
.btn-text-green{
    color: #fff;
    font-size: 50px;
    font-weight: normal;
    left: 168px;
    position: absolute;
    top: 55px;
}
.btn-text-red{
    color: #fff;
    font-size: 50px;
    font-weight: normal;
    left: 168px;
    position: absolute;
    top: 55px;
}
.btn-text-red1{
    color: #fff;
    font-size: 50px;
    font-weight: normal;
    left: 10px;
    position: absolute;
    top: 55px;
}
.green-button{
    float:left;

    position:relative;
}
.green-button img{
    width: 200px;
    margin:0px 100px;

}
.red-button{
    float:right;
    position:relative;
    cursor: pointer;
}
.red-button img{
    margin:0px 90px;
    width: 200px;
}
.red-button1 img{
    margin:0px 70px;
    width: 200px;
}


.inner-wrapper {
    top: 0;
    left: 0;
    margin-bottom: 0px;
    overflow: hidden;
    width: 940px;
    height: 470px;
}
.home-profile-pic{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border:1px solid #fff;
}
.control {
    display: none;
}



.overflow-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: hidden;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 400%;
    height: 100%;
}

.slide,.slide1  {
    float: left;

}
.edit-btn{
    margin-top:18px;
    font-size:24px;
}
.edit-btn span{
    float:left;
    border-radius: 50%;
    background-color: #4e4643 !important;
    width: 50px;
    height:50px;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=11, Direction=187, Color=#333333)";/*IE 8*/
    -moz-box-shadow: -1px 8px 11px #333333;/*FF 3.5+*/
    -webkit-box-shadow: -1px 8px 11px #333333;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: -1px 8px 11px #333333;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=11, Direction=187, Color=#333333); /*IE 5.5-7*/
}
.edit-btn span i{
    padding: 10px 13px;
}
.profile-text{
    float:right;
    font-size:25px;
}
.profile-my-class{
    float: left;
    font-size:25px;
    margin-left: 100px;
}
.profile-pic{
    float: left;
    font-size: 145px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border : 2px solid #fff;
}
.profile-name{
    margin-left: -98px;
    margin-top: 39px;
}
.profile-content{
    float: left;
    margin-left: 45px;
    margin-top: 75px;

}
.verticalbar{
    border-right: 1px solid #333;
    margin-top: 2px;
    padding-right: 55px;
}

/*flaoting button */

.container {
    position: fixed;
    margin: 1em;
    right: 3%;
    bottom: 40px;
    z-index: 10;
}

.buttons {
    /*    box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 
            0px 4px 12px -7px rgba(0, 0, 0, 0.15);*/
    border-radius: 50%;
    display: block;
    width: 62px;
    height: 62px;
    margin: 0px auto 0;
    position: relative;
    -webkit-transition: all  0.80s ease-out;
    transition: all 0.30s ease-out;
}

.buttons:active, 
.buttons:focus, 
.buttons:hover {
    box-shadow: 0 0 4px rgba(0,0,0,.14),
        0 4px 8px rgba(0,0,0,.28);
}

.buttons:not(:last-child) {
    width: 45px;
    height: 45px;
    margin: 20px auto 0;
    opacity: 0;
    /*    display:none;*/
    /*     -webkit-transition: display  0.80s !important;
        transition: display 0.30s !important;*/
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
}

.container:hover 

.buttons:not(:last-child) {
    opacity: 1;
    /*display:block;*/
    /*     -webkit-transition: display  0.80s !important;
        transition: display 0.30s !important;*/
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    margin: 7px auto 0;
}

/*Unessential styling for sliding up buttons at differnt speeds*/ 

.buttons:nth-last-child(1) {
    -webkit-transition-delay: 25ms;
    transition-delay: 25ms;
    background-color:#78A95A;
    background-size: contain;
}

.buttons:not(:last-child):nth-last-child(2) {
    -webkit-transition-delay: 50ms;
    transition-delay: 20ms;
    background-color: #ED6648; 
    background-size: contain;
}

.buttons:not(:last-child):nth-last-child(3) {
    -webkit-transition-delay: 75ms;
    transition-delay: 40ms;
    background-color:#2780B5;
    background-size: contain;
}

.buttons:not(:last-child):nth-last-child(4) {
    -webkit-transition-delay: 100ms;
    transition-delay: 60ms;
    background-color: #607D8B;
    background-size: contain;
}
.floatingIcons{
    position: absolute;
    top: 10px;
    left: 16px;
    font-size: 38px!important;
    font-weight: bolder !important;
    color: #fff;
}
.floatIcons{
    position: absolute;
    top: 9px;
    left: 11px;
    font-size: 27px!important;
    font-weight: bolder !important;
    color: #fff;
}
.rateme-floatIcons{
    font-weight: bolder !important;
    color: #689F39;
}
#ojDialogWrapper-modalDialog-userFeedback.oj-dialog  {
    overflow: hidden;
    max-width: 100%;
    min-width: 470px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    border-radius: 5px;
	top: 150px !important;
}
#ojDialogWrapper-modalVideo.oj-dialog  {
    overflow: hidden;
    max-width: 100%;
    min-width: 470px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    top: 150px !important;
    }
    .video{
        width: 440px;
        height: 250px;
    }
#ojDialogWrapper-modalDialog1.oj-dialog  {
    overflow: hidden;
    max-width: 100%;
    min-width: 480px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    border-radius: 5px;
	  top: 150px !important;

}


#ojDialogWrapper-modalDialog2.oj-dialog{
    overflow: hidden;
    max-width: 100%;
    min-width: 480px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    border-radius: 5px;
    top: 150px !important;
}
  
@media screen and (max-height:780px){
    #ojDialogWrapper-modalDialog2.oj-dialog{
        top: 80px !important;
    }
    #ojDialogWrapper-modalDialog8.oj-dialog{
         top: 80px !important;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #ojDialogWrapper-modalDialog2.oj-dialog, #ojDialogWrapper-modalDialog8.oj-dialog{
        height: 560px;
        -ms-overflow-style: none;
        overflow: hidden;
    }
    #ojDialogWrapper-modalDialog1.oj-dialog{
        height: 500px;
        -ms-overflow-style: none;
        overflow: hidden;	
    }

}
#ojDialogWrapper-modalDialog8.oj-dialog{
    overflow: hidden;
    min-width: 480px;
    max-width:100%;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    border-radius: 5px;
  	top: 150px !important;
}
@media screen and (max-height:780px){
    #ojDialogWrapper-modalDialog2.oj-dialog{
        top: 80px !important;
    }
    #ojDialogWrapper-modalDialog8.oj-dialog{
         top: 80px !important;
    }
	#ojDialogWrapper-modalDialog1.oj-dialog{
		top: 80px !important;
	}
}
.errorTextPlus{
    color: red;
    margin-left: -2px;
}
#ojDialogWrapper-modalDialog9.oj-dialog,
#ojDialogWrapper-modalDialog3.oj-dialog,
#ojDialogWrapper-modalDialogRequest.oj-dialog{
    overflow: hidden;
    max-width: 100%;
    min-width: 500px;
    border-radius: 5px;
    top: 150px !important;
}
@media screen and (max-width:767px){
	#ojDialogWrapper-modalDialog9.oj-dialog,
	#ojDialogWrapper-modalDialog3.oj-dialog,
	#ojDialogWrapper-modalDialogRequest.oj-dialog{
		overflow: hidden;
		max-width: 100%;
		min-width: 500px;
		border-radius: 5px;
		top: 50px !important;
	}	
	#ojDialogWrapper-modalDialog2.oj-dialog{
		top:20px !important;
		height:500px;
	}
	.submit-btn-modal {
    margin: 6px 0 !important;
	}
	#modalDialog2 .oj-dialog-body, #ojDialogWrapper-modalDialog8 .oj-dialog-content, #ojDialogWrapper-modalDialog1 .oj-dialog-content, #ojDialogWrapper-modalDialogRequest .oj-dialog-content{
		height:auto !important;
	}
	#ojDialogWrapper-modalDialog8.oj-dialog, #ojDialogWrapper-modalDialog1.oj-dialog{
		top: 20px !important;
	}
}
#ojDialogWrapper-minMaxDialog.oj-dialog{
    overflow: hidden;
    width: 25% ;
    border-radius: 5px;
    background-color: #ffffff;
}
.buddyTab{
    margin-top: -78px;
}
.buddyTab1{
    font-size: 35px;
    border-radius: 5px 5px 0px 0px !important;
    width: 90px;
    text-decoration: none;
    text-align: center;
    background-color: grey;
    color:green;
}
.buddyTab2{
    font-size: 35px;
    border-radius: 5px 5px 0px 0px !important;
    width: 90px;
    text-decoration: none;
    text-align: center;
    background-color: grey;
    color:green;
}

.buddyHeader {
    padding-right: 10px;
    text-align: center;
    font-size: 24px;
}
.modalImage{
    max-width: 70%;
}
.area2{
    width: 87%;
    height: 180px;
    border: solid 1px #305a04;
    background-color: #fff;
    margin-left: 36px;
    margin-top: 8px;
    border-radius: 5px;
}
/*.modal-submit{
    background-color: #e3ffca !important;
    color: #000 !important;
    cursor: pointer !important;
    font-size: 24px;
    height: 48px;
    border-radius: 5px;
    outline: medium none;
    width: 38%;
    border-color: #bdff91;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#6f6d6d)";
    -moz-box-shadow: 3px 3px 3px #6f6d6d;
    -webkit-box-shadow: 3px 3px 3px #6f6d6d;
    box-shadow: 3px 3px 3px #6f6d6d;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#6f6d6d);
}*/
.modal-submit {
    background-color: #e3ffca !important;
    border-color: #bdff91;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.3);
    color: #363636 !important;
    cursor: pointer !important;
    font-size: 24px;
    height: 48px;
    /*margin-top: 20px;*/
    width: 36%;
}
.areaFloat{
    width: 100%;
    height: 180px;
    border-style: solid;
    border-color: #305a04;
    border-width: 1px;
    margin-top: -8px;
    background-color: transparent;
    border-radius: 5px;
    margin-left: 0;
}
.text-area-custom {
    background: transparent none repeat scroll 0 0;
    margin-left: 0 !important;
    width: 100% !important;
}
.area {
    width: 91%;
    height: 182px;
    border: solid 1px #305a04;
    background-color: #fff;
    margin-left: 22px;
    border-radius: 5px;
}
.errorTextModal{
    color: red;
    margin-left: -2px;
    margin-top: 6px;
}
.area-Feedback {
    width: 436px;
    height: 162px;
    border: solid 1px #000;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 26px;
}
.textArea2{
    height: 172px;
    border: none;
    width: 100%;
    margin-left: 2px;
    background: #fff;
}
.textArea4{
    height: 189px;
    border: none;
    width: 320px;
    margin-left: 2px;
    background: #fff;
}
.textArea3{
    height: 143px;
    border: none;
    margin-left: 2px;
    max-width: 100%;
    width: 300px;
    min-width:100px;
    background: #fff;

}
.imgArea{
    float: right;
    cursor: pointer;
    /*padding: 5px;*/
	border-left: 1px solid #dcdcdc;
	margin-top: 8px;
}
.areaContent{
    float:left;
}
.areaContent1{
    width: 100%;
    text-align: center;
}
#ojChoiceId_combobox2.oj-combobox.oj-component.oj-enabled.oj-form-control{
    max-width:  500px !important;
}
.oj-textarea{
    max-width: 100%;
}
.mText{
    bottom: 0;
    color: #fff;
    font-size: 31px;
    font-weight: bold;
    height: 64px;
    left: 0;
    line-height: 60px;
    margin: 0px auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 50%;
}
.mText1 {
    position: absolute;
    bottom: 36px;
    left: 24px;
    color: #fff;
    font-weight: bolder;
    font-size: 32px;
}

.errorText{
    color: #f00000;
    margin-left: -2px;
    margin-bottom: 10px;
}
.errorTextProfile{
    color: red;
    margin-left: -2px;
    margin-bottom: 10px;
    font-size: 17px;
}
.errorText1{
    color: #fff;
    display: table-cell;
    height: 594px;
    margin: 0 auto;
    vertical-align: middle;
    width: 100%;
}
.errorFix1{
    /*margin-left: 60px;*/
}
#ojDialogWrapper-modalDialog2 .oj-dialog-title {
    font-size: 22px;
    text-align: center;
}
#ojDialogWrapper-modalDialog2 .oj-dialog-header.oj-helper-clearfix.ui-draggable-handle,
#ojDialogWrapper-modalDialogRequest .oj-dialog-header.oj-helper-clearfix.ui-draggable-handle, 
#ojDialogWrapper-modalDialog9 .oj-dialog-header.oj-helper-clearfix.ui-draggable-handle, 
#ojDialogWrapper-modalDialog3 .oj-dialog-header.oj-helper-clearfix.ui-draggable-handle,
#ojDialogWrapper-modalDialog8 .oj-dialog-header.oj-helper-clearfix.ui-draggable-handle,
#ojDialogWrapper-minMaxDialog .oj-dialog-header.oj-helper-clearfix.ui-draggable-handle,
#ojDialogWrapper-modalDialog-userFeedback .oj-dialog-header.oj-helper-clearfix.ui-draggable-handle
{
    background-color: #e3ffca;
    border: none;
}
#ojDialogWrapper-modalDialog1 .oj-dialog-title,
#ojDialogWrapper-modalDialog-userFeedback .oj-dialog-title{
    font-size: 22px;
    text-align: center;
}
#ojDialogWrapper-minMaxDialog .oj-dialog-title{
    overflow: hidden;
    cursor: default;
    text-align: center;
}
#ojDialogWrapper-modalDialog1 .oj-dialog-header.oj-helper-clearfix.ui-draggable-handle {
    background-color: #e3ffca;
    border: none;
}
.modal-submitFloatFeddback{
    background-color: #e3ffca !important;
    color: #363636 !important;
    cursor: pointer !important;
    font-size: 24px;
    height: 48px;
    /*margin-top: 25px;*/
    width: 38%;
    border-radius: 8px;
    border-style: solid;
    border-color: #bdff91;
    border-width: 2px;
    box-shadow: 3px 4px 6px rgba(0,0,0,0.3)

}
.modal-submitUserFeedback{
    background-color: #e3ffca !important;
    color: #363636 !important;
    cursor: pointer !important;
    font-size: 21px;
    height: 48px;
    margin-top: 5px;
    /* width: 38%; */
    border-radius: 8px;
    border-style: solid;
    border-color: #bdff91;
    border-width: 2px;
    box-shadow: 3px 4px 6px rgba(0,0,0,0.3);
    outline: none;

}
#rateTab5 .oj-tabs-tab-content,
#rateTab2 .oj-tabs-tab-content,
#home1 .oj-tabs-tab-content,
#home2 .oj-tabs-tab-content{
    border-style: none; 
    border-width: 0px; 
    border-radius: 0; 
}
#rateTab5.oj-tabs-tab,
#rateTab2.oj-tabs-tab,
#home1.oj-tabs-tab,
#home2.oj-tabs-tab
{
    border-color: transparent;
    border-style: none;   
}
.modal-submit1{
    background-color: #e3ffca !important;
    border-color: #bdff91;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.3);
    color: #363636 !important;
    cursor: pointer !important;
    font-size: 24px;
    height: 48px;
    /*margin-top: 25px;*/
    width: 38%;
}
#ojDialogWrapper-modalDialog2 .oj-dialog-title::before {
    background-image: url("../css/images/star-icon.png");
    background-position: 13px 5px;
    background-size: 23px 21px;
    content: "";
    display: inline-block;
    /*    width: 40px;
        height: 24px;
        background-repeat: no-repeat;*/
}
.oj-dialog-title{
    color: #363636;
}
#ojDialogWrapper-modalDialog1 .oj-dialog-title::before,
#ojDialogWrapper-modalDialog2 .oj-dialog-title::before{
    background-image: url("../css/images/star-icon.png");
  background-position: 9px 3px;
    background-size: 26px 23px;
    content: "";
    display: inline-block;
    width: 40px;
    height: 24px;
    background-repeat: no-repeat;
}
.imgArea1 {
    float: right;
    margin-top: 55px;
    cursor: pointer;
    border-left: 1px solid #dcdcdc;
}

/*.oj-dialog-body {
    background-color: #fff !important;
    max-width: 100% !important;
        min-width: 300px;
    overflow: hidden;
}*/
#modalDialog2 .oj-dialog-body, #ojDialogWrapper-modalDialog1 .oj-dialog-content, #ojDialogWrapper-modalDialog8  .oj-dialog-content{
	height: 490px;
}
#modalDialog2 .oj-dialog-body, #modalDialog3 .oj-dialog-body, #modalDialog9 .oj-dialog-body,#modalDialogRequest .oj-dialog-body{
    background-color: #fff !important;
    overflow: hidden;
    padding:26px;
}
/*#ojDialogWrapper-modalDialogRequest .oj-dialog-content, #ojDialogWrapper-modalDialog3 .oj-dialog-content, #ojDialogWrapper-modalDialog9 .oj-dialog-content{
	min-height: 430px;
}*/
#modalDialog8 .oj-dialog-body{
    background-color: #fff !important;
}
.oj-dialog-body h4 strong span, .oj-dialog-body h5  {
    color: #363636;
}
/*top 10 ranks page side section*/
.rankBlock{
    color:#fff !important ;
}

.headingRank{
    color: #fff !important;
    font-weight: normal;
    font-size: 28px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 25px;
    border-bottom: 4px solid #78A95A;
}
.rankText{
    font-size: 60px;
    font-weight: bolder;
    line-height: 185px;
    text-align: center;
}
.ranking-block1-height{
    height: 300px;
}
.ranking-block2-height-height{
    height: 301px;
}

.countBlock{
    margin-bottom: 20px;
}
/*#tabs-container .oj-tabs-nav{
    margin-left: 12px;
}*/
.request-top{
        margin-top: 21px;
}
#tabs-container .oj-tabs-tab.oj-selected {
    border-color: #689F39;
    border-radius: 3px #fff !important;
}
.searchArea{
    margin-bottom: 38px;
    margin-top: 16px;
    text-align: center;
}
#ojDialogWrapper-modalDialog3 .oj-dialog-close-icon,
#ojDialogWrapper-modalDialog9 .oj-dialog-close-icon,
#ojDialogWrapper-modalDialog8 .oj-dialog-close-icon,
#ojDialogWrapper-modalDialog2 .oj-dialog-close-icon,
#ojDialogWrapper-modalDialog1 .oj-dialog-close-icon,
#ojDialogWrapper-modalDialogRequest .oj-dialog-close-icon,
#ojDialogWrapper-modalDialog-userFeedback .oj-dialog-close-icon{
    background-color: #e3ffca;
    border-color: transparent;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    color: #555;
    cursor: pointer;
    font-size: 27px;
    margin-right: -8px;
    margin-top: -6px;
    padding: 15px;
}
.oj-dialog-header-close-wrapper {
    margin: -8px;
    padding: 0;
}
#ojDialogWrapper-modalDialog3 .oj-dialog-title {
    font-size: 22px;
    text-align: center;
}

#ojDialogWrapper-modalDialog9 .oj-dialog-title::before,
#ojDialogWrapper-modalDialog8 .oj-dialog-title::before,
#ojDialogWrapper-modalDialog3 .oj-dialog-title::before,
#ojDialogWrapper-modalDialog-userFeedback .oj-dialog-title::before
{ 
    background-repeat: no-repeat;
    background-size: 15px 15px;
    content: "";
    display: inline-block;
    height: 24px;
    width: 40px;

}
#ojDialogWrapper-modalDialogRequest .oj-dialog-title::before{
    background-size: 25px 21px;
    content: "";
    display: inline-block;
    width: 40px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url("../css/images/send-icon.png");
    background-position: 10px 5px;

}
#ojDialogWrapper-modalDialog3 .oj-dialog-title::before{
    background-image: url("../css/images/star-icon.png");
    background-position: 9px 3px;
    background-size: 26px 23px;
}
#ojDialogWrapper-modalDialog9 .oj-dialog-title::before,
#ojDialogWrapper-modalDialog8 .oj-dialog-title::before
{
    background-image: url("../../css/images/feedback-icon (1).png");
       background-position: 12px 6px;
    background-size: 24px 20px;

}
#ojDialogWrapper-modalDialog-userFeedback .oj-dialog-title::before{
    background-image: url("../../css/images/feedback-icon (1).png");
    background-position: 13px 7px;
    background-size: 23px 19px;
}
#ojDialogWrapper-modalDialog9 .oj-dialog-title,
#ojDialogWrapper-modalDialog8 .oj-dialog-title,
#ojDialogWrapper-modalDialogRequest .oj-dialog-title {
    font-size: 22px;
    text-align: center;
}
#ojDialogWrapper-modalDialog3  .oj-dialog-content,
#ojDialogWrapper-modalDialog9  .oj-dialog-content,
#ojDialogWrapper-modalDialog8  .oj-dialog-content,
#ojDialogWrapper-modalDialogRequest  .oj-dialog-content  {
    background-color: #fff !important;
    padding: 26px;
    overflow: hidden;
}
#ojDialogWrapper-modalDialog8  .oj-dialog-content{
    background-color: #fff !important;
    padding: 26px;
    /*min-height: 440px;*/
    overflow: hidden;
}
#ojDialogWrapper-modalDialog-userFeedback .oj-dialog-content  {
    background-color: #fff !important;
    padding: 26px;
    height: 350px;
    overflow: hidden;
}
#ojDialogWrapper-modalDialog2  .oj-dialog-content{
    background-color: #fff;
}
#ojDialogWrapper-modalDialog1 .oj-dialog-content{
    background-color: #fff !important;
    padding: 20px;
    overflow: hidden;
	/*min-height: 440px;*/
	
}
#ojDialogWrapper-modalDialog1 .oj-dialog-body {
    background-color: #fff !important;
    overflow: hidden;
    padding: 0;
    min-height: 450px;
}
/*#modalDialog8 .oj-dialog-body{
    min-height: 440px;
}
#ojDialogWrapper-modalDialog2  .oj-dialog-body{
    min-height: 450px;
}*/
/*.modal-submit3{
    background-color: #e3ffca !important;
    color: #000 !important;
    cursor: pointer !important;
    font-size: 24px;
    height: 48px;
    margin-top: 25px;
    outline: medium none;
    width: 38%;
}
*/
.modal-submit3 {
    background-color: #e3ffca !important;
    color: #363636 !important;
    cursor: pointer !important;
    font-size: 24px;
    height: 48px;
    /*margin-top: 25px;*/
    width: 38%;
    border-radius: 8px;
    border-style: solid;
    border-color: #bdff91;
    border-width: 2px;
    box-shadow: 3px 4px 6px rgba(0,0,0,0.3);
}
.searchImage{
    width: 30px;
    border-radius: 50%;
    margin-top: 5px;
}
.autoName{
    margin-top: -3px;
    line-height: 44px;
}
.imgSearch{
    height: 30px;
    width: 42px;
    float: left;
}
#modalDialog-userFeedback .oj-dialog-body{
    background: #fff !important;
    height: 318px;
}
.feedbck-text{
    font-size: 20px;
    margin-bottom: 21px;
}
/*Namrata*/
#oj-combobox-choice-combobox3.oj-combobox-choice, #oj-combobox-choice-combobox2.oj-combobox-choice, #oj-combobox-choice-combobox9.oj-combobox-choice {
    background-color: #f3f3f3;
    border-color: #305a04;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    margin-left: 0;
    width: 100% !important;
}

#ui-id-4 .oj-hover{
    text-decoration: none !important; 
}
#oj-combobox-input-combobox3.oj-combobox-input,
#oj-combobox-input-combobox2.oj-combobox-input,
#oj-combobox-input-combobox9.oj-combobox-input{
    background-color: #f0f0f0;
}
#ojChoiceId_combobox3.oj-combobox,#ojChoiceId_combobox2.oj-combobox,#ojChoiceId_combobox9.oj-combobox{
    max-width:100% !important;
}
.hoverTab1{
    background-color: #e7fcd5;
    border-radius: 2px;
    color: #000;
    font-size: 13px;
    left: 2px;
    margin-top: 12px;
    padding: 12px;
    position: absolute;
    top: -60px;
    display:none;
    text-decoration: none !important;
}
.oj-tabs-horizontal > .oj-tabs-nav-root .oj-tabs-tab{
    position: static;
}

.hoverTab2{
    background-color: #e7fcd5;
    border-radius: 2px;
    color: #000;
    font-size: 13px;
    left: 94px;
    margin-top: 12px;
    padding: 12px;
    position: absolute;
    top: -60px;
    display:none;  
    text-decoration: none !important;
}
.buddyTab1 :hover .hoverTab1{
    display: block;
}
.buddyTab2 :hover .hoverTab2{
    display: block;
}
.hoverTab5 {
    background-color: #e7fcd5;
    border-radius: 2px;
    color: #000;
    display: none;
    font-size: 13px;
    left: -4px;
    padding: 9px;
    position: absolute;
    text-decoration: none !important;
    top: -54px;
}
.buddyTab5 :hover .hoverTab5{
    display: block;
}
.hoverTab6 {
    background-color: #e7fcd5;
    border-radius: 2px;
    color: #000;
    display: none;
    font-size: 13px;
    left: 87px;
    padding: 10px;
    position: absolute;
    text-decoration: none !important;
    top: -55px;
}
.buddyTab6 :hover .hoverTab6{
    display: block;
}
.hoverTabRequest1{
    background-color: #e7fcd5;
    border-radius: 2px;
    color: #000;
    font-size: 13px;
    left: 5px;
    padding: 8px;
    position: absolute;
    top: -38px;
    display: none; 
    text-decoration: none !important;
}
.buddyTab3 :hover .hoverTabRequest1{
    display: block;
}
.hoverTabRequest2{
    background-color: #e7fcd5;
    border-radius: 2px;
    color: #000;
    display: none;
    font-size: 13px;
    left: 86px;
    padding: 8px;
    position: absolute;
    text-decoration: none !important;
    top: -38px;
}
.buddyTab4 :hover .hoverTabRequest2{
    display: block;
}
.buddyTabRequest{
    background-color: #e7fcd5;
    border-radius: 2px;
    color: #000;
    font-size: 13px;
    left: -12px;
    padding: 8px;
    position: absolute;
    top: -38px;
    display: none; 
    text-decoration: none !important;
}
.buddyTabRequest1{
    background-color: #e7fcd5;
    border-radius: 2px;
    color: #000;
    font-size: 13px;
    left: 2px;
    padding: 10px;
    position: absolute;
    top: -41px;
    display: none;
    text-decoration: none !important;
}




.buddyTab4 :hover .buddyTabRequest{
    display: block;
}
.buddyTab2 :hover .buddyTabRequest1{
    display: block;
}
.buddyTab3:hover:before  {
    content: "";
    border-top: 10px solid #e7fcd5;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    position: absolute;
    top: -10px;
    left: 24px;
    color: #e7fcd5;
}

.hoverTabRequest2:after{
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 10px solid #e7fcd5;
    color: #e7fcd5;
    content: "";
    left: 32px;
    position: absolute;
    top: 28px;
}
.buddyTabRequest:after  {
    content: "";
    border-top: 10px solid #e7fcd5;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    position: absolute;
    top: 30px;
    left: 35px;
    color: #e7fcd5;
}
.buddyTabRequest1:after  {
    content: "";
    border-top: 10px solid #e7fcd5;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    position: absolute;
    top: 30px;
    left: 23px;
    color: #e7fcd5;
}
.hoverTab2:after  {
    content: "";
    border-top: 10px solid #e7fcd5;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    position: absolute;
    top: 38px;
    left: 26px;
    color: #e7fcd5;
}
.buddyTab3{
    font-size: 37px;
    border-radius: 5px 5px 0 0 !important;
    width: 90px;
    text-decoration: none;
    text-align: center;
    background-color: grey;
    color:green;
}
.buddyTab4{
    font-size: 38px;
    border-radius: 5px 5px 0 0 !important;
    width: 90px;
    text-decoration: none;
    text-align: center;
    background-color: grey;
    color:green;
}
.buddyTab5{
    font-size: 38px;
    border-radius: 5px 5px 0 0 !important;
    width: 90px;
    text-decoration: none;
    text-align: center;
    background-color: grey;
    color:green;
}
.buddyTab6{
    font-size: 38px;
    border-radius: 5px 5px 0 0 !important;
    width: 90px;
    text-decoration: none;
    text-align: center;
    background-color: grey;
    color:green;
}
.buddyTab1:hover:before  {
    content: "";
    border-top: 10px solid #e7fcd5;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    position: absolute;
    top: -10px;
    left: 28px;
    color: #e7fcd5;
}
/*.buddyTab2:hover:before  {
    content: "";
    border-top: 10px solid #fffff0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    position: absolute;
    top: -10px;
    left: 132px;
    color: #fffff0;
}*/
.buddyTab5:hover:before  {
    content: "";
    border-top: 9px solid #E7FCD5;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    position: absolute;
    top: -9px;
    left: 32px;
    color: #fffff0;
}
.buddyTab6:hover:before  {
    content: "";
    border-top: 9px solid #E7FCD5;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    position: absolute;
    top: -9px;
    left: 123px;
    color: #fffff0;
}
#tabs ul li i{
    text-decoration: none !important;
}
#tabs3 ul li i{
    text-decoration: none !important;
}
.textArea-feedback{
    height: 180px;
    border: solid 1px #305a04;
    width: 100%;
    border-radius: 5px;
}
.textArea-feedbackFloat{
    height: 180px;
    border: solid 1px #305a04;
    width: 100%;
    border-radius: 5px;
    resize: none;
    outline: none;
}
.textArea-feedbackSideBar{
    height: 140px;
    border: solid 1px #305a04;
    width: 100%;
    border-radius: 5px;
    resize: none;
    outline: none;
}

/*.textArea-feedbackFloat {
    height: 143px;
    border: solid 1px #305a04;
    width: 452px !important;
    border-radius: 5px;
    min-width: 376px;
    max-width: 100%;
    margin-left: -18px;
}*/

.feedbackAlignment{
    text-align: justify;
    padding-left: 5px;
    padding-right: 8px;
    padding-bottom: 8px;
}
.sliderScreen{
    color: #fff !important;
    font-family: nameHeading;
    font-size: 62px;
    margin-left: 33px;
    margin-right: 41px;
    margin-top: 50px;
}
.sliderSmiley{
    border: 0 none;
    margin-left: 345px;
    text-align: center;
}
/*.oj-dialog #modalDialogRequest{
    height: 440px !important;
    width: 535px !important;
}*/
.white{
    color:#fff;
}
.modal-submitRequest{
    background-color: #e3ffca !important;
    color: #363636 !important;
    cursor: pointer !important;
    font-size: 24px;
    height: 48px;
    /*margin-top: 11px;*/
    width: 38%;
    border-radius: 8px;
    border-style: solid;
    border-color: #bdff91;
    border-width: 2px;
    box-shadow: 3px 4px 6px rgba(0,0,0,0.3)
}
.searchLead{
    margin-top: -3px;
    line-height: 44px;
    word-spacing: -3px;
}
.sucessMsg{
    background-color: #e7fcd5;
    border-radius: 5px;
    bottom: auto;
    color: #000;
    font-size: 16px;
    height: 65px;
    left: 0;
    margin: auto;
    padding: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 125px;
    width: 300px;
    z-index: 30;
}
#sucess{
    display:none;
}
#sucessFeedback{
    display:none;
}
#sucessRate{
    display:none;
}

.requestHeading{
    font-weight: bold;
    color:#fff;
    font-size: 24px;
}
.requestCOntent{
    border: solid 1px green;
    color:#fff;

}
.modal-submitRequest1 {
    background-color: #ff6241 !important;
    color: #fff !important;
    cursor: pointer !important;
    font-size: 22px;
    height: 42px;
    margin-bottom:  15px;
    outline: medium none;
    width: 38%;
    border: 1px solid orangered;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#6f6d6d)";
    -moz-box-shadow: 3px 3px 3px #6f6d6d;
    -webkit-box-shadow: 3px 3px 3px #6f6d6d;
    box-shadow: 3px 3px 3px #6f6d6d;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#6f6d6d);
}
.submit-btn-modal {
    margin: 25px 0;
}
.textArea-request {
    height: 120px;
    border: none;
    outline: none;
    border: 1px solid green;
    color: #fff !important;
    background: none;
    resize: none;
    width: 100%;
}
@media screen and (max-width: 420px) {
    .modal-submitRequest1 {
        font-size: 16px;
    }
}
.oj-textarea  placeholder {
    color:#fff;
}
#tabs-container1 .oj-tabs-tab.oj-selected {
    border-color: #689F39;
}
#tabs-container3 .oj-tabs-tab.oj-selected {
    border-color: #689F39;
}
.rate1Inactive{
    display:none;
}
#rate2Active{
    display:none;
}
.recentInfo0,.recentInfo1,.recentInfo2,.recentInfo3{
    background-color: #E7FCD5;
    border-radius: 5px;
    height:30px;display:table;width:216px;margin:0 auto;position:absolute;padding:9px;margin-top:-5px;visibility: hidden;
    z-index: 10;
}
.recentInfo3{
    right: 2px;
}
/*.recentInfo0{
    background-color: #E7FCD5;
    border-radius: 5px;
    display: block;
    position: absolute;
    bottom: 125px;
    visibility: hidden;
    color: #000;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 25px;
    margin: 0px auto;
    padding-right: 25px;
    left: 74px;
}*/
.text-hover-my{
    vertical-align:middle;display:table-cell;width:100%;float:left;color:#000;font-weight: bold;
}
.text-hover-project{vertical-align:middle;display:table-cell;width:100%;float:left;color:#000;font-weight: normal;}
/*.recentInfo1{
    background-color: #E7FCD5;
    border-radius: 5px;
    display: block;
    left: 353px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 27px;
    padding-right: 27px;
    position: absolute;
    bottom: 125px;
    visibility: hidden; 
    color: #000;
  
}
.recentInfo2{
    background-color: #E7FCD5;
    border-radius: 5px;
    display: block;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 27px;
    padding-right: 27px;
    position: absolute;
    bottom: 128px;
    visibility: hidden; 
    color: #000;
 
    margin-left: 45px;
}
.recentInfo3{
    background-color: #E7FCD5;
    border-radius: 5px;
    display: block;
 
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 27px;
    padding-right: 27px;
    position: absolute;
    bottom: 125px;
    visibility: hidden; 
    color: #000;
    margin-left: 65px;
}*/
.hoverContent0:hover .recentInfo0{
    visibility: visible !important;
}
.hoverContent1:hover .recentInfo1{
    visibility: visible !important;
}
.hoverContent2:hover .recentInfo2{
    visibility: visible !important;
}
.hoverContent3:hover .recentInfo3{
    visibility: visible !important;
}
.recentInfo0:after  {
    content: "";
    border-top: 11px solid #E7FCD5;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    position: absolute;
    bottom: -11px;
    left: 110px;
    color: #fffff0;
    margin: 0px auto;
}
.recentInfo0-my:after  {
    content: "";
    border-top: 11px solid #E7FCD5;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    position: absolute;
    bottom: -11px;
    left: 110px;
    color: #fffff0;
    margin: 0px auto;
}
.recentInfo1:after  {
    content: "";
    border-top: 11px solid #E7FCD5;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    position: absolute;
    bottom: -11px;
    left: 110px;
    color: #fffff0;
}
.recentInfo2:after  {
    content: "";
    border-top: 11px solid #E7FCD5;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    position: absolute;
    bottom: -11px;
    left: 110px; 
    color: #fffff0;
}
.recentInfo3:after  {
    content: "";
    border-top: 11px solid #E7FCD5;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    position: absolute;
    bottom: -11px;
    left: 100px;
    color: #fffff0;
}
.text-hover{
    color: #000;
}
.sliderScreen-NoRatings{
    color: #fff !important;
    font-family: nameHeading;
    font-size: 68px;
    text-align: center;
    margin-top: 50px;
}
.sliderSmiley-NoRatings{
    color: #fff !important;
    font-family: nameHeading;
    text-align: center;
}
#text-area::-webkit-input-placeholder
{
    color: #dcdcdc !important;
}

#text-area::-moz-placeholder
{
    color: #dcdcdc !important;
}
#text-area:-moz-placeholder {
    color: #dcdcdc !important;
}

#text-area:-ms-input-placeholder {
    color: #dcdcdc !important;
}
#text-area-manager::-webkit-input-placeholder
 {
     color: #dcdcdc !important;
 }
 #text-area-manager::-moz-placeholder
 {
     color: #dcdcdc !important;
 }
 #text-area-manager:-moz-placeholder {
     color: #dcdcdc !important;
 }
 #text-area-manager:-ms-input-placeholder {
     color: #dcdcdc !important;
  }


.View-Other-about{
    padding: 17px;
    font-size: 23px;
    border-bottom: 1px solid #689F39;
}
.text-about{
    display: block;
    margin-left: 43px;
    width: 100%;
    color: #F9E81F;
    font-size: 23px;
    /*font-weight: bolder;*/
}
.textInfo{
    color: yellow;
    margin-left: 36px;
}
.about-icons{
    font-size: 38px !important;
    color: #F9E81F;
}
.icon-div{
    float: left;
    width: 40px;
    margin-top: 2px;
}
.heightCol{
    line-height: 42px;
}
.heightCol2{
    line-height: 48px;
}
.heightCol5{
    line-height: 22px;
}
.tabHeight{
    height:700px;
}
.tabHeightNew{
    height: 352px;
}
.tabMinHeight{
    min-height:700px !important;
}
.transbox1{
    border:2px solid #fee123;
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
    position: absolute;
    top:0px;
    left:0px;
    z-index: -1;
}
.transbox2{
    border:1px solid #ff0000;
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
    position: absolute;
    top:0px;
    left:0px;
    z-index: -1;
}
.transbox3{
    border:2px solid green;
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
    position: absolute;
    top:0px;
    left:0px;
    z-index: -1;
}
.overflow-class{
    overflow: auto;
    word-wrap: break-word
}
.feedback-profile{
    margin-top: 60px;
    height: 88%;
}
.text-height{
    line-height: 32px;
    word-break: break-all;
}
.edit-height{
    font-size: 30px;
}

.addImage{
    background-image: url("../../images/+1-icon-active.png");
    height: 20px;
    width: 30px;   
}
#negetiveTab , #feedbackTab{
    display:none;
}
#negetiveTab1 , #feedbackTab1{
    display:none;
}
#filmStrip .oj-filmstrip-arrow.oj-default .oj-filmstrip-arrow-icon{
    color: #fff;
    font-size: 40px;
}
#filmStrip .oj-filmstrip-arrow.oj-hover {
    background-color: transparent !important;
    border-color:transparent !important;
}
#filmStrip #ui-id-9.oj-hover span,#filmStrip #ui-id-8.oj-hover span{
    color: #689F39;
}
.View-Other-about-members{
    padding: 17px;
    font-size: 23px;
    border-bottom: 1px solid #689F39;   
}
.padding-feedback{
    padding: 1px;
}
.content1{
    margin-left: 40px;
}
.content2{
    margin-left: -40px;
}
.replyDate{
    font-size: 12px;
}
.text-hover-name{
    color: #000;
    font-weight: bold;
}
.request-pic{
    margin-left: 139px;
}

/*edit profile changes*/ 
#oj-select-choice-selectDesignation.oj-select-choice,
#oj-select-choice-selectLocation.oj-select-choice,
#input-date.oj-inputdatetime-input,
#oj-select-choice-selectPrimaryProjects.oj-select-choice,
#ojChoiceId_selectProjects.oj-select-choices{
    border-color: #689F39;
    background-color: rgba(255,255,255,0.3);
    border-width: 2px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}
.oj-select-jet .oj-select-arrow{
    flex: 0 0 auto;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    color: #689F39;
    font-size: 32px;
    margin-top: -5px;
    margin-right: -4px;
}
.textArea-skills{
    border: 2px solid #6BA034;
    background-color: rgba(255,255,255,0.3);
    color: #fff;
    height: 47px;
    border-radius: 5px;
    width: 459px;
    resize: none;
    font-size: 22px;
    padding: 7px;
}
#editNumberBox{
    border-color: #689F39;
    background-color: rgba(255,255,255,0.3);
    border-width: 2px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    padding: 7px;
    border-style: none;
    border:2px solid #689F39;
}
#ojChoiceId_selectInterests .oj-select-choices,
#ojChoiceId_selectProjects .oj-select-choices{
    border-color: #689F39;
    background-color: rgba(255,255,255,0.3);
    border-width: 2px;
    border-radius: 5px;
    font-weight: bold;
    width: 459px;
    color: #fff !important;
}
#associate-div .oj-inputdatetime-input-trigger{
    background: none;
    border: none;
}
#longText{
    margin-top: -20px;
}
.my-performance-slide{
    /*height: 211px;*/
}

@media(max-width:767px){
    #forActive-desktop{
        display:none;
    }
    #forActive-mobile{
        display:block;
    }   
    #forActive-mobile > ul#forActiveul{
        list-style:none;
        padding-left:0px;
        margin:0px;
    }
    #forActive-mobile > ul#forActiveul li{
        border-top:1px solid #fff;
        margin-left: 0px;
        margin-right: 0px;
        margin-top:0px;     
    }
    #forActive-mobile > ul#forActiveul li a{
        display:block;
        clear:both;
        padding:10px;
    }
    #forActive-mobile > ul#forActiveul li a:hover{
        display:block;
        clear:both;
        padding:10px;
    }
}
.custom-zmdi-icons-div{
    border-radius: 50%;
    border: 2px solid #fff;
    height: 60px;
    cursor: pointer;
    color: white;
    width: 60px;
}
.custom-zmdi-icons-div:hover{
    border:2px solid #689F39;cursor: pointer;color: #689F39;
}
.more-alignment{
    margin-right: 14px;
}
.font-name{
    font-size:18px;
}
.space-block{
    margin-bottom: 85px;
}
.space-block1{
    margin-bottom: 80px;
}
.declineHeight{
    height: 98%;
    margin-top: 50px;
}
.oj-select-selected-choice{color: #fff;}
.edit-section{
    position:absolute;
    right:0px;
    top:-120px
}
.mailToColor{
    color:#fff;
    text-decoration: underline;
}
.confirmButton{
    background-color: #e3ffca;
    border-radius: 5px;
    padding: 7px 16px 7px 20px;
    border: 1px solid #e3ffca;
    outline: none;
}
.commentDate{
    display: table-cell;
    width: 130px;
    text-align: center;
    font-style: italic;
    font-size: 15px;
    color: #dcdcdc;
}
.margin-left-cst{
    margin-left: 2px !important;
}
.ml-rating-text{
    margin-left: 10px !important; 
}
/*a:hover.oj-clickable-icon-nocontext,.oj-hover.oj-clickable-icon-nocontext{ color: white;}*/
.text-right{text-align: right}
.text-left{text-align: left}
.textArea-skills:focus,#editNumberBox:focus{border:2px solid #689F39;}
#cancel-all{padding: 121x;}

.font-design{
    font-size: 18px;
}
.font-date{
    font-size: 15px;
}
.font-descrip{
    font-size: 15px;
    word-break: break-all;
}
.my-performance-slide .border-right-recent:last-child{border-right: none;}

/*achievements block*/

.block-min-height{
    min-height: 735px;   
}
.achieve-li{
    list-style: none;
    margin-left: -32px;
}
.nav-achieve li{
    font-size: 24px;
    list-style: outside none none;
    padding: 12px;
}
.nav-achieve li a{
    color:#fff;
}
/*.nav-achieve li a:active{
    background-color: #fff;
    color: #000;
    border-bottom: 6px solid green;
}*/
.nav-achieve li a:hover{
    text-decoration: none;
    border-bottom: 2px solid #fff;
}
.nav-achieve li a:focus{
    text-decoration: none;
    border-bottom: 0px;
}
.trophy-img{
    width: 24px;
    height: 24px;
}
.floating-btn a:active {
    color: #78A95A;
    font-weight: normal;
    border-radius: 50%;
}
.achieve-heading{
    color: #F9E81F;
    font-size: 54px;
    font-weight: bolder;
}
.achieve-img-align{
    margin-left: 28px;
}
.achieve-text{
    margin-left: -45px;
    font-size: 22px;
    color: #fff;
}
.float-arrow{
    font-size: 54px !important;
    color: #fff !important;
}
#listview .oj-listview-group-item{
    font-weight: bolder;
    color: #fff;
    padding: 5px;
    border: 0 solid #fff;
    border-width: 2px;
    font-size: 30px;
    background-color: #689F39;
    /* opacity: 0.3; */
    box-sizing: border-box;
}
.accordin-text{
    font-size: 22px;
    color:#fff;
}
.accordin-img{
    margin-top: 15px;
}
#sm_md ::-webkit-scrollbar{
    width: 0px;
}
#a a.oj-clickable-icon-nocontext,
#b a.oj-clickable-icon-nocontext,
#c a.oj-clickable-icon-nocontext,
#d a.oj-clickable-icon-nocontext{
    color: #fff !important;
}
#safe .oj-listview-item.oj-selected,
#preAccess .oj-listview-item.oj-selected,
#storeFront .oj-listview-item.oj-selected,
#wnsGpd .oj-listview-item.oj-selected{
    background:none !important; 
    border : none;
}
#safe .oj-listview.oj-focus-ancestor .oj-listview-item.oj-focus,
#preAccess .oj-listview.oj-focus-ancestor .oj-listview-item.oj-focus,
#storeFront .oj-listview.oj-focus-ancestor .oj-listview-item.oj-focus,
#wnsGpd .oj-listview.oj-focus-ancestor .oj-listview-item.oj-focus{
    background:none;
}
#safe .oj-listview-item.oj-hover,
#preAccess .oj-listview-item.oj-hover,
#storeFront .oj-listview-item.oj-hover,
#wnsGpd .oj-listview-item.oj-hover{
    background: none !important;
    border-top: 0px !important;
    border-bottom: none !important;
}

#a .oj-listview-item,
#b .oj-listview-item,
#c .oj-listview-item,
#d .oj-listview-item{
    background-image: none;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 1px;
    border-top: 0px solid transparent;
    box-sizing: border-box;
    padding: 0.8571rem;
}
             
.main.style1 > .content {
	-moz-transition: 1s ease;
	-webkit-transition:  1s ease;
	-ms-transition: 1s ease;
	transition:  1s ease;
	-moz-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	opacity: 1.0;
	margin: 30px 0 0 20px;
}

.main.style1.inactive > .content {
	opacity: 1;
}
/*video icon css*/
.video-div{margin:10px;}
/*sidebar css*/ 
.sideFeedback,
.sideHelp,
.sideTour{
    color: #FFF;
    border-radius: 5px;
    text-align: center;
    width: 42px;
    height: 117px;
    display: block;
    background-color: #78A95A;
    background-size: contain;
}
.video-align-center{text-align: center}
.tab-padding{
    width: 552px;
    text-align: center;
    font-size: 30px;
    color: #606060;
}
.ul-top{
    margin-top: 35px;
}

#tabs-container-help ul li.oj-selected {
    border-bottom: 4px solid #6BA034;
}


#tabs-container-help .oj-tabs-title{
    text-decoration: none;
}
#tabs-container-help .oj-tabs-tab{
    border-color: none;
    border-style: none;
}
ul.help-ul{
    height: 240px;
    width: 330px;
    padding: 0px !important;
}
ul.help-ul2{
    height: 320px;
    width: 330px;
    padding: 0px !important;
}
.help-page-tabs{
    border-bottom: 1px solid #85D44B;
    border-left: none;
    cursor: pointer;
    font-size: 22px;
    text-align: left;
}
#selcted-tab .oj-tabs-tab.oj-selected,
#selcted-tab1 .oj-tabs-tab.oj-selected{
    background-color: transparent;
    border-bottom: 2px solid #333 ;
    outline: none;
}
#selcted-tab .oj-tabs-tab.oj-selected .oj-tabs-tab-content,
#selcted-tab1 .oj-tabs-tab.oj-selected .oj-tabs-tab-content{
    border-color: transparent;
    position: relative;
}
.tab-help-side-padding{
    padding: 7px 0px 6px 0px;
    color: #363636;
}
.help-side-icons{
    font-size:40px!important;
    margin-top: -8px !important;

}
.help-side-text{
    line-height: 29px;
    font-size: 25px;
    /* padding: 0px; */
    padding-left: 10px;
    margin-right: 0px;
}
#selcted-tab .oj-tabs-tab.oj-selected .oj-tabs-tab-content div,
#selcted-tab1 .oj-tabs-tab.oj-selected .oj-tabs-tab-content div{
    color:#F9E81F !important;
}
#selcted-tab .oj-tabs-tab.oj-selected .oj-tabs-tab-content::after,
#selcted-tab1 .oj-tabs-tab.oj-selected .oj-tabs-tab-content::after{
    content:  url("../css/images/icon-active-help.png");
    position: absolute;
    right: 20px;
    top: 22px;
}
#selcted-tab .oj-tabs-tab.oj-selected .oj-tabs-tab-content a,
#selcted-tab1 .oj-tabs-tab.oj-selected .oj-tabs-tab-content a{
    /*border-bottom: 2px solid #333;*/
}
#tabs-help-1 .oj-tabs-tab ,
#tabs-help-2 .oj-tabs-tab {
    border-bottom: 2px solid #333;
}


.transbox-help-tabs{
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
    background-color: #b7b7b7;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: -1;
}
#help-top-tab .oj-tabs-tab.oj-selected .oj-tabs-tab-content div{
    color:#689F39 !important;
}
.white-color-underline{
    color:#fff;
    text-decoration: underline;
    font-weight: bolder;
}
.help-text-div{
    font-size: 20px;
    text-align: justify;
    line-height: 27px;
}
.helpTabMinHeight{
    /*min-height: 1200px !important;*/
}
.question-text{
    /*margin-top: 258px;*/
    color: #F9E81F !important;
    text-decoration: underline;
    cursor: pointer;
    font-size: 20px;
    text-align: justify;
    /*line-height: 27px;*/
}
.role-tab-1 {
    margin-right: 11px;
}
.role-tab-2{
    margin-right: 25px;
}
.role-tab-3{
    margin-right: 12px;
}
.role-tab-01{
    margin-right: 16px;
}
.role-tab-04{
    margin-right: 13px;
}
.role-tab-03{
    margin-left: -4px;
}
.question-text2{
    margin-top: 112px;
    color: #F9E81F !important;
    text-decoration: underline;
    cursor: pointer;
    font-size: 20px;
    text-align: justify;
    line-height: 27px;
}
.question-text3{
    margin-top: 175px;
    color: #F9E81F !important;
    text-decoration: underline;
    cursor: pointer;
    font-size: 20px;
    text-align: justify;
    line-height: 27px;
}
#listview-1 .oj-listview-group-item {
    padding: 17px;
    border: 0px;
    /* border-width: 1px; */
    font-size: 25px;
    background-color: rgba(255,255,255,0.3);
    box-sizing: border-box;
    color: #F9E81F;
    outline: none;
}
#listview-2 .oj-listview-group-item {
    padding: 17px;
    border: 0px;
    /* border-width: 1px; */
    font-size: 25px;
    background-color: rgba(255,255,255,0.3);
    box-sizing: border-box;
    color: #F9E81F;
    outline: none;
}
.accordin-margin{
    margin:10px;
}
#a1 .oj-component-icon,
#b1 .oj-component-icon,
#c1 .oj-component-icon{
    float: right !important;
    color: #333;
}
#a2 .oj-component-icon,
#b2 .oj-component-icon,
#c2 .oj-component-icon,
#d2 .oj-component-icon{
    float: right !important;
    color: #333;
}
#tabs-help-1 .oj-listview,
#tabs-help-2 .oj-listview{
    border-width: 0px;
    border-color: transparent;
}
#listview-2 ul li.oj-selected.oj-tabs-tab-content div{
    color: #F9E81F !important;
}
.oj-listview.oj-focus-ancestor .oj-listview-item.oj-focus{
    background-color: transparent !important;
}
#listview-1 .oj-listview-item-element.oj-collapsed .oj-listview-group-item,
#listview-2 .oj-listview-item-element.oj-collapsed .oj-listview-group-item {
    border: 0px;
    color: #333;
    border-bottom: 2px solid #333;
}
#member .oj-listview-item.oj-selected,
#manager .oj-listview-item.oj-selected,
#lead .oj-listview-item.oj-selected,
#plusOne .oj-listview-item.oj-selected,
#requestHelp .oj-listview-item.oj-selected,
#feedbackHelp .oj-listview-item.oj-selected,
#rankHelp .oj-listview-item.oj-selected{
    background-color: transparent;
    border-top: 0px ;
    background-size: 0;
}
#a1 a.oj-clickable-icon-nocontext{
    /*color: #F9E81F;*/
}
#tabs-help .oj-conveyorbelt-overflow-indicator.oj-default,
#tabs-help .oj-conveyorbelt-overflow-indicator.oj-active,
#tabs-help .oj-conveyorbelt-overflow-indicator.oj-hover{
    top: 12px !important;
    color: #878c90 !important;
}
#a1 a.oj-component-icon.oj-clickable-icon-nocontext.oj-listview-expand-icon,
#b1 a.oj-component-icon.oj-clickable-icon-nocontext.oj-listview-expand-icon,
#c1 a.oj-component-icon.oj-clickable-icon-nocontext.oj-listview-expand-icon,
#a2 a.oj-component-icon.oj-clickable-icon-nocontext.oj-listview-expand-icon,
#b2 a.oj-component-icon.oj-clickable-icon-nocontext.oj-listview-expand-icon,
#c2 a.oj-component-icon.oj-clickable-icon-nocontext.oj-listview-expand-icon,
#d2 a.oj-component-icon.oj-clickable-icon-nocontext.oj-listview-expand-icon
{
    color: #F9E81F;
}
.help-bottom{
    margin-bottom: 25px;
}

.main.style1.inactive > .content {
	opacity: 1;
}
.video-img{border:10px solid #000;}
