/*common css classes*/

.oj-web-applayout-max-width{
    max-width: 1170px;
}
body{
    background-image: url("../css/images/pbck.jpg");
    background-size: cover;

}

.nav li{
    float: right;
    font-size: 19px;
    list-style: outside none none;
    margin-left: 23px;
    margin-right: 17px;

}
.navigationlist{
    float:right;
}
.navigationlist ul *,.people-logo2 *,.cross-top *,.check-icon *,.close-icon *{
    color:#000;
}
.border-fix{
    border-bottom: none;
}
.nav1 li{
    float: right;
    font-size: 16px;
    list-style: outside none none;
    margin-left: 17px;
    margin-right: 17px;
    margin-top:25px;
    color:#333;
}
.nav1 li:hover *{
    color:green !important;
    text-decoration:none !important;
}
.header-padding{
    padding:0px;
}

.oj-web-applayout-content {
    padding:0px;
}
.logo{
    height:90px;

}
@media (max-width: 480px) {
    .nav li{
        font-size: 16px !important ;
        margin: 0px 10px !important;
    }
    .logo{
        height:60px;
    }

}
.oj-panel {
    padding-bottom:0px;
}
.section1{
    border-bottom: 2px solid #a6a6a6;

}
.people-logo1{
    text-align:center !important;
    border-radius: 5px 5px 0px 0px;
    margin:8px;
    font-size:44px;
    padding-left: 24px;
}
.people-logo1 a{
    color:#000;
}
.people-logo2{
    text-align:center;
    border-radius: 5px 5px 0px 0px;
    font-size: 44px;
    border-color:#d6d6d6;
    margin:8px;
    background-color:#d9d9d9;
    color:#b8b8b;
}
#forActive li a{
    padding-right: 5px;
}
.slider-text{
    color:#fff;
    font-size:22px;
}
/*font for the slider heading*/ 
@font-face {
    font-family: nameHeading;
    src: url("../css/fonts/Font/Allura-Regular.otf");
}
.slider-heading{
    color:#fff;
    font-family:nameHeading;
    font-size: 40px;
}

.side-box{
    width:295px;
    height:240px;
    opacity: 0.5;
    background-color: #fff;
    margin-top:20px;
    padding: 8px;
}
.slider-color{
    background-color: transparent;
    border-color: transparent;


}
.side-box p{
    font-size: 20px;

}
.right-wrong-icon{
    font-size: 32px;
    border-top: 1px solid;
    margin-top:80px;
}
.cross-top{
    padding-right: 5px;
    font-size: 24px;
    float:right;
    color:#fff !important;
}
.check-icon{
    float:left;
    margin-left:50px;
}
.close-icon{
    padding: 0px 8px 8px 8px;
    float:right;
    margin-right: 50px;
}
.btn-text-green{
    color: #fff;
    font-size: 50px;
    font-weight: normal;
    left: 168px;
    position: absolute;
    top: 60px;
}
.btn-text-red{
    color: #fff;
    font-size: 50px;
    font-weight: normal;
    left: 168px;
    position: absolute;
    top: 60px;
}
.green-button{
    float:left;

    position:relative;
}
.green-button img{
    width: 200px;
    margin:0px 100px;
}
.red-button{
    float:right;
    position:relative;
}
.red-button img{
    margin:0px 90px;
    width: 200px;
}

#slider-wrapper {
    height: 375px;
    overflow: hidden;
    position: relative;
    width: 780px;

}
.slide:hover{
    text-decoration: none;
}
#s1 {
    padding: 6px;
    background: #fff;
    position: absolute;
    left: 50%;
    bottom: 45px;
    margin-left: -19px;
    border-radius: 20px;
    opacity: 0.6;
    cursor: pointer;
    z-index: 999;
}

#s2 {
    padding: 6px;
    background: #fff;
    position: absolute;
    left: 50%;
    bottom: 45px;
    margin-left: 6px;
    border-radius: 20px;
    opacity: 0.6;
    cursor: pointer;
    z-index: 999;
}

#s3 {
    padding: 6px;
    background: #fff;
    position: absolute;
    left: 50%;
    bottom: 45px;
    margin-left: 30px;
    border-radius: 20px;
    opacity: 0.6;
    cursor: pointer;
    z-index: 999;
}

#s4 {
    padding: 6px;
    background: #000000;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: 36px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
}


.inner-wrapper {
    top: 0;
    left: 0;
    margin-bottom: 0px;
    overflow: hidden;
    width: 940px;
    height: 470px;
}
.home-profile-pic{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border:1px solid #000;
}
.control {
    display: none;
}

#Slide1:checked ~ .overflow-wrapper {
    margin-left: 0%;
}

#Slide2:checked ~ .overflow-wrapper {
    margin-left: -100%;
}

#Slide3:checked ~ .overflow-wrapper {
    margin-left: -200%;
}



#Slide1:checked + #s1 {
    opacity: 1;
}

#Slide2:checked + #s2 {
    opacity: 1;
}

#Slide3:checked + #s3 {
    opacity: 1;
}

#Slide4:checked + #s4 {
    opacity: 1;
}

.overflow-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: hidden;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 400%;
    height: 100%;
}

.slide  {
    float: left;
}
.edit-btn{
    margin-top:18px;
    font-size:24px;
}
.edit-btn span{
    float:left;
    border-radius: 50%;
    background-color: #4e4643 !important;
    width: 50px;
    height:50px;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=11, Direction=187, Color=#333333)";/*IE 8*/
    -moz-box-shadow: -1px 8px 11px #333333;/*FF 3.5+*/
    -webkit-box-shadow: -1px 8px 11px #333333;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: -1px 8px 11px #333333;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=11, Direction=187, Color=#333333); /*IE 5.5-7*/
}
.edit-btn span i{
    padding: 10px 13px;
}
.profile-text{
    float:right;
    font-size:25px;
}
.profile-pic{
    float: left;
    font-size: 145px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.profile-name{
    margin-left: -98px;
    margin-top: 39px;
}
.profile-content{
    float: left;
    margin-left: 45px;
    margin-top: 75px;

}
.verticalbar{
    border-right: 1px solid #333;
    margin-top: 2px;
    padding-right: 55px;
}
