/*common css classes*/

.oj-web-applayout-max-width{
    max-width: 1170px;
}
body{
    background-image: url("../css/images/pbck.jpg");
    background-size: cover;

}

.nav li{
    float: right;
    font-size: 19px;
    list-style: outside none none;
    margin-left: 23px;
    margin-right: 17px;

}
.navigationlist{
    float:right;
}

.border-fix{
    border-bottom: none;
}
.nav1 li{
    float: right;
    font-size: 16px;
    list-style: outside none none;
    margin-left: 17px;
    margin-right: 17px;
    margin-top:25px;
    color:#333;
}

.header-padding{
    padding:0px;
}

.oj-web-applayout-content {
    padding:0px;
}
.logo{
    height:90px;

}
@media (max-width: 480px) {
    .nav li{
        font-size: 16px !important ;
        margin: 0px 10px !important;
    }
    .logo{
        height:60px;
    }

}
.oj-panel {
    padding-bottom:0px;
}
.section1{
    border-bottom: 2px solid #a6a6a6;

}
.people-logo1{
    text-align:center !important;
    border-radius: 5px 5px 0px 0px;
    margin:8px;
    font-size:44px;
    padding-left: 24px;
}
.people-logo1 a{
    color:#000;
}
.people-logo2{
    text-align:center;
    border-radius: 5px 5px 0px 0px;
    font-size: 44px;
    border-color:#d6d6d6;
    margin:8px;
    background-color:#d9d9d9;
    color:#b8b8b;
}
#forActive li a{
    padding-right: 5px;
}
.slider-text{
    color:#fff;
    font-size:22px;
}
/*font for the slider heading*/ 
@font-face {
    font-family: nameHeading;
    src: url("../css/fonts/Font/Allura-Regular.otf");
}
.slider-heading{
    color:#fff;
    font-family:nameHeading;
    font-size: 40px;
}

.side-box{
    width:295px;
    height:240px;
    opacity: 0.5;
    background-color: #fff;
    margin-top:20px;
    padding: 8px;
}
.slider-color{
    background-color: transparent;
    border-color: transparent;


}
.side-box p{
    font-size: 20px;

}
.right-wrong-icon{
    font-size: 32px;
    border-top: 1px solid;
    margin-top:80px;
}
.cross-top{
    padding-right: 5px;
    font-size: 24px;
    float:right;
    color:#fff !important;
}
.check-icon{
    float:left;
    margin-left:50px;
}
.close-icon{
    padding: 0px 8px 8px 8px;
    float:right;
    margin-right: 50px;
}
.btn-text-green{
    color: #fff;
    font-size: 50px;
    font-weight: normal;
    left: 168px;
    position: absolute;
    top: 55px;
}
.btn-text-red{
    color: #fff;
    font-size: 50px;
    font-weight: normal;
    left: 168px;
    position: absolute;
    top: 55px;
}
.btn-text-red1{
    color: #fff;
    font-size: 50px;
    font-weight: normal;
    left: 10px;
    position: absolute;
    top: 55px;
}
.green-button{
    float:left;

    position:relative;
}
.green-button img{
    width: 200px;
    margin:0px 100px;

}
.red-button{
    float:right;
    position:relative;
    cursor: pointer;
}
.red-button img{
    margin:0px 90px;
    width: 200px;
}
.red-button1 img{
    margin:0px 70px;
    width: 200px;
}

#slider-wrapper, #slider-wrapper1 {
    height: 375px;
    overflow: hidden;
    position: relative;
    width: 780px;

}
.slide:hover,.slide1:hover{
    text-decoration: none;
}
#s1, #s12 {
    padding: 6px;
    background: #fff;
    position: absolute;
    left: 50%;
    bottom: 45px;
    margin-left: -19px;
    border-radius: 20px;
    opacity: 0.6;
    cursor: pointer;
    z-index: 999;
}

#s2, #s22 {
    padding: 6px;
    background: #fff;
    position: absolute;
    left: 50%;
    bottom: 45px;
    margin-left: 6px;
    border-radius: 20px;
    opacity: 0.6;
    cursor: pointer;
    z-index: 999;
}

#s3 , #s32{
    padding: 6px;
    background: #fff;
    position: absolute;
    left: 50%;
    bottom: 45px;
    margin-left: 30px;
    border-radius: 20px;
    opacity: 0.6;
    cursor: pointer;
    z-index: 999;
}



.inner-wrapper {
    top: 0;
    left: 0;
    margin-bottom: 0px;
    overflow: hidden;
    width: 940px;
    height: 470px;
}
.home-profile-pic{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border:1px solid #fff;
}
.control {
    display: none;
}

#Slide1:checked ~ .overflow-wrapper, #Slide12:checked ~ .overflow-wrapper {
    margin-left: 0%;
}

#Slide2:checked ~ .overflow-wrapper ,#Slide22:checked ~ .overflow-wrapper {
    margin-left: -100%;
}

#Slide3:checked ~ .overflow-wrapper ,#Slide32:checked ~ .overflow-wrapper {
    margin-left: -200%;
}



#Slide1:checked + #s1, #Slide12:checked + #s12 {
    opacity: 1;
}

#Slide2:checked + #s2 ,#Slide22:checked + #s22 {
    opacity: 1;
}

#Slide3:checked + #s3,#Slide32:checked + #s32  {
    opacity: 1;
}


.overflow-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: hidden;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 400%;
    height: 100%;
}

.slide,.slide1  {
    float: left;

}
.edit-btn{
    margin-top:18px;
    font-size:24px;
}
.edit-btn span{
    float:left;
    border-radius: 50%;
    background-color: #4e4643 !important;
    width: 50px;
    height:50px;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=11, Direction=187, Color=#333333)";/*IE 8*/
    -moz-box-shadow: -1px 8px 11px #333333;/*FF 3.5+*/
    -webkit-box-shadow: -1px 8px 11px #333333;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: -1px 8px 11px #333333;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=11, Direction=187, Color=#333333); /*IE 5.5-7*/
}
.edit-btn span i{
    padding: 10px 13px;
}
.profile-text{
    float:right;
    font-size:25px;
}
.profile-pic{
    float: left;
    font-size: 145px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border : 2px solid #fff;
}
.profile-name{
    margin-left: -98px;
    margin-top: 39px;
}
.profile-content{
    float: left;
    margin-left: 45px;
    margin-top: 75px;

}
.verticalbar{
    border-right: 1px solid #333;
    margin-top: 2px;
    padding-right: 55px;
}

/*flaoting button */

.container {
    position: fixed;
    margin: 1em;
    right: 3%;
    bottom: 40px;
    z-index: 10;
}

.buttons {
    box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 
        0px 4px 12px -7px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    display: block;
    width: 62px;
    height: 62px;
    margin: 10px auto 0;
    position: relative;
    -webkit-transition: all  0.80s ease-out;
    transition: all 0.30s ease-out;
}

.buttons:active, 
.buttons:focus, 
.buttons:hover {
    box-shadow: 0 0 4px rgba(0,0,0,.14),
        0 4px 8px rgba(0,0,0,.28);
}

.buttons:not(:last-child) {
    width: 45px;
    height: 45px;
    margin: 20px auto 0;
    opacity: 0;
/*    display:none;*/
/*     -webkit-transition: display  0.80s !important;
    transition: display 0.30s !important;*/
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
}

.container:hover 

.buttons:not(:last-child) {
    opacity: 1;
    /*display:block;*/
/*     -webkit-transition: display  0.80s !important;
    transition: display 0.30s !important;*/
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    margin: 7px auto 0;
}

/*Unessential styling for sliding up buttons at differnt speeds*/ 

.buttons:nth-last-child(1) {
    -webkit-transition-delay: 25ms;
    transition-delay: 25ms;
    background-color:#78A95A;
    background-size: contain;
}

.buttons:not(:last-child):nth-last-child(2) {
    -webkit-transition-delay: 50ms;
    transition-delay: 20ms;
    background-color: #ED6648; 
    background-size: contain;
}

.buttons:not(:last-child):nth-last-child(3) {
    -webkit-transition-delay: 75ms;
    transition-delay: 40ms;
    background-color:#2780B5;
    background-size: contain;
}

.buttons:not(:last-child):nth-last-child(4) {
    -webkit-transition-delay: 100ms;
    transition-delay: 60ms;
    background-color: #607D8B;
    background-size: contain;
}
.floatingIcons{
    position: absolute;
    top: 12px;
    left: 19px;
    font-size: 38px!important;
    font-weight: bolder !important;
    color: #fff;
}
.floatIcons{
    position: absolute;
    top: 10px;
    left: 12px;
    font-size: 27px!important;
    font-weight: bolder !important;
    color: #fff;
}

#ojDialogWrapper-modalDialog1.oj-dialog  {
    overflow: hidden;
    width: 556px;
    height: 541px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    /*    top: 175px !important;
        left: 613px !important;*/
}
#ojDialogWrapper-modalDialog8.oj-dialog,#ojDialogWrapper-modalDialog2.oj-dialog{
    overflow: hidden;
    width: 556px;
    height: 541px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    /*    top: 175px !important;
        left: 613px !important;*/
}

#ojDialogWrapper-modalDialog9.oj-dialog,#ojDialogWrapper-modalDialog3.oj-dialog,#ojDialogWrapper-modalDialogRequest.oj-dialog{
    overflow: hidden;
    width: 484px;
    height: 443px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    /*    top: 175px !important;
        left: 613px !important;*/
}
.buddyTab{
    margin-top: -78px;
}
.buddyTab1{
    font-size: 37px;
    border-radius: 5px !important;
    width: 90px;
    text-decoration: none;
    text-align: center;
    background-color: grey;
    color:green;
}
.buddyTab2{
    font-size: 35px;
    border-radius: 5px !important;
    width: 90px;
    text-decoration: none;
    text-align: center;
    background-color: grey;
    color:green;
}

.buddyHeader {
    padding-right: 10px;
    text-align: center;
    font-size: 24px;
}
.modalImage{
    width: 70px;
}
.modal-submit{
    background-color: #ff6241 !important;
    color: #fff !important;
    cursor: pointer !important;
    font-size: 24px;
    height: 48px;
    margin-top: 24px;
    outline: medium none;
    width: 38%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#6f6d6d)";
    -moz-box-shadow: 3px 3px 3px #6f6d6d;
    -webkit-box-shadow: 3px 3px 3px #6f6d6d;
    box-shadow: 3px 3px 3px #6f6d6d;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#6f6d6d);
}
.areaFloat{
    width: 385px;
    height: 148px;
    border: solid 1px #dcdcdc;
    margin-left: 17px;
    background-color: #fff;
    margin-left: 37px;
}
.area {
    width: 465px;
    height: 165px;
    border: solid 1px #dcdcdc;
    margin-left: 17px;
    background-color: #fff;
    margin-left: 21px;
}
.area-Feedback {
    width: 465px;
    height: 162px;
    border: solid 1px #dcdcdc;
    margin-left: 17px;
    background-color: #fff;
    margin-left: 21px;
}
.textArea2{
    height: 163px;
    border: none;
    width: 278px;
}
.textArea3{
    height: 143px;
    border: none;
    width: 278px;
}
.imgArea{
    float: right;
    margin-top: 6px;
    width: 80px;
    margin-right: 30px;
    cursor: pointer;
}
.areaContent{
    float:left;
}
.areaContent1{
    float:left;
    width: 100%;
}

.mText{
    position: absolute;
    top: 15px;
    left: 30px;
    color: #fff;
    font-weight: bolder;
    font-size: 24px;
}
.errorText{
    color:red;
    margin-left: -2px;
}
.errorFix1{
    margin-left: 60px;
}
#ojDialogWrapper-modalDialog2 .oj-dialog-title {
    font-size: 22px;
    text-align: center;
}
#ojDialogWrapper-modalDialog2 .oj-dialog-header.oj-helper-clearfix.ui-draggable-handle,
#ojDialogWrapper-modalDialogRequest .oj-dialog-header.oj-helper-clearfix.ui-draggable-handle {
    background-color: #dcdcdc;
}
#ojDialogWrapper-modalDialog1 .oj-dialog-title {
    font-size: 22px;
    text-align: center;
}
#ojDialogWrapper-modalDialog1 .oj-dialog-header.oj-helper-clearfix.ui-draggable-handle {
    background-color: #dcdcdc;
}
.modal-submitFloatFeddback{
    background-color: #ff6241 !important;
    color: #fff !important;
    cursor: pointer !important;
    font-size: 24px;
    height: 48px;
    margin-top: 24px;
    outline: medium none;
    width: 38%;
    
}
.modal-submit1{
    background-color: #ff6241 !important;
    color: #fff !important;
    cursor: pointer !important;
    font-size: 24px;
    height: 48px;
    margin-top: 24px;
    outline: medium none;
    width: 38%;
    float: left !important;
    margin-left: 150px;
}
#ojDialogWrapper-modalDialog2 .oj-dialog-title::before {
    background-image: url("../css/images/star_1.png");
    background-size: 23px 23px;
    content: "";
    display: inline-block;
    width: 40px;
    height: 24px;
    background-repeat: no-repeat;

}
#ojDialogWrapper-modalDialog1 .oj-dialog-title::before {
    background-image: url("../css/images/star_1.png");
    background-size: 23px 23px;
    content: "";
    display: inline-block;
    width: 40px;
    height: 24px;
    background-repeat: no-repeat;

}
.imgArea1 {
    float: right;
    margin-top: 39px;
    width: 101px;
    margin-right: 17px;
    cursor: pointer;
    border-left: 1px solid #dcdcdc;
    padding-left: 20px;
}
.mText1 {
    position: absolute;
    top: 16px;
    left: 22px;
    color: #fff;
    font-weight: bolder;
    font-size: 24px;
}
.oj-dialog-body {
    background-color: #fff !important;
}

/*top 10 ranks page side section*/
.rankBlock{
    color:#fff !important ;
}

.headingRank{
    color: #fff !important;
    font-weight: normal;
    font-size: 28px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 25px;
    border-bottom: 4px solid #78A95A;
}
.rankText{
   font-size: 60px;
    font-weight: bolder;
    height: 210px;
    padding-top: 47px;
    text-align: center;
}
.countBlock{
    margin-bottom: 20px;
}
#tabs-container .oj-tabs-nav{
    margin-left: 12px;
}
.tabIcon{
    color:green;  
}
#tabs-container .oj-tabs-tab.oj-selected {
    border-color: green;
}
.searchArea{
    margin-bottom: 51px;
    margin-top: 23px;
    text-align: center;
}
#ojDialogWrapper-modalDialog3 .oj-dialog-close-icon,
#ojDialogWrapper-modalDialog9 .oj-dialog-close-icon,
#ojDialogWrapper-modalDialog8 .oj-dialog-close-icon,
#ojDialogWrapper-modalDialog2 .oj-dialog-close-icon,
#ojDialogWrapper-modalDialog1 .oj-dialog-close-icon,
#ojDialogWrapper-modalDialogRequest .oj-dialog-close-icon{
    background-color: grey;
    border-color: transparent;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    cursor: pointer;
    font-size: 27px;
    margin-right: -8px;
    margin-top: -6px;
    padding: 15px;
}
.oj-dialog-header-close-wrapper {
    margin: -8px;
    padding: 0;
}
#ojDialogWrapper-modalDialog3 .oj-dialog-title {
    font-size: 22px;
    text-align: center;
}

#ojDialogWrapper-modalDialog9 .oj-dialog-title::before,
#ojDialogWrapper-modalDialog8 .oj-dialog-title::before,
#ojDialogWrapper-modalDialog3 .oj-dialog-title::before
{ 
    background-repeat: no-repeat;
    background-size: 15px 15px;
    content: "";
    display: inline-block;
    height: 24px;
    width: 40px;

}
#ojDialogWrapper-modalDialogRequest .oj-dialog-title::before{
    background-size: 23px 23px;
    content: "";
    display: inline-block;
    width: 40px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url("../css/images/request.png");
    background-position: 10px 3px;

}
#ojDialogWrapper-modalDialog3 .oj-dialog-title::before{
    background-image: url("../css/images/star_1.png");
    background-position: 15px 8px;
}
#ojDialogWrapper-modalDialog9 .oj-dialog-title::before,
#ojDialogWrapper-modalDialog8 .oj-dialog-title::before
{
    background-image: url("../css/images/feedback-icon.png");
    background-position: 15px 9px;
    background-size: 15px 15px;

}
#ojDialogWrapper-modalDialog9 .oj-dialog-title,#ojDialogWrapper-modalDialog8 .oj-dialog-title,#ojDialogWrapper-modalDialogRequest .oj-dialog-title {
    font-size: 22px;
    text-align: center;
}

#ojDialogWrapper-modalDialog3  .oj-dialog-content,
#ojDialogWrapper-modalDialog9  .oj-dialog-content,
#ojDialogWrapper-modalDialog8  .oj-dialog-content,
#ojDialogWrapper-modalDialogRequest  .oj-dialog-content  {
    background-color: #fff !important;
}
.modal-submit3{
    background-color: #ff6241 !important;
    color: #fff !important;
    cursor: pointer !important;
    font-size: 24px;
    height: 48px;
    margin-top: 25px;
    outline: medium none;
    width: 38%;
}

.searchImage{
    width: 30px;
    border-radius: 50%;
    margin-top: 5px;
}
.autoName{
    margin-top: -3px;
    line-height: 44px;
}
.imgSearch{
    height: 30px;
    width: 42px;
    float: left;
}
#oj-combobox-choice-combobox3.oj-combobox-choice,#oj-combobox-choice-combobox2.oj-combobox-choice,#oj-combobox-choice-combobox9.oj-combobox-choice{
    background-color: #f0f0f0;
    border-style: solid;
    border-color: #c4ced7;
    border-width: 1px;
    border-radius: 7px;   
}
#tabs-container .oj-tabs-title {
    color: #000;
}
#tabs-container .oj-tabs-title-active {
    color: green;
}
#ui-id-4 .oj-hover{
    text-decoration: none !important; 
}
#oj-combobox-input-combobox3.oj-combobox-input,
#oj-combobox-input-combobox2.oj-combobox-input,
#oj-combobox-input-combobox9.oj-combobox-input{
    background-color: #f0f0f0;
}
#ojChoiceId_combobox3.oj-combobox,#ojChoiceId_combobox2.oj-combobox,#ojChoiceId_combobox9.oj-combobox{
    max-width:25em !important;
}
.hoverTab1{
    background-color: #fffff0;
    border-radius: 2px;
    color: #000;
    font-size: 13px;
    left: 12px;
    margin-top: 12px;
    padding: 12px;
    position: absolute;
    top: -60px;
    display:none;
    text-decoration: none !important;
}
.oj-tabs-horizontal > .oj-tabs-nav-root .oj-tabs-tab{
    position: static;
}
.hoverTab2{
    background-color: #fffff0;
    border-radius: 2px;
    color: #000;
    font-size: 13px;
    left: 110px;
    margin-top: 12px;
    padding: 12px;
    position: absolute;
    top: -60px;
    display:none;  
    text-decoration: none !important;
}
.buddyTab1 :hover .hoverTab1{
    display: block;
}
.buddyTab2 :hover .hoverTab2{
    display: block;
}
.hoverTab5 {
    background-color: #E7FCD5;
    border-radius: 2px;
    color: #000;
    font-size: 13px;
    left: 8px;
    margin-top: 12px;
    padding: 12px;
    position: absolute;
    top: -72px;
    display: none; 
    text-decoration: none !important;
}
.buddyTab5 :hover .hoverTab5{
    display: block;
}
.hoverTab6 {
    background-color: #E7FCD5;
    border-radius: 2px;
    color: #000;
    font-size: 13px;
    left: 96px;
    margin-top: 12px;
    padding: 12px;
    position: absolute;
    top: -72px;
    display: none; 
    text-decoration: none !important;
}
.buddyTab6 :hover .hoverTab6{
    display: block;
}
.hoverTabRequest1{
    background-color: #fffff0;
    border-radius: 2px;
    color: #000;
    font-size: 13px;
    left: 5px;
    padding: 8px;
    position: absolute;
    top: -38px;
    display: none; 
    text-decoration: none !important;
}
.buddyTab3 :hover .hoverTabRequest1{
    display: block;
}
.hoverTabRequest2{
    background-color: #fffff0;
    border-radius: 2px;
    color: #000;
    font-size: 13px;
    left: 86px;
    padding: 8px;
    position: absolute;
    top: -38px;
    display: none; 
    text-decoration: none !important;
}
.buddyTab4 :hover .hoverTabRequest2{
    display: block;
}
.buddyTabRequest{
    background-color: #fffff0;
    border-radius: 2px;
    color: #000;
    font-size: 13px;
    left: 0px;
    padding: 8px;
    position: absolute;
    top: -38px;
    display: none; 
    text-decoration: none !important;
}
.buddyTab4 :hover .buddyTabRequest{
    display: block;
}
.buddyTab3:hover:before  {
    content: "";
    border-top: 10px solid #fffff0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    position: absolute;
    top: -10px;
    left: 24px;
    color: #fffff0;
}

.hoverTabRequest2:after{
       content: "";
    border-top: 10px solid #fffff0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    position: absolute;
    top: 30px;
    left: 35px;
    color: #fffff0;
}
.buddyTabRequest:after  {
    content: "";
    border-top: 10px solid #fffff0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    position: absolute;
    top: 30px;
    left: 29px;
    color: #fffff0;
}
.buddyTab3{
    font-size: 37px;
    border-radius: 5px 5px 0 0 !important;
    width: 90px;
    text-decoration: none;
    text-align: center;
    background-color: grey;
    color:green;
}
.buddyTab4{
    font-size: 40px;
    border-radius: 5px !important;
    width: 90px;
    text-decoration: none;
    text-align: center;
    background-color: grey;
    color:green;
}
.buddyTab5{
    font-size: 40px;
    border-radius: 5px 5px 0 0 !important;
    width: 90px;
    text-decoration: none;
    text-align: center;
    background-color: grey;
    color:green;
}
.buddyTab6{
    font-size: 38px;
    border-radius: 5px !important;
    width: 90px;
    text-decoration: none;
    text-align: center;
    background-color: grey;
    color:green;
}
.buddyTab1:hover:before  {
    content: "";
    border-top: 10px solid #fffff0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    position: absolute;
    top: -10px;
    left: 36px;
    color: #fffff0;
}
.buddyTab2:hover:before  {
    content: "";
    border-top: 10px solid #fffff0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    position: absolute;
    top: -10px;
    left: 132px;
    color: #fffff0;
}
.buddyTab5:hover:before  {
    content: "";
    border-top: 9px solid #E7FCD5;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    position: absolute;
    top: -9px;
    left: 44px;
    color: #fffff0;
}
.buddyTab6:hover:before  {
    content: "";
    border-top: 9px solid #E7FCD5;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    position: absolute;
    top: -9px;
    left: 130px;
    color: #fffff0;
}
#tabs ul li i{
    text-decoration: none !important;
}
#tabs3 ul li i{
    text-decoration: none !important;
}
.textArea-feedback{
    height: 157px;
    border: none;
    width: 463px;
}
.textArea-feedbackFloat{
    height: 143px;
    border: none;
    width: 383px;
}

.feedbackAlignment{
    text-align: justify;
    padding-left: 5px;
    padding-right: 8px;
    padding-bottom: 8px;
}
.sliderScreen{
    color: #fff !important;
    font-family: nameHeading;
    font-size: 62px;
    margin-left: 33px;
    margin-right: 41px;
    margin-top: 50px;
}
.sliderSmiley{
    border: 0 none;
    margin-left: 345px;
    text-align: center;
}
/*.oj-dialog #modalDialogRequest{
    height: 440px !important;
    width: 535px !important;
}*/
.white{
    color:#fff;
}
.modal-submitRequest{
    background-color: #ff6241 !important;
    color: #fff !important;
    cursor: pointer !important;
    font-size: 24px;
    height: 48px;
    margin-top: 25px;
    outline: medium none;
    width: 38%;
    float: left !important;
    margin-left: 25%;
}
.searchLead{
    margin-top: -3px;
    line-height: 44px;
    word-spacing: -3px;
}


.sucessMsg{
    background-color:#E7FCD5;
    color: #000;
    top: 138px;
    left: 620px;
    position: absolute;
    border-radius: 5px;
    font-size: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 50px;
    padding-right: 50px;
}
.sucessMsgMyteam{
    background-color:#E7FCD5;
    color: #000;
    top: 0px;
    left: 620px;
    position: fixed;
    border-radius: 5px;
    font-size: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 999999;
}
.sucessMsgRate{
    background-color:#E7FCD5;
    color: #000;
    border-radius: 5px;
    font-size: 17px;
    padding-top: 22px;
    padding-bottom: 14px;
    padding-left: 50px;
    padding-right: 50px; 
    margin: 0px auto;

}
#sucess{
    display:none;
}
#sucessRate{
    display:none;
}
.transboxRequest{
    position: relative;
    margin-left: -12px;
    min-height: 810px;

}
.requestHeading{
    font-weight: bold;
    color:#fff;
    font-size: 24px;
}
.requestCOntent{
    border: solid 1px green;
    color:#fff;

}
.modal-submitRequest1 {
    background-color: #ff6241 !important;
    color: #fff !important;
    cursor: pointer !important;
    font-size: 22px;
    height: 42px;
    margin-top: 15px;
    margin-bottom: s 15px;
    outline: medium none;
    width:38%;
    float: left !important;
    margin-left: 110px;
    border: 1px solid orangered;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#6f6d6d)";
    -moz-box-shadow: 3px 3px 3px #6f6d6d;
    -webkit-box-shadow: 3px 3px 3px #6f6d6d;
    box-shadow: 3px 3px 3px #6f6d6d;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#6f6d6d);
}
.textArea-request {
    height: 113px;
    border: none;
    width: 309px;
    outline: none;
    border: 1px solid green;
    color: #fff !important;
    background: none;
    resize: none;
    margin-left: -29px;
}
.oj-textarea  placeholder {
    color:#fff;
}
#tabs-container1 .oj-tabs-tab.oj-selected {
    border-color: green;
}
#tabs-container3 .oj-tabs-tab.oj-selected {
    border-color: green;
}
.rate1Inactive{
    display:none;
}
#rate2Active{
    display:none;
}
.recentInfo0{
    background-color: #E7FCD5;
    border-radius: 5px;
    display: block;
    position: absolute;
    bottom: 125px;
    visibility: hidden;
    color: #000;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 25px;
    margin: 0px auto;
    padding-right: 25px;
    left: 74px;
}
.recentInfo1{
    background-color: #E7FCD5;
    border-radius: 5px;
    display: block;
    left: 353px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 27px;
    padding-right: 27px;
    position: absolute;
    bottom: 125px;
    visibility: hidden; 
    color: #000;
    /* margin-left: 64px; */
}
.recentInfo2{
    background-color: #E7FCD5;
    border-radius: 5px;
    display: block;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 27px;
    padding-right: 27px;
    position: absolute;
    bottom: 128px;
    visibility: hidden; 
    color: #000;
    /* left: 58px; */
    margin-left: 45px;
}
.recentInfo3{
    background-color: #E7FCD5;
    border-radius: 5px;
    display: block;
    /* left: 126px; */
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 27px;
    padding-right: 27px;
    position: absolute;
    bottom: 125px;
    visibility: hidden; 
    color: #000;
    margin-left: 65px;
}
.hoverContent0:hover .recentInfo0{
    visibility: visible !important;
}
.hoverContent1:hover .recentInfo1{
    visibility: visible !important;
}
.hoverContent2:hover .recentInfo2{
    visibility: visible !important;
}
.hoverContent3:hover .recentInfo3{
    visibility: visible !important;
}
.recentInfo0:after  {
    content: "";
    border-top: 11px solid #E7FCD5;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    position: absolute;
    bottom: -11px;
    left: 60px;
    color: #fffff0;
    margin: 0px auto;
}
.recentInfo1:after  {
    content: "";
    border-top: 11px solid #E7FCD5;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    position: absolute;
    bottom: -11px;
    left: 67px;
    color: #fffff0;
}
.recentInfo2:after  {
    content: "";
    border-top: 11px solid #E7FCD5;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    position: absolute;
    bottom: -11px;
    /* left: 60px; */
    color: #fffff0;
}
.recentInfo3:after  {
    content: "";
    border-top: 11px solid #E7FCD5;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    position: absolute;
    bottom: -11px;
    left: 67px;
    color: #fffff0;
}
.text-hover{
    color: #000;
}
.sliderScreen-NoRatings{
    color: #fff !important;
    font-family: nameHeading;
    font-size: 68px;
    text-align: center;
    margin-top: 50px;
}
.sliderSmiley-NoRatings{
    color: #fff !important;
    font-family: nameHeading;
    text-align: center;
}
.home-hr{
    margin-top: 15px;
    margin-left: 13px;
    border: solid #d6dfe6;
    border-width: 1px 0 0;
}
.View-Other-about{
    padding: 14px;
    font-size: 23px;
    border-bottom: 1px solid #689F39;
}
.text-about{
    display: block;
    margin-left: 43px;
    width: 100%;
    color: #F9E81F;
    font-size: 23px;
    /*font-weight: bolder;*/
}
.textInfo{
    color: yellow;
    margin-left: 36px;
}
.about-icons{
    font-size: 38px !important;
    color: #F9E81F;
}
.icon-div{
    float: left;
    width: 40px;
}
.heightCol{
    line-height: 42px;
}
.heightCol2{
    line-height: 48px;
}
.heightCol5{
    line-height: 22px;
}
.tabHeight{
    height:700px;
}
.tabHeightNew{
    height: 352px;
}
.tabMinHeight{
    min-height:700px !important;
}
.transbox1{
      border:2px solid #fee123;
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
    position: absolute;
    top:0px;
    left:0px;
    z-index: -1;
}
.transbox2{
      border:1px solid red;
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
    position: absolute;
    top:0px;
    left:0px;
    z-index: -1;
}
.transbox3{
    border:2px solid green;
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
    position: absolute;
    top:0px;
    left:0px;
    z-index: -1;
}
.overflow-class{
    overflow: auto;
    word-wrap: break-word
}
.feedback-profile{
    margin-top: 60px;
    height: 85%;
}
.text-height{
    line-height: 32px;
}
.edit-height{
     font-size: 30px;
}
.addImage{
    background-image: url("../../images/+1-icon-active.png");
    height: 20px;
    width: 30px;   
}
#negetiveTab , #feedbackTab{
    display:none;
}
.oj-filmstrip-arrow.oj-default .oj-filmstrip-arrow-icon{
    color: #fff;
    font-size: 40px;
}
.oj-filmstrip-arrow.oj-hover {
    background-color: transparent !important;
    border-color:transparent !important;
}
.View-Other-about-members{
    padding: 17px;
    font-size: 23px;
    border-bottom: 1px solid #689F39;   
}
.padding-feedback{
    padding: 1px;
}
.content1{
    margin-left: 40px;
}
.content2{
    margin-left: -40px;
}
.replyDate{
   font-size: 12px;
}
.text-hover-name{
    color: #000;
    font-weight: bold;
}
.request-pic{
    margin-left: 139px;
}
