/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 Sep, 2016, 11:18:58 AM
    Author     : shiva
*/

html {
    height: 100%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body{
    position: relative;
    width: 100%;
    min-height: 100%;
    padding-bottom: 38px;
}
/*container*/
.max-width{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    width: 100% !important;
}
.max-width:after, .max-width:before{
    content:'';
    display:table;
}
.max-width:after{
    clear:both

}
.footer{
    position: absolute;
    background-color:#689F39;
    right: 0;
    bottom: 0;
    left: 0;
    color:#fff;
    z-index: 3;
}
/*header section start*/
.notification{
    position: absolute;
    top: 45px;
    left: -140px;
    background-color: #fff;
    width: 290px;
    border-radius: 10px;
    border:1px solid;
}
.notification-overflow{
    max-height: 200px;
    min-height: 80px;
    overflow-y: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.notification-content{
    display:table;
}
.notification-content div:first-child{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.notification-content div:nth-child(2){
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    font-size: 14px;
}
.notification-content div:first-child span i{
    margin-left: 5px;
    margin-top: 5px;
}
.notification-content div:first-child span{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #333;
    float:left;
}
.notification-background{
    background-color: #F0F8E9;
}
.notification:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    position: absolute;
    top: -10px;
    left: 44%;
}
.notification-padding{
    padding: 0.8571rem 0.8571rem 0.8571rem 0.8571rem;
}
.active *{
    color: #fff !important;
    font-weight: bold;
}
.active{
    border-bottom: 4px solid #fff;
}
/*header section end*/
.showup{
    position: relative;
    z-index: 10;
}
.center{
    text-align: center;
}
/*background-image*/
.background{
    background: url('../images/background.jpg') no-repeat fixed;
    background-size:cover;
    background-position:center;
}
/*transbox on profile page and home page*/
.transbox{
    opacity: 0.2;
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
    background-color:#fff;
    position: absolute;
    top:0px;
    left:0px;
    height:100%;
    z-index: -1;
}
/* shadow */
.box-shadow{
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color=#333333)";/*IE 8*/
    -moz-box-shadow: 5px 5px 7px #333333;/*FF 3.5+*/
    -webkit-box-shadow: 5px 5px 7px #333333;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 5px 5px 7px #333333;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color=#333333); /*IE 5.5-7*/
}
.pos-relative{
    position: relative;
}
.profile{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.border-color-green{
    border:3px #689F39 solid;
}
.border-transbox{
    border: 1px solid rgba(136,212,75,0.7);
}
.color-black{
    color: #363636 !important;
}
.border-color-white{
    border:2px #fff solid;
}
.bottom-feedback{
    margin-top:20px;
}
.color-white{
    color:#fff;
}

.border-right{
    border-right:1px solid rgba(136,212,75,0.5);
    margin-top:10px;
    margin-bottom:10px;
}
.showup *{
    color:#fff;
}
.right{
    float: right;
}
.left{
    float:left;
}
/*Profile page css*/
.profile-tabs{
    padding: 46px 35px 47px 35px;
    text-align: center;
    border-bottom: 1px solid #85D44B;
    border-left: none;
    cursor: pointer;
}
.profile-font-tabs{
    font-size: 25px;
}
ul.profile-ul{
    padding: 0px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}
ul li.selectedTab div a.oj-tabs-gen-a.oj-tabs-anchor {
    color:#fff !important;
}
ul li.selectedTab:not(.oj-selected) *{
    color:#fff !important;
    text-decoration: none;
}
ul li.oj-selected.selectedTab{
    border-left: none;
    border-right: 5px solid #85D44B !important;
    background-color: #fff !important;
}
ul li.selectedTab:not(:last-child){
    border-bottom: 1px solid #809f6d !important;
}
ul li.selectedTab.oj-hover.oj-tabs-tab span.oj-tabs-title{
    text-decoration: none !important;
}
ul li.oj-selected.selectedTab div a.oj-tabs-gen-a.oj-tabs-anchor span.oj-tabs-title{
    color:#85D44B !important;
}
ul li.selectedTab div {
    border:none;
}
div.profile-page{
    height: 600px;
}
div.oj-tabs-panel.oj-tabs-selected{
    background: none;
    border:none;
}
.profile-tab1-data{
    display: flex;
    padding-top: 7px;
    padding-bottom: 7px;
}
.profile-tab1-data:not(:last-child){
    border-bottom: 1px solid rgba(119,168,89,0.3) !important;
}
.profile-tab1-data:nth-child(1) i{
    font-size: 85px;
    margin: 24px;

}
.profile-tab1-data:not(:nth-child(1)) i{
    font-size: 70px;
    margin: 20px;
    padding-bottom: 10px;
}
.profile-tab1-data:first-child span{
    font-size: 24px;
    margin:50px 10px 10px 10px;
}
.profile-tab1-data:not(:first-child) span{
    font-size: 24px;
    margin:40px 10px 10px 10px;
}
.profile-page-overflow{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow-y: auto;
}
.myname-profile{
    font-weight: 600;
    font-size: 25px;
}
.profile-rating-circle{
    margin: 0 50px 20px;
    height: 35px;
    width: 35px;
    border:3px solid;
    border-radius: 50%;
    float: left;
}
.circle-green{
    border-color: #D6F6C0;
    background-color: #689F39;
}
.circle-red{
    border-color: #FF7a7a;
    background-color: #e00000;
}
.rating-info{
    padding: 0px 10px 10px 10px;
    margin-bottom: 10px;
    margin-left: 125px;
}
/*positive and negative comments*/
.comment{
    font-weight: 500;
    font-size:20px;
}
.commenter{
    font-weight: 200px;
    font-size: 16px;
    color:#FFF;
}
.commented-date{
    color:#d3d3d3;
}
.noComments{
    margin: 50px 10px;
    text-align: center;
    font-size: 30px;
}
.transline{
    width: 1px;
    height: 100%;
    background-color: rgba(119, 168, 89, 0.3);
    position: absolute;
    top:32px;
    left:67;
    z-index: -1;
}
/* feedback section css */
.feedbackDiv{
    height: 500px;
    -webkit-transition: height .1s linear;   
    -moz-transition: height .1s linear;   
    -ms-transition: height .1s linear;   
    -o-transition: height .1s linear;   
    transition: height .1s linear;
}
.profile-feedback-pic{
    height:75px;
    width: 75px;
    border-radius: 50%;
    z-index: 10;
}
.color-green{
    color: #85D44B !important;
}

.more-feedback a{
    text-decoration: underline;
    cursor: pointer;
    margin-left: 5px;
    color: #FFF;
}
.replyName{
    margin-top:5px;
    margin-bottom: 5px;
}
.replyComent:nth-child(odd){
    margin-left: 2px;
    border-left: 5px solid #ff0000;
    padding:5px;
}
.replyComent:nth-child(even){
    margin-left: 2px;
    border-left: 5px solid #00ff00;
    padding:5px;
}
.more-feedback a span{
    margin-top: 10px !important;
}
.overflow-feedback-reply{
    max-height: 300px;
    overflow: auto;
}
.open-more{
    /*    -webkit-transition: height .3s linear !important;   
        -moz-transition: height .3s linear !important;
        -ms-transition: height .3s linear !important;
        -o-transition: height .3s linear !important;
        transition: height .3s linear !important;
    */
    height:150px;
    display: none;
}
.feedbackHeight{
    margin-top: 60px;
    height: 85%;
}
.heightContent{
    margin-top: -10px;
    margin-bottom: 50px;
    margin-left: -2px;
}
.replyBox div span:nth-child(1) button{
    margin-left:15px;
    background-color: transparent;
    border: none;
    color:#fff;
    outline: none;
}
.replyBox div span:nth-child(2) input[type="text"]{
    background-color: transparent;
    width: 100%;
    outline-color: #fff;
    color:#fff;
    border-radius: 5px;
    height: 25px;
}
.replyBox div span button i{
    font-size: 25px;
}
.replyBox div span:nth-child(2) input[type="text"]{
}
.replyBox div:nth-child(2) span{
    margin-left: 10px;
    cursor: pointer;
    font-size: 18px;
}
.feedbackSection{
    overflow-x: auto;
    overflow-y: no-content;
    height:100%;
}
.colcount{
    /*float:left;*/
    -webkit-column-count: 2;  
    /*Chrome, Safari, Opera*/ 
    -moz-column-count: 2;  
    /*Firefox*/ 
    column-count: 2;

    -webkit-column-gap: 40px;  
    /*Chrome, Safari, Opera*/ 
    -moz-column-gap: 40px;  
    /*Firefox*/ 
    column-gap: 40px;


}
/*rate buddy page ui*/
.rateBuddy-page-icons{
    background-color:#fff;
    margin-bottom: 50px;
}
.rateBuddy-page-icons div span a{
    font-size: 20px;
    padding: 10px;
}
.rateBuddy-page-icons *{
    text-align: center;
}
.box-height{
    height: 650px;
    overflow-y: auto;
}
.box-height > div{
    height: 220px;
}
.rateBuddy-page-icons div:nth-child(1) span a{
    color:#607D8B;
    padding-bottom: 5px;
}
.rateBuddy-page-icons div:nth-child(2) span a{
    color:#2981B3;
    padding-bottom: 5px;
}
.rateBuddy-page-icons div:nth-child(3) span a{
    color:#F46547;
    padding-bottom: 5px;
}
.rateBuddy-page-icons div:nth-child(1){
    border-right:1px solid;
}
.rateBuddy-page-icons div:nth-child(2){
    border-right:1px solid;
}
@media screen and (max-width: 767px){
    .profile-img-div{
        float: none !important;
        text-align: center !important;
        width: 100% !important;
        margin: 5px !important;
    }
    .profile-img-div + div{
        text-align: center !important;
        width: 100%;
    }
}
.profile-img-div{
    float:left;
    width: 100px;
    margin-right: 10px;
}


/*indexer*/
.indexer span a{
    margin: 5px 10px;
    color:#fff;
}
/*Edit profile */
/*edit profile modal*/
/*scroll bar in all the pages*/
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9); 
}
/*end of scroll bar*/
.edit-modal{
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: none;
}


.heading-modal{
    font-size:22px;
    color:#363636;
    background-color: #dddddd;
}
#open-modal div > label,#open-modal div > input[type="text"],#open-modal div > span{
    font-size: 18px;
    color:#363636;
}
.background-color{
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top:0px;
    left:0px;
    bottom: 0px;
    right:0px;
    z-index: 5;
}
.edit-profile-content{
    z-index: 8;
    background-color: #fff;
    height: 500px;
    width: 500px;
    margin: auto;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
}
#open-modal .modal-submit-profile{
    background-color: #ff6241 !important;
    color: #fff !important;
    cursor: pointer !important;
    font-size: 24px;
    height: 60px;
    outline: medium none;
    width: 160px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#6f6d6d)";/*IE 8*/
    -moz-box-shadow: 3px 3px 3px #6f6d6d;/*FF 3.5+*/
    -webkit-box-shadow: 3px 3px 3px #6f6d6d;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 3px 3px 3px #6f6d6d;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#6f6d6d); /*IE 5.5-7*/
}
/*indexer function*/
.hide{
    display:none !important;
}

/*dialog wrapper in rate buddy page for view member's profile*/
.view-profile-modal{
    z-index: 8;
    width: 100%;
    position:absolute;
    height: 87.59%;
    top:100;
    left:0;
    right:0;
    bottom: 0;
    display: none;
}
.background-viewProfile{
    background-image: url("../images/background.jpg");
    background-color: #000;
    position: absolute;
    top:0px;
    left:0px;
    bottom: 0px;
    right:0px;
    z-index: 2;
}
.view-profile-content{
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100%;
}
