/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 Sep, 2016, 11:18:58 AM
    Author     : shiva
*/

html {
    height: 100%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body{
    position: relative;
    width: 100%;
    min-height: 100%;
    padding-bottom: 38px;
}
/*container*/
.max-width{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    width: 100% !important;
}
.max-width:after, .max-width:before{
    content:'';
    display:table;
}
.max-width:after{
    clear:both

}
.footer{
    position: absolute;
    background-color:#689F39;
    right: 0;
    bottom: 0;
    left: 0;
    color:#fff;
    z-index: 3;
}
/*header section start*/
.notification{
    position: absolute;
    top: 45px;
    left: -140px;
    background-color: #fff;
    width: 290px;
    border-radius: 10px;
    border:1px solid;
    z-index: 1;
}
.notification-overflow{
    max-height: 290px;
    min-height: 80px;
    overflow-y: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.notification-content{
    display:table;
}
.notification-content div:first-child{
    display: table-cell;
    vertical-align: middle;
}
.notification-content div:nth-child(2){
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    font-size: 14px;
}
.notification-content div:first-child span i{
    margin-left: 5px;
    margin-top: 5px;
}
.notification-content div:first-child span{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #333;
    float:left;
}
.notification-background{
    background-color: #F0F8E9;
}
.notification:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    position: absolute;
    top: -10px;
    left: 46%;
}
.notif-count{
    position: absolute;
    top:-10px;
    left:10px;
    border:3px solid #49900C;
    background-color: #DFF5CF;
    border-radius: 50%;
    padding: 2px;
    height: 25px;
    width: 25px;
    font-size: 12px;
}
.notif-count span{
    margin-top: 1px;
    float: left;
    margin-left: 2px;
    color:#000 !important;
}
.notification-padding{
    padding: 0.8571rem 0.8571rem 0.8571rem 0.8571rem;
}
.color-plus{
    background-color:#01C854;
}
.color-minus{
    background-color:#F34334;
}
.color-check{
    background-color:#01B0FF;
}
.color-close{
    background-color:#EC6748;
}
.color-feedback{
    background-color:#009985;
}
.color-response{
    background-color:#8F6E5F;
}
.active *{
    color: #fff !important;
    font-weight: bold;
}
.active{
    border-bottom: 4px solid #fff;
}
/*header section end*/
.showup{
    position: relative;
    z-index: 10;
}
.center{
    text-align: center;
}
/*background-image*/
.background{
    background: url('../../css/images/new-bg.jpg') no-repeat fixed;
    background-size:cover;
    background-position:center;
}
/*transbox on profile page and home page*/
.transbox{
    opacity: 0.2;
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
    background-color:#fff;
    position: absolute;
    top:0px;
    left:0px;
    height:100%;
    z-index: -1;
}
/* shadow */
.box-shadow{
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color=#333333)";/*IE 8*/
    -moz-box-shadow: 5px 5px 7px #333333;/*FF 3.5+*/
    -webkit-box-shadow: 5px 5px 7px #333333;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 5px 5px 7px #333333;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color=#333333); /*IE 5.5-7*/
}
.pos-relative{
    position: relative;
}
.profile{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: -10px;
}
.profile2{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-top: -10px;
}
.profile-img-div .profile:hover{
    border:2px solid #689F39;
}
.border-color-green:hover{border:2px solid #689F39;}
.border-color-green{
    border:3px #689F39 solid;
    cursor: pointer;
}
.border-transbox{
    border: 1px solid rgba(136,212,75,0.7);
}
.color-black{
    color: #363636 !important;
}
.border-color-white{
    border:2px #fff solid;
}
.bottom-feedback{
    margin-top:20px;
}
.color-white{
    color:#fff;
}

.border-right{
    border-right:3px solid rgba(136,212,75,0.5);
    margin-top:10px;
    margin-bottom:10px;
    cursor: pointer;
}
.border-right-recent{
    border-right:1px solid rgba(136,212,75,0.5);
    margin-top:10px;
    margin-bottom:10px;
}
.showup *{
    color:#fff;
}
.right{
    float: right;
}
.left{
    float:left;
}
/*Profile page css*/
.profile-tabs{
    padding: 60px 37px 59px 44px;
    border-bottom: 1px solid #85D44B;
    border-left: none;
    cursor: pointer;
}
.profile-font-tabs{
    font-size: 25px;
    text-align: left;
}
ul.profile-ul{
    padding: 0px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    /*height:700px;*/
}
ul li.selectedTab div a.oj-tabs-gen-a.oj-tabs-anchor {
    color:#fff !important;
}
ul li.selectedTab:not(.oj-selected) *{
    color:#fff !important;
    text-decoration: none;
}
ul li.oj-selected.selectedTab{
    border-left: none;
    border-right: 5px solid #85D44B !important;
    background-color: #fff !important;
}
ul li.selectedTab:not(:last-child){
    border-bottom: 1px solid #809f6d !important;
}
ul li.selectedTab.oj-hover.oj-tabs-tab span.oj-tabs-title{
    text-decoration: none !important;
}
ul li.oj-selected.selectedTab div a.oj-tabs-gen-a.oj-tabs-anchor span.oj-tabs-title{
    color:#85D44B !important;
}
ul li.selectedTab div {
    border:none;
}
div.profile-page{
    /*    height: 600px;*/
}
div.oj-tabs-panel.oj-tabs-selected{
    background: none;
    border:none;
    padding: 0px;
    margin-top: -4px;  
    margin-bottom:1px;
}
.profile-tab1-data{
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
}
.profile-tab1-data:not(:last-child){
    border-bottom: 1px solid rgba(119,168,89,0.3) !important;
}
.profile-tab1-data:nth-child(1) i{
    font-size: 50px;
    margin: 20px 0px 0px 30px;
    color: yellow;
}
.about-label{color: yellow;width: 240px;}
.about-text{margin-left:200px !important;width: 240px;}
.about-edit{font-size:1em !important;margin: 5px 0px;}
.profile-tab1-data:not(:nth-child(1)) i{
    font-size: 50px;
    margin: 20px 0px 0px 30px;
    padding-bottom: 10px;
    color: yellow;
}
.profile-tab1-data:first-child span{
    font-size: 24px;
    margin:30px 25px 10px 10px;
    width: 240px;
}
.profile-tab1-data:not(:first-child) span{
    font-size: 24px;
    margin:30px 25px 10px 10px;
}
.profile-page-overflow{
    /*position: absolute;*/
    top:0;
    left:0;
    right:0;
    bottom:0;
    /*overflow-y: auto;*/
}
.profile-page-overflow .View-Other-about:last-child{
    border-bottom: 0px;
}
.myname-profile{
    font-weight: 600;
    font-size: 25px;
    margin-top: 22px;
    margin-left: -8px;
}
.profile-rating-circle{
    margin: 5px 50px 20px;
    height: 25px;
    width: 25px;
    border:3px solid;
    border-radius: 50%;
    float: left;
}
.circle-green{
    border-color: #D6F6C0;
    background-color: #689F39;
    height: 70px;
    width:70px;
    text-align:center;font-size:35px;padding-top:12px;
}
.circle-red{
    border-color: #FF7a7a;
    background-color: #e00000;
    margin-top:10px;
    height: 70px;
    width:70px;
    text-align:center;font-size:35px;padding-top:12px;
}
.rating-info{
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    margin-left: 125px;
    height: 116px;
}
/*positive and negative comments*/
.comment{
    font-weight: 500;
    font-size:20px;
}
.commenter{
    font-weight: 200px;
    font-size: 16px;
    color:#FFF;
}
.commented-date{
    color:#d3d3d3;
}
.noComments{
    margin: 300px 10px;
    text-align: center;
    font-size: 30px;
}
.transline{
    width: 3px;
    height: 100%;
    background-color: #689F39;
    position: absolute;
    top:25px;
    /*left:62;*/
    left:225;
    z-index: -1;
}
.rating-comment-div:last-child .transline{display: none;}
.rating-comment-red-div:last-child .transline-red{display: none;}
.transline-red{
    width: 3px;
    height: 100%;
    background-color: #e00000;
    position: absolute;
    top:32px;
    /*left:62;*/
    left:225;
    z-index: -1;
}
/* feedback section css */
.feedbackDiv{
    height: 500px;
    -webkit-transition: height .1s linear;   
    -moz-transition: height .1s linear;   
    -ms-transition: height .1s linear;   
    -o-transition: height .1s linear;   
    transition: height .1s linear;
}
.profile-feedback-pic{
    height: 85px;
    width: 86px;
    border-radius: 50%;
    z-index: 10;
    border: solid 2px green;
}
.color-green{
    color: #85D44B !important;
}
.more-feedback a{
    text-decoration: underline;
    cursor: pointer;
    margin-left: 5px;
    color: #FFF;
}
.replyName{
    margin-top:5px;
    margin-bottom: 5px;
    color: #fee123;
    font-weight: bold;
}

.open-more > div > .replyComent:nth-child(odd) {
    margin-left: 2px;
    border-left: 2px solid #fee123;
    padding:5px;
}
.open-more > div > .replyComent:nth-child(even) {
    margin-left: 2px;
    border-left: 2px solid #fee123;
    padding:5px;
}
.more-feedback a span{
    margin-top: 10px !important;
}
.overflow-feedback-reply{
    max-height: 300px;
    overflow: auto;
}
.open-more{
    /*    -webkit-transition: height .3s linear !important;   
        -moz-transition: height .3s linear !important;
        -ms-transition: height .3s linear !important;
        -o-transition: height .3s linear !important;
        transition: height .3s linear !important;
    */
    height:150px;
    display: none;
}
.feedbackHeight{
    margin-top: 60px;
    height: 78%;
}
.heightContent{
    margin-top: -10px;
    margin-bottom: 50px;
}
.replyBox div span:nth-child(1) button{
    margin-left:15px;
    background-color: transparent;
    border: none;
    color:#fff;
    outline: none;
}
.replyBox div span:nth-child(2) input[type="text"]{
    background-color: transparent;
    width: 100%;
    outline-color: #fff;
    color:#fff;
    border-radius: 5px;
    height: 25px;
}
.replyBox div span button i{
    font-size: 25px;
}
.replyBox div span:nth-child(2) input[type="text"]{
}
.openDiv span span:nth-child(2){
    cursor: pointer;
}
.replyBox div:nth-child(2) span{
    margin-left: 15px;
    cursor: pointer;
    font-size: 18px;
}
.feedbackSection{
    overflow-x: auto;
    overflow-y: no-content;
    /*height:100%;*/
}
.colcount{
    /*float:left;*/
    -webkit-column-count: 2;  
    /*Chrome, Safari, Opera*/ 
    -moz-column-count: 2;  
    /*Firefox*/ 
    column-count: 2;

    -webkit-column-gap: 40px;  
    /*Chrome, Safari, Opera*/ 
    -moz-column-gap: 40px;  
    /*Firefox*/ 
    column-gap: 40px;


}
/*rate buddy page ui*/
.rateBuddy-page-icons{
    background-color:#fff;
    margin-bottom: 50px;
}
.rateBuddy-page-icons div span a{
    font-size: 20px;
    padding: 10px;
}
.rateBuddy-page-icons *{
    text-align: center;
}
.box-height{
    height: 650px;
    overflow-y: auto;
}
.box-height > div{
    height: 220px;
}
.rateBuddy-page-icons div:nth-child(1) span a{
    color:#607D8B;
    padding-bottom: 5px;
}
.rateBuddy-page-icons div:nth-child(2) span a{
    color:#2981B3;
    padding-bottom: 5px;
}
.rateBuddy-page-icons div:nth-child(3) span a{
    color:#F46547;
    padding-bottom: 5px;
}
.rateBuddy-page-icons div:nth-child(1){
    border-right:1px solid #ccc;
}
.rateBuddy-page-icons div:nth-child(2){
    border-right:1px solid #ccc;
}
@media screen and (max-width: 767px){
    .profile-img-div{
        float: none !important;
        text-align: center !important;
        width: 100% !important;
        margin: 5px !important;
    }
    .profile-img-div + div{
        text-align: center !important;
        width: 100%;
    }
}
.profile-img-div{
    float:left;
    width: 100px;
    margin-right: 30px;
}


/*indexer*/
.indexer span a{
    margin: 5px 10px;
    color:#fff;
}
/*Edit profile */
/*edit profile modal*/
/*scroll bar in all the pages*/
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9); 
}
/*end of scroll bar*/
.edit-modal{
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: none;
}


.heading-modal{
    font-size:22px;
    color:#363636;
    background-color: #dddddd;
}
#open-modal div > label,#open-modal div > input[type="text"],#open-modal div > span{
    font-size: 18px;
    color:#363636;
}
.background-color{
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top:0px;
    left:0px;
    bottom: 0px;
    right:0px;
    z-index: 5;
}
.edit-profile-content{
    z-index: 8;
    background-color: #fff;
    height: 500px;
    width: 500px;
    margin: auto;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
}
#open-modal .modal-submit-profile{
    background-color: #ff6241 !important;
    color: #fff !important;
    cursor: pointer !important;
    font-size: 24px;
    height: 60px;
    outline: medium none;
    width: 160px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#6f6d6d)";/*IE 8*/
    -moz-box-shadow: 3px 3px 3px #6f6d6d;/*FF 3.5+*/
    -webkit-box-shadow: 3px 3px 3px #6f6d6d;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 3px 3px 3px #6f6d6d;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#6f6d6d); /*IE 5.5-7*/
}
/*indexer function*/
.hide{
    display:none;
}

/*dialog wrapper in rate buddy page for view member's profile*/
.view-profile-modal{
    z-index: 8;
    width: 100%;
    position:absolute;
    height: 87.59%;
    top:100;
    left:0;
    right:0;
    bottom: 0;
    display: none;
}
.background-viewProfile{
    background-image: url("../images/background.jpg");
    background-color: #000;
    position: absolute;
    top:0px;
    left:0px;
    bottom: 0px;
    right:0px;
    z-index: 2;
}
.view-profile-content{
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100%;
}
/*rate me page ui components with request*/
#tabs-container-request .oj-tabs-conveyor.oj-conveyorbelt-item{
    text-align: center !important;
    width: 100% !important;
}
#tabs-container-request ul li.oj-selected{
    border-top: none;
    border-bottom: 5px solid #6BA034;
}
#tabs-container-request .oj-tabs-title{
    text-decoration: none;
    color:#000;
}
#tabs-container-request ul li.oj-selected .oj-tabs-title{
    color:#689F39;
}
.background-fix {
    background-color: #689F39;
}
#forActive li a {
    padding-right: 5px;
}
#forActive ul * {
    color: rgba(255,255,255,0.6);
    font-size: 18px;
}
.nav1 li:hover * {
    color: #fff !important;
    text-decoration: none !important;
}

.navigationlist ul *, .cross-top *, .check-icon *, .close-icon * {
    color: #fff;
}
.home-profile-pic {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid #fff;
}
#tabs-4 hr{
    width: 100%;
}
/*for request send by the user and accept/reject by lead/manager*/
.textArea-requests{
    background: none;
    color: #fff;
    height: 76px;
    width: 87%;
}
.textArea-white{
    border:2px solid #fff;
}
.requestAlignment{
    margin:0px auto;
}
.color-darkGray{
    color: #424242;
}
.border-color-yellow{
    border:2px solid #fee123;
}

.border-color-red{
    border:2px solid #bc3a2f;
}
/*approve or disapprove request*/
.approveDisapprove:first-child{
    border-right: 1px solid #ccc;
    color: #0DC556 !important;
}
.approveDisapprove:last-child{
    border-right: 1px solid #ccc;
    color: #FF3D46 !important;
}
.approveDisapprove{
    border: medium none;
    margin-bottom: -3px;
    padding: 6px;
    font-size: 28px;
    width: 50%;
    background-color: #fff;
    margin-top: -11px;
}
.requestApproveDiv{
    padding: 2px;
}
/* fixes */
.closeIconNotify{
    margin-left: 8px !important;
}
.checkIconNotify{
    margin-left: 7px !important;
}
.colorDarkGreen{
    color:#689F39 !important;
}
.Moreless-fix{
    cursor: pointer;
    font-size: 41px !important;
    margin-right: -6px;
    margin-top: -12px;
}
.divTextRateMe .oj-textarea{
    max-width: 100% !important;
}
.NorequestMsg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    width: 100%;
}
.NorequestMsgAlignment{
    display: table;
    font-size: 35px;
    height: 100%;
    text-align: center;
}

.rateBuddy-page-rate{
    background:#689F39;width:100%;padding:10px;text-align:center;color:#fff;font-weight: bold;
}
.rateBuddy-page-rate-green{
    background:#689F39;width:100%;padding:10px;text-align:center;color:#fff;font-weight: bold;
}
.rateBuddy-page-rate-red{
    background:#e00000; width:100%;padding:10px;text-align:center;color:#fff;font-weight: bold;
}
.bold-class{    color: #fff;
                font-size: 24px;
                font-weight: bold;
                margin: 5px 10px;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5);}

.feedbackMoreFix{
    font-size: 42px !important;
    position: absolute;
    bottom: -10px;
    left: -20px;
}

.filmstrip-item {
    box-sizing: border-box;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    color: #333;
    width:250px;
    height:160px;
}
.arrow-controls {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

/*ajax loader for every page*/
.ajaxLoaderImage{
    top:40%;
    left:40%;
    position: absolute;
    z-index: 1053;
    height: 150px;
    width: 150px;
}
.overlay-loader{
    position: fixed;
    top:0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}
.loaderDiv{
    position: fixed;
    top:0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: table;
    z-index: 20090;
    background-color: rgba(0,0,0,0.3);

}
.loaderImgDiv{
    display: table-cell;
    text-align: center;
    width: 100%;
    vertical-align: middle;

}
.loaderHide{
    display: none !important;
}
/*manager slider home page*/
.filmstrip-item-manager {
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    text-align: left;
    color: #333;
}


/*member slider change*/
.filmstrip-slider1 {
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    text-align: left;
    color: #333;
}
/*.imgSlider{
    width: 50%;
    height: 50%;
    margin: 10px auto;
    cursor: auto;
}*/
.imgSlider {
    cursor: auto;
    height: 200px;
    margin: 24px auto;
    width: 200px;
}
.greenBtnImg{
    background-image: url('images/green-button.png');
    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: 200px 200px;
    background-position: 50% 85%;
    cursor: pointer;
    display: inline-block;
    height: 200px;
    width: 200px;
    padding-top: 43px;
    border-radius: 54% 40%;
    -moz-border-radius: 54% 40%;
    -webkit-border-radius: 54% 40%;
}
.redBtnImg{
    background-image: url('images/red-button.png');
    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: 200px 200px;
    background-position: 50% 85%;
    cursor: pointer;
    display: inline-block;
    height: 200px;
    width: 200px;
    padding-top: 43px;
    border-radius: 54% 40%;
    -moz-border-radius: 54% 40%;
    -webkit-border-radius: 54% 40%;
}
.imgBorder-Slider{
    border-right: 3px solid rgba(136,212,75,0.5);
    cursor: auto;
}
.alignSliderTxt{
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}
.btn-txt{
    color: #fff;
    font-size: 50px;
    font-weight: normal;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: table;
}
.sliderTxt1{
    width: 100%;
    color: #fff !important;
    font-family: nameHeading;
    text-align: center;
}
.txtAlign{
    font-size: 50px !important;
    margin: 25px auto;
}
.noRatingImg{
    width: 100%;
    text-align: center;
}
.noRatingTxt{
    font-size: 50px;
    font-family: nameHeading;
    color: #fff !important;
}

.imgSlider-pointer {
    border-radius: 50%;
}
@media (min-width:320px) and (max-width:500px){
    .imgSlider {
        cursor: auto;
        height: 100px;
        margin: 24px auto;
        width: 100px;
    }
    .btn-txt {
        font-size: 32px;
        top: 12px;

    }
    .noRatingTxt{
        font-size: 40px;
    }

    .greenBtnImg{

        background-size: 100px 100px;
        background-position: 50% 85%;
        height: 136px;
        width: 120px;
    }
    .redBtnImg{

        background-size: 100px 100px;
        background-position: 50% 85%;
        height: 136px;
        width: 120px;
    }



}
#mangerSlider .oj-pagingcontrol-nav-dot-bullet.oj-selected,
#mySlider .oj-pagingcontrol-nav-dot-bullet.oj-selected,
#mangerSlider1 .oj-pagingcontrol-nav-dot-bullet.oj-selected{
    background-color: #fff;
}
#mangerSlider .oj-pagingcontrol-nav-dot-bullet.oj-hover,
#mySlider .oj-pagingcontrol-nav-dot-bullet.oj-hover,
#mangerSlider1 .oj-pagingcontrol-nav-dot-bullet.oj-hover{
    background-color: #689F39;
}
.filmstrip-item12 {
    box-sizing: border-box;
    width: 100%;
    color: #333;
    font-size: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.demo-overlaid-paging-control {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.demo-stretch-items {
    height: 100%;
}

.demo-stretch-items .oj-filmstrip-item-container {
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}



/*slider*/ 
.greenBtn img{
    margin: 0 75px;
    width: 200px;
}
.redBtn img{
    margin: 0 75px;
    width: 200px;
}
.greenBtn{
    position: relative;
    float: left;
}
.redBtn{
    position: relative;
    float: left;
}
.btn-text-green-tab2{
    color: #fff;
    font-size: 50px;
    font-weight: normal;
    left: 128px;
    position: absolute;
    top: 60px;
}
.btn-text-red-tab2{
    color: #fff;
    font-size: 50px;
    font-weight: normal;
    left: 165px;
    position: absolute;
    top: 51px;
}
.edit-height{cursor: pointer;}
.requestHeight{
    margin-top: 50px;
    height: 83%;  
}
.sliderScreen1{
    color: #fff !important;
    font-family: nameHeading;
    font-size: 53px;
    margin-left: 33px;
    margin-right: 41px;
    margin-top: 50px;
}
.oj-inputdatetime-input-container{max-width: 18em;}
#editNumberBox{font-size: 85%}

/*paging color slider home page*/
#pagingControl3{

}
.transboxRequest{
    position: relative;
    margin-left: -10px;
    min-height: 810px;

}
.transboxRequest2{
    margin-left:10px;
}
/*media query for notification*/ 
@media  screen and (min-width: 363px) and (max-width: 767px) {
    .notification::before {
        border-bottom: 10px solid #fff;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        content: "";
        left: 54%;
        position: absolute;
        top: -10px;
    }
    .notification {
        background-color: #fff;
        border: 1px solid;
        border-radius: 10px;
        left: -139px;
        position: absolute;
        top: 36px;
        width: 244px;
        z-index: 1;
    }

}
@media  screen and (min-width: 320px) and (max-width: 767px) {
    .transboxRequest{
        position: relative;
        margin-left: 0px;
        min-height: 810px;

    }
    .area{
        margin-left: 17px !important;
    }
    .transboxRequest2{
        margin-left: 0px;
    }
    #ojDialogWrapper-modalDialog9.oj-dialog,
    #ojDialogWrapper-modalDialog3.oj-dialog,
    #ojDialogWrapper-modalDialogRequest.oj-dialog{
        width: 95% !important; 
    }

    .areaFloat{
        margin-left: 4px !important;
        width: 97% !Important;
    }
    .imgArea1{
        margin-right: 0px !important; 
    }
    .mText1{
        bottom: 28px  !important;
        left: 28px  !important;
        font-size: 24px  !important;
    }

    #ojDialogWrapper-modalDialog8.oj-dialog,
    #ojDialogWrapper-modalDialog2.oj-dialog,
   #ojDialogWrapper-modalDialog1.oj-dialog{
        width: 95% !important;
    }
    .area2{
        margin-left: 20px!important;
    }
  
}
@media  screen and (min-width: 768px) and (max-width: 1024px) {

    #ojDialogWrapper-modalDialog9.oj-dialog,
    #ojDialogWrapper-modalDialog3.oj-dialog,
    #ojDialogWrapper-modalDialogRequest.oj-dialog{
        width: 60% !important;

    }
    #ojDialogWrapper-modalDialog8.oj-dialog,
    #ojDialogWrapper-modalDialog2.oj-dialog,
    #ojDialogWrapper-modalDialog1.oj-dialog{
        width: 75% !important;
    }
    .modalImage {
        width: 50%!important;
        margin-top: 3px!important;
        margin-left: 18px!important;
    }
   
}
@media  screen and (min-width: 1200px) and (max-width: 1366px) {
     #ojDialogWrapper-modalDialog9.oj-dialog,
    #ojDialogWrapper-modalDialog3.oj-dialog,
    #ojDialogWrapper-modalDialogRequest.oj-dialog{
        width: 60% !important;

    }
    #ojDialogWrapper-modalDialog8.oj-dialog,
    #ojDialogWrapper-modalDialog2.oj-dialog,
    #ojDialogWrapper-modalDialog1.oj-dialog{
        width: 75% !important;
    }
    .modalImage {
        width: 50%!important;
        margin-top: 3px!important;
        margin-left: 18px!important;
    }
   
}
@media screen  and (max-width: 360px) {
    .notification::before {
        border-bottom: 10px solid #fff;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        content: "";
        left: 54%;
        position: absolute;
        top: -10px;
    }
    .notification {
        background-color: #fff;
        border: 1px solid;
        border-radius: 10px;
        left: -139px;
        position: absolute;
        top: 36px;
        width: 244px;
        z-index: 1;
    }

}
.div-comment-date{margin: 10px 12px 20px;height: 25px;float: left;font-size:20px;width:115px;}
.indexerUnderline{
    text-decoration: underline;
}
@media screen  and (max-width: 767px) {
    
   
}

span.zmdi-plus-request {
  background-attachment: scroll !important;
  background-clip: border-box !important;
  background-color: rgba(0, 0, 0, 0) !important;
  background-image: url("../images/plus-request.png") !important;
  background-origin: padding-box !important;
  background-position: 4px 6px;
  background-repeat: no-repeat !important;
  background-size: calc(100% - 40%) auto;
  border: medium none !important;
}

.replyInput{
    width: 100%;
    border-radius: 10px;
}
.feedback-comment-text p{
    margin-top: 5px;
}*/


