body{
    margin:0px;
    padding:0px;
    font-family: 'Montserrat', sans-serif !important;
}

img#my-signin2{
    cursor: pointer;
}

.login-logo{
    width:100%;
}
.logo-margin{
    margin-top: 10px;
    margin-left: 30px;
}
.login-btn {
    position: absolute;
    right: 101px;
    top: 100px;
    width: 350px;
}
.top-image {
    position: fixed;
    top: 90px;
    left: 10px;
    margin-top: 77px;
    margin-left: 50px;
}
.bottom-image {
    position: fixed;
    bottom: 10px;
    left: 10px;
}
@media (min-device-width:320px) and (max-device-width: 767px){
    .login-btn {
        position: fixed !important;
        right: 0px;
        bottom: 20px !important;
        top:auto;
        width: 70%;
        left: 80px;
        margin:auto;
    }
    .logo-margin{
     margin-top: 3px;
     margin-left: 2px;
}
    .imageWiseMsg1{
        bottom:375px !important;
        top: auto !important;
    }
    .authFailed{
        margin: 100px auto !important;
        background-color: #DF4A32;
        font-size: 25px !important;
        padding: 5px 0px;
    }  
    .authFailed span{
        padding: 0px !important;
    }
}
@media (min-device-width:768px) and (max-device-width: 991px){
    .login-btn {
        position: absolute;
        right: 30px;
        top: 50px;
        width: 260px;
    }   
    .authFailed span{
        padding-left: 50px !important; 
        padding-right: 50px !important; 
        font-size: 12px !important;
    }
    .achivementLink{
        right:32px !important;
    }
    .authFailed{
        margin: 115px auto !important;
    }
}
@media (min-device-width:992px) and (max-device-width: 1199px){
    .login-btn {
        position: absolute;
        right: 50px;
        top: 70px;
        width: 350px;
    }   
    .authFailed span{
        font-size: 14px !important;
        padding-left: 50px !important; 
        padding-right: 50px !important; 
    }
    .authFailed{
        margin: 115px auto !important;
    }
}

.achivementLink{
    position: fixed;
    top: 20px;
    right:101px;
    padding: 5px;
}
.achivementLink a{
    color:#df4a32 !important;
    font-size: 30px;
    text-decoration: underline;
}
@media screen and (min-width:320px) and (max-width: 500px){
    .linkPos1{
        top: 80px !important;
    }
    .linkPos2{
        top: auto;
        bottom: 85px;
        right: 50px;
    }

}
.errorMsg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.accessDeniedBackground{
    position: fixed;
    width: 100%;
}
.authFailed{
    width: 100%;
    margin: 70px auto;
    text-align: center;
}
.authFailed span{
    background-color: #DF4A32;
    padding: 10px 15px 10px 40px;
    text-align: center;
    color: #fff !important;
    border-radius: 5px;
}
.loaderImgDivLogin{
    position: fixed;
    top:0px;
    left: 0px;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 168px;
    width: 195px;
    z-index: 10;
}

.loaderHide{
    display: none !important;
}
.overlay-loader{
    position: fixed;
    top:0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
}
.authFailed span img {
    width: 15px;
    height: 15px;
    margin-left: 20px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.siteLoad{
    position: fixed;
    top:0px;
    left: 0px;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 168px;
    width: 100%;
    z-index: 101;
    color: #fff;
    text-align: center;
    font-size: 30px;
}
@keyframes blink {
   
    0% {
      opacity: .2;
    }
    
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}

.siteLoad span {
   
    animation-name: blink;
    
    animation-duration: 1.4s;
    
    animation-iteration-count: infinite;
    
    animation-fill-mode: both;
}

.siteLoad span:nth-child(2) {
    
    animation-delay: .2s;
}

.siteLoad span:nth-child(3) {
    
    animation-delay: .4s;
}
.overlay-loader-login{
    background: none;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

@media screen and (min-width:768px) and (max-width:991px){
    .linkPos1,.linkPos2{
        top:5px;
        right: 101px;
    }
}