body{
    margin:0px;
    padding:0px;
    font-family: 'Montserrat', sans-serif !important;
}
/*.login{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index: -1;
}
.login-btn{
    float:right;
    position:absolute;
    right:100px;
    top:100px;
    max-width: 350px;
}

#login-background{
    background-size:100%;
}
#login-Background{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:-1;
}*/
/*@media (min-width:767px) {
    .login-btn{
    float:none !important;
    position:absolute;
}
.login-btn {
bottom: 34px !important;
left: calc(100% - 76%);
width: 50%;
margin: 0 auto;
position: absolute;
top: auto;
  }    
}*/
img#my-signin2{
    cursor: pointer;
}

.login-logo{
    width:100%;
}
.login-btn {
    position: absolute;
    right: 101px;
    top: 100px;
    width: 350px;
}
.top-image {
    position: fixed;
    top: 90px;
    left: 10px;
}
.bottom-image {
    position: fixed;
    bottom: 10px;
    left: 10px;
}
@media (min-device-width:320px) and (max-device-width: 767px){
    .login-btn {
        position: fixed !important;
        right: 0px;
        bottom: 20px !important;
        top:auto;
        width: 70%;
        left: 80px;
        margin:auto;
    }
    .imageWiseMsg1{
        bottom:375px !important;
        top: auto !important;
    }
    .authFailed{
        margin: 100px auto !important;
        background-color: #f00;
        font-size: 32px !important;
        padding: 5px 0px;
    }  
    .authFailed span{
        padding: 0px !important;
    }
}
@media (min-device-width:768px) and (max-device-width: 991px){
    .login-btn {
        position: absolute;
        right: 30px;
        top: 50px;
        width: 350px;
    }   
    .authFailed span{
        padding-left: 50px !important; 
        padding-right: 50px !important; 
        font-size: 12px !important;
    }
    .achivementLink{
        right:32px !important;
    }
}
@media (min-device-width:992px) and (max-device-width: 1199px){
    .login-btn {
        position: absolute;
        right: 50px;
        top: 70px;
        width: 350px;
    }   
}

.achivementLink{
    position: fixed;
    top: 20px;
    right:101px;
    padding: 5px;
}
.achivementLink a{
    color:#df4a32 !important;
    font-size: 30px;
    text-decoration: underline;
}
@media screen and (min-width:320px) and (max-width: 500px){
    .linkPos1{
        top: 80px !important;
    }
    .linkPos2{
        top: auto;
        bottom: 85px;
        right: 100px;
    }
    top: 20px;
    width: 350px;
}   

.achivementLink{
    position: fixed;
    top: 20px;
    right:101px;
    padding: 5px;
}
.achivementLink a{
    color:#df4a32;
    font-size: 25px;
}
@media screen and (min-width:320px) and (max-width: 500px){
    .linkPos1{
        top: 80px !important;
    }
    .linkPos2{
        top: auto;
        bottom: 85px;
        right: 100px;
    }

}

.errorMsg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.accessDeniedBackground{
    position: fixed;
    width: 100%;
}
.authFailed{
    width: 100%;
    margin: 0px auto;
    text-align: center;
}
.authFailed span{
    background-color: #f00;
    padding: 5px 100px;
    text-align: center;
    color: #fff !important;
    border-radius: 0px 0px 5px 5px;
}
.loaderImgDivLogin{
    position: fixed;
    top:0px;
    left: 0px;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 168px;
    width: 195px;
    z-index: 10;
}

.loaderHide{
    display: none !important;
}
.overlay-loader{
    position: fixed;
    top:0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
}
