<!-- Header content will be loaded -->

<div class="background-fix">
    <div class="oj-web-applayout-max-width oj-web-applayout-content ">
        <div class="oj-web-applayout-header-title">
            <div class="oj-row oj-flex box">
                <div class=" oj-xl-6 oj-lg-6 oj-md-6 oj-sm-6 header oj-col oj-flex-item">
                    <ul class="mobile-menu">
                        <li><a href="http://dev.parakh.com/"><img class="logo" src="css/images/parakh_logo.png" alt=""/></a></li>
                    </ul>   
                </div>
                <div class="oj-xl-6 oj-lg-6 oj-md-6 oj-sm-6 header oj-col oj-flex-item">
                    <div class="backToLoginAchivement"><a href="javascript:void(0);" data-bind="click: backToLogin">Back to Login</div>
                </div>
            </div>
        </div>
    </div>
</div>