<!-- Header content will be loaded -->

<div class="background-fix">
    <div class="oj-web-applayout-max-width oj-web-applayout-content ">
        <div class="oj-web-applayout-header-title">
            <div class="oj-row oj-flex box">
                <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 header oj-col oj-flex-item">
                    <ul class="mobile-menu">
                        <li><a href="dashboard.html"><img class="logo" src="css/images/login-logo.png" alt=""/></a></li>
                    </ul>   
                </div>
            </div>
        </div>
    </div>
</div>