<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="max-width" >
    <div class="oj-web-applayout-max-width oj-web-applayout-content ">
        <!-- large template -->
        <script type="text/html" id="lg_xl_template">

            <div class="oj-row oj-flex" id="lg_xl">
                <div class="oj-xl-12 oj-lg-12 oj-md-12  oj-flex-item oj-col pos-relative oj-margin-top oj-padding ipad-margin" id="top" >
                    <div class="transbox">  </div>
                    <div class="pos-relative ">
                        <ul class="oj-flex cursor-class achieve-li nav-achieve" >
                            <li><a href="#iccsafe">ICC Safe</a></li>
                            <li><a href="#paccess">premiumACCESS</a></li>
                            <li><a href="#store">Store</a></li>
                            <li><a href="#wns">WNS-GPD</a></li>
                        </ul> 

                    </div>

                </div>
                <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-only-hide oj-flex-item  pos-relative oj-margin-top block-min-height oj-margin-bottom oj-padding ipad-margin">
                    <div class="transbox">  </div>
                    <!--icc safe--> 
                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-col pos-relative oj-margin-top oj-padding oj-margin-start " id="iccsafe">
                        <h1 class="achieve-heading ">ICC Safe</h1>
                    </div>
                    <div class="oj-flex oj-row">
                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-only-hide oj-flex-item oj-padding achieve-img-align">
                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                        </div>
                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-only-hide oj-flex-item oj-padding achieve-text">
                            Published three plugins in WordPress Directory.
                        </div>
                    </div>
                    <div class="oj-flex oj-row">
                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-only-hide oj-flex-item oj-padding achieve-img-align">
                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                        </div>
                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-only-hide oj-flex-item oj-padding achieve-text">
                            Set up an open source blog for InfoBeans.
                        </div>
                    </div>
                    <div class="oj-flex oj-row">
                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-only-hide oj-flex-item oj-padding achieve-img-align">
                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                        </div>
                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-only-hide oj-flex-item oj-padding achieve-text">
                            Conducted session on Angular JS which had more than 50 participants.
                        </div>
                    </div>

                    <!--premium access-->

                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-col pos-relative oj-margin-top oj-padding oj-margin-start "  id="paccess">
                        <h1 class="achieve-heading">premiumACCESS</h1>
                    </div>
                    <div class="oj-flex oj-row">
                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-only-hide oj-flex-item oj-padding achieve-img-align">
                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                        </div>
                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-only-hide oj-flex-item oj-padding achieve-text">
                            Tagging Integration
                        </div>
                    </div>
                    <div class="oj-flex oj-row">
                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-only-hide oj-flex-item oj-padding achieve-img-align">
                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                        </div>
                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-only-hide oj-flex-item oj-padding achieve-text">
                            Go-live for premiumACCESS was on time even after the work mentioned on SOW had increased to 150% of actual work
                        </div>
                    </div>
                    <div class="oj-flex oj-row">
                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-only-hide oj-flex-item oj-padding achieve-img-align">
                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                        </div>
                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-only-hide oj-flex-item oj-padding achieve-text">
                            100% compliance for SEPG Audit
                        </div>
                    </div>
                    <div class="oj-flex oj-row">
                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-only-hide oj-flex-item oj-padding achieve-img-align">
                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                        </div>
                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-only-hide oj-flex-item oj-padding achieve-text">
                            ES Report Tagging project was always delivered on time to the client.
                        </div>
                    </div>
                    <div class="oj-flex oj-row">
                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-only-hide oj-flex-item oj-padding achieve-img-align">
                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                        </div>
                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-only-hide oj-flex-item oj-padding achieve-text">
                            PHP unit testing session was conducted by Neelam for premiumACCESS team.
                        </div>
                    </div>
                    <div class="oj-flex oj-row">
                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-only-hide oj-flex-item oj-padding achieve-img-align">
                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                        </div>
                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-only-hide oj-flex-item oj-padding achieve-text">
                            Helping Hand – Neelam helping team members to write PHP unit test cases.
                        </div>
                    </div>
                    <div class="oj-flex oj-row">
                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-only-hide oj-flex-item oj-padding achieve-img-align">
                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                        </div>
                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-only-hide oj-flex-item oj-padding achieve-text">
                            Shell script was created for code setup.
                        </div>
                    </div>

                    <!--store Front-->
                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-col pos-relative oj-margin-top oj-padding oj-margin-start"  id="store">
                        <h1 class="achieve-heading">Store</h1>
                    </div>
                    <div class="oj-flex oj-row">
                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-only-hide oj-flex-item oj-padding achieve-img-align">
                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                        </div>
                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-only-hide oj-flex-item oj-padding achieve-text">
                            Released Magento 2 Extension - Shipping Flat Rate5.
                        </div>
                    </div>
                    <div class="oj-flex oj-row">
                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-only-hide oj-flex-item oj-padding achieve-img-align">
                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                        </div>
                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-only-hide oj-flex-item oj-padding achieve-text">
                            Avalara Tax Integration.
                        </div>
                    </div>
                    <div class="oj-flex oj-row">
                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-only-hide oj-flex-item oj-padding achieve-img-align">
                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                        </div>
                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-only-hide oj-flex-item oj-padding achieve-text">
                            PCI compliance
                        </div>
                    </div>
                    <div class="oj-flex oj-row">
                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-only-hide oj-flex-item oj-padding achieve-img-align">
                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                        </div>
                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-only-hide oj-flex-item oj-padding achieve-text">
                            Answer posted in the Stack Exchange was selected as the best answer.
                        </div>
                    </div>
                    <div class="oj-flex oj-row">
                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-only-hide oj-flex-item oj-padding achieve-img-align">
                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                        </div>
                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-only-hide oj-flex-item oj-padding achieve-text">
                            Upgrade Magento version from 1.14.2.0 to 1.14.3.0
                        </div>
                    </div>

                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-col pos-relative oj-margin-top oj-padding oj-margin-start" id="wns">
                        <h1 class="achieve-heading">WNS-GPD</h1>
                    </div>
                    <div class="oj-flex oj-row">
                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-only-hide oj-flex-item oj-padding achieve-img-align">
                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                        </div>
                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-only-hide oj-flex-item oj-padding achieve-text">
                            Devendra Soni complied all the assigned tickets/tasks before time, received appreciation from client (Dan) for completing the tickets before time. 
                            Dan wrote to Devendra:  “I appreciate how quickly you have been handling these tickets we are making great progress".
                        </div>
                    </div>
                    <div class="oj-flex oj-row">
                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-only-hide oj-flex-item oj-padding achieve-img-align">
                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                        </div>
                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-only-hide oj-flex-item oj-padding achieve-text">
                            Added two blogs on open source blog on InfoBeans website under miscellaneous category.
                            One blog is on "Advance tip on Git" and second blog is on "How to make cron job more efficient".
                        </div>
                    </div>

                </div>
            </div>
            <div class="floating-btn" id="topArrow">
                <a href="#top" class="float">
                    <i class="zmdi zmdi-chevron-up float-arrow"></i>
                </a>
            </div>
            </script>
            <!-- small template -->
            <script type="text/html" id="sm_md_template">

                <div id="sm_md"class="oj-margin-top oj-padding mobile320fix" >

                    <ul id="listview" aria-label="list with static hierarchical data" 
                        data-bind="ojComponent: {component: 'ojListView', selectionMode: 'multiple', expanded: ['a'], item: {selectable: itemOnly}}">
                        <li id="a">
                            <span class="font-responsive">ICC Safe</span>
                            <ul class="pos-relative" id="safe">
                                <div class="transbox"></div>
                                <li>
                                    <div class="oj-flex oj-row">
                                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-1 oj-margin-top oj-flex-item accordin-img">
                                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                                        </div>
                                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-11 oj-flex-item oj-padding accordin-text">
                                            Published three plugins in WordPress Directory.
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="oj-flex oj-row">
                                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-1 oj-margin-top oj-flex-item accordin-img">
                                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                                        </div>
                                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-11 oj-flex-item oj-padding accordin-text">
                                            Set up an open source blog for InfoBeans.
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="oj-flex oj-row">
                                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-1 oj-margin-top oj-flex-item accordin-img">
                                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                                        </div>
                                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-11 oj-flex-item oj-padding accordin-text">
                                            Conducted session on Angular JS which had more than 50 participants.
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li id="b">
                            <span class="font-responsive"> premiumAccess </span>
                            <ul class="pos-relative" id="preAccess">
                                <div class="transbox"></div>
                                <li>
                                    <div class="oj-flex oj-row">
                                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-1 oj-margin-top oj-flex-item accordin-img">
                                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                                        </div>
                                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-11 oj-flex-item oj-padding accordin-text">
                                            Tagging Integration
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="oj-flex oj-row">
                                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-1 oj-margin-top oj-flex-item accordin-img">
                                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                                        </div>
                                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-11 oj-flex-item oj-padding accordin-text">
                                            Go-live for premiumACCESS was on time even after the work mentioned on SOW had increased to 150% of actual work
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="oj-flex oj-row">
                                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-1 oj-margin-top oj-flex-item accordin-img">
                                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                                        </div>
                                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-11 oj-flex-item oj-padding accordin-text">
                                            100% compliance for SEPG Audit
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="oj-flex oj-row">
                                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-1 oj-margin-top oj-flex-item accordin-img">
                                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                                        </div>
                                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-11 oj-flex-item oj-padding accordin-text">
                                            ES Report Tagging project was always delivered on time to the client.
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="oj-flex oj-row">
                                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-1 oj-margin-top oj-flex-item accordin-img">
                                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                                        </div>
                                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-11 oj-flex-item oj-padding accordin-text">
                                            PHP unit testing session was conducted by Neelam for premiumACCESS team.
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="oj-flex oj-row">
                                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-1 oj-margin-top oj-flex-item accordin-img">
                                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                                        </div>
                                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-11 oj-flex-item oj-padding accordin-text">
                                            Helping Hand – Neelam helping team members to write PHP unit test cases.
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="oj-flex oj-row">
                                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-1 oj-margin-top oj-flex-item accordin-img">
                                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                                        </div>
                                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-11 oj-flex-item oj-padding accordin-text">
                                            Shell script was created for code setup.
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li id="c">
                            <span class="font-responsive"> Store </span>
                            <ul class="pos-relative"id="storeFront">
                                <div class="transbox"></div>
                                <li>
                                    <div class="oj-flex oj-row">
                                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-1 oj-margin-top oj-flex-item accordin-img">
                                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                                        </div>
                                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-11 oj-flex-item oj-padding accordin-text">
                                            Released Magento 2 Extension - Shipping Flat Rate5.
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="oj-flex oj-row">
                                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-1 oj-margin-top oj-flex-item accordin-img">
                                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                                        </div>
                                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-11 oj-flex-item oj-padding accordin-text">
                                            Avalara Tax Integration.
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="oj-flex oj-row">
                                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-1 oj-margin-top oj-flex-item accordin-img">
                                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                                        </div>
                                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-11 oj-flex-item oj-padding accordin-text">
                                            PCI compliance
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="oj-flex oj-row">
                                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-1 oj-margin-top oj-flex-item accordin-img">
                                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                                        </div>
                                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-11 oj-flex-item oj-padding accordin-text">
                                            Answer posted in the Stack Exchange was selected as the best answer.
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="oj-flex oj-row">
                                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-1 oj-margin-top oj-flex-item accordin-img">
                                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                                        </div>
                                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-11 oj-flex-item oj-padding accordin-text">
                                            Upgrade Magento version from 1.14.2.0 to 1.14.3.0
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li id="d">
                            <span class="font-responsive"> WNS-GPD </span>
                            <ul class="pos-relative" id="wnsGpd">
                                <div class="transbox"></div>
                                <li>
                                    <div class="oj-flex oj-row">
                                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-1 oj-margin-top oj-flex-item accordin-img">
                                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                                        </div>
                                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-11 oj-flex-item oj-padding accordin-text">
                                            Devendra Soni complied all the assigned tickets/tasks before time, received appreciation from client (Dan) for completing the tickets before time. 
                                            Dan wrote to Devendra:  “I appreciate how quickly you have been handling these tickets we are making great progress".
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="oj-flex oj-row">
                                        <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-1 oj-margin-top oj-flex-item accordin-img">
                                            <img src="../../images/trophy-green_1.png" alt="achievements-icon"/>
                                        </div>
                                        <div class="oj-xl-11 oj-lg-11 oj-md-11 oj-sm-11 oj-flex-item oj-padding accordin-text">
                                            Added two blogs on open source blog on InfoBeans website under miscellaneous category.
                                            One blog is on "Advance tip on Git" and second blog is on "How to make cron job more efficient".
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>
                </script>

                <div data-bind="template: {name: large() ? 'lg_xl_template' : 
                                             'sm_md_template'}"></div>
            </div>
        </div>


