<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="oj-web-applayout-content max-width  color-white pos-relative oj-margin-bottom oj-margin-top bottom-feedback">
    <div class="oj-flex">
        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex ">
            <h3><strong class=" color-white">Recent +1 Ratings</strong></h3> 
        </div>
    </div>
</div>
<div class="oj-web-applayout-content max-width  color-white pos-relative oj-margin-bottom oj-margin-top bottom-feedback">
    <div class="transbox max-width box-shadow border-transbox"></div>

    <div class="oj-flex showup">
        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex">
            <div class="oj-xl-4 oj-lg-4 oj-md-4 oj-sm-12 oj-flex oj-flex-item oj-padding border-right">
                <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                        <img class="profile border-color-green" data-bind="attr: {src:image1}" />
                    </div>
                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                        <h4 data-bind="text: name1"></h4>
                        <h5 data-bind="text: designation1"></h5>
                        <h5 data-bind="text: comment1"></h5>
                    </div>
                </div>
            </div>
            <div class="oj-xl-4 oj-lg-4 oj-md-4 oj-sm-12 oj-flex oj-flex-item  oj-padding border-right">
                <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                        <img class="profile border-color-green" data-bind="attr: {src:image2}" />
                    </div>
                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                        <h4 data-bind="text: name2"></h4>
                        <h5 data-bind="text: designation2"></h5>
                        <h5 data-bind="text: comment2"></h5>
                    </div>
                </div>
                
            </div>

            <div class="oj-xl-4 oj-lg-4 oj-md-4 oj-sm-12 oj-flex oj-flex-item  oj-padding border-right">
                <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                        <img class="profile border-color-green" data-bind="attr: {src:image3}" />
                    </div>
                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                        <h4 data-bind="text: name3"></h4>
                        <h5 data-bind="text: designation3"></h5>
                        <h5 data-bind="text: comment3"></h5>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>