         
<div class="oj-web-applayout-max-width oj-web-applayout-content  ">
    <div class="oj-flex oj-row">
        

<nav class="container"> 
    
     <a href="#" class="buttons rateFloat" title="Ratebuddy" id="abc"><i class="zmdi zmdi-star floatIcons"></i></a>
                 
    <a href="#" class="buttons" title="Feedback"><i class="zmdi zmdi-comment-text-alt floatIcons"></i>
</a>
    
    <a href="#" class="buttons" title="Send request"><i class="zmdi zmdi-plus-1 floatIcons"></i></a>

    <a class="buttons btn1"  href="#" > <i class="zmdi zmdi-plus floatingIcons"></i> </a>

  </nav>
    </div>
    </div>

<div id="dialogWrapper">
  <div style="display:none" id="modalDialog3" title="Modal Dialog" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide'}">
     <div class="oj-dialog-body">
       The dialog window can be moved, resized and closed with the 'x' icon.
       Arbitrary content can be added to the the oj-dialog-body and oj-dialog-footer sections.
     </div>
     <div class="oj-dialog-footer">
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'OK'}"> </button>
      </div>
  </div>

</div>    
       


        
        
        
    

