<!-- Header content will be loaded -->

<div class="background-fix">
    <div class="oj-web-applayout-max-width oj-web-applayout-content ">
        <div class="oj-web-applayout-header-title">
            <div class="oj-row oj-flex box">
                <div class=" oj-xl-4 oj-lg-4 oj-md-2 oj-sm-3 header oj-col oj-flex-item ">
                    <ul class="mobile-menu">
                        <li><a href="javascript:void(0)" data-bind="event:{click: toggleMenu}" class="menus"><i class="zmdi zmdi-menu zmdi"></i> </a></li>
                        <li><a href="dashboard.html"><img class="logo" src="css/images/login-logo.png" alt=""/></a></li>
                    </ul>   
                </div>
                <div class="oj-xl-8 oj-lg-8 oj-md-10 oj-sm-9 oj-col ">
                    <div class="navigationlist">
                        <ul class="nav">
                            <li title="More"><a href="#" ><i class="zmdi zmdi-more-vert zmdi"></i> </a></li>
                            <li title="Sign out"><a href="#" id="signOut" data-bind="click: signout"><i class="zmdi zmdi-power  zmdi-hc-lg"></i></a></li>
                            <li><a href="profile.html" data-bind="attr: {title: memberName}"><img data-bind="attr: {src: mypic}" class="home-profile-pic" /></a></li>
                            <li class="pos-relative openCloseNotify">
                                <div class="notif-count"><span data-bind="text: notifCount"></span></div>
                                <div class="notification hide border-color-green">
                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex">
                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item notification-padding">
                                            <h4 class="center color-black colorDarkGreen">Notifications</h4>
                                        </div>
                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex notification-overflow oj-padding notification-background">
                                            <!--repeat block for notification -->
                                            <!-- ko foreach: notif -->
                                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex notification-content oj-margin-top oj-margin-bottom">
                                                <div class="oj-xl-2 oj-lg-2 oj-md-2 oj-sm-2 oj-flex-item">
                                                    <span class="color-black " data-bind="html: element,style:{'background-color':backColor}">
                                                        <!--<i class="color-black zmdi zmdi-plus-1"></i>-->
                                                        
                                                    </span></div>
                                                <div class="oj-xl-10 oj-lg-10 oj-md-10 oj-sm-10 oj-flex-item color-black" data-bind="text: notificationComment">
                                                    
                                                </div>
                                            </div>
                                            <!-- /ko -->
                                        </div>
                                    </div>
                                </div>
                                <a href="javascript:void(0)" title="Notification" id="notificationOpen"><i class="zmdi zmdi-notifications  zmdi-hc-lg"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="navigationlist" id="forActive">
                    <ul class="nav1 oj-sm-only-hide" id="forActiveul">
                        <li> <a href="rankings.html"><i class="zmdi zmdi-thumb-up-down zmdi-hc-lg zmdi-hc-fw"></i>Ranking</a></li>
                        <li> <a href="rateBuddy.html"><i class="zmdi zmdi-star zmdi-hc-fw zmdi-hc-lg"></i> My Buddies</a></li>
                        <li> <a href="rateMe.html"><i class="zmdi zmdi-ticket-star zmdi-hc-fw zmdi-hc-lg"></i> Rate Me</a></li>
                        <li> <a href="dashboard.html"><i class="zmdi zmdi-home zmdi-hc-fw zmdi-hc-lg"></i> Home</a></li>  
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>