<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="max-width">
    <div id="tabs-container-help">
        <div id="tabs-help" data-bind="ojComponent:{component: 'ojTabs'}"> 
            <ul class="cursor-class pos-relative ul-top">
                <div class="transbox"></div>
                <li> 
                    <div class="oj-flex oj-row">
                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-padding tab-padding ">
                            Roles
                        </div>
                    </div>

                </li>
                <li> 
                    <div class="oj-flex oj-row">
                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-padding tab-padding">
                            Functionalities
                        </div>
                    </div>

                </li>
            </ul>
            <div id="tabs-help-1">
                <div id="vtabs-1" class="max-width profile-page oj-margin-top margin-bottom-10"
                     data-bind="ojComponent:{component: 'ojTabs', 
                            orientation: 'vertical',
                            selected: 0}">
                    <ul class="help-ul pos-relative" id="selcted-tab">
                        <div class="transbox"></div>
                         <li class="help-page-tabs">
                            <div class="oj-flex oj-row tab-help-side-padding">
                                <div class="oj-xl-3 oj-lg-3 oj-md-3 oj-sm-3 oj-flex-item help-side-icons">
                                  <i class="zmdi zmdi-accounts"></i>
                                </div>
                                <div class="oj-xl-9 oj-lg-9 oj-md-9 oj-sm-9 oj-flex-item help-side-text">
                                   Team Member
                                   <i class="zmdi zmdi-caret-right "></i>
                                </div>
                               
                            </div>
                        </li>
                         <li class="help-page-tabs">
                            <div class="oj-flex oj-row tab-help-side-padding">
                                <div class="oj-xl-3 oj-lg-3 oj-md-3 oj-sm-3 oj-flex-item help-side-icons">
                                 <i class="zmdi zmdi-account"></i>
                                </div>
                              <div class="oj-xl-9 oj-lg-9 oj-md-9 oj-sm-9 oj-flex-item help-side-text">
                                   Team Lead
                                    <i class="zmdi zmdi-caret-right "></i>
                                </div>
                               
                            </div>
                        </li>
                          <li class="help-page-tabs">
                            <div class="oj-flex oj-row tab-help-side-padding">
                                <div class="oj-xl-3 oj-lg-3 oj-md-3 oj-sm-3 oj-flex-item help-side-icons">
                                  <i class="zmdi zmdi-face"></i>
                                </div>
                                <div class="oj-xl-9 oj-lg-9 oj-md-9 oj-sm-9 oj-flex-item help-side-text">
                                   Manager
                                      <i class="zmdi zmdi-caret-right "></i>
                                </div>
                               
                            </div>
                        </li>
                    </ul>
                    <div id="tabs-1" class="color-white oj-margin-horizontal pos-relative tabMinHeight">
                        <div class="transbox"></div>
                        hello
                    </div>

                    <div id="tabs-2" class="color-white oj-margin-horizontal pos-relative tabMinHeight">
                        <div class="transbox"></div>
                        hello 12
                    </div>

                    <div id="tabs-3" class="color-white oj-margin-horizontal pos-relative tabMinHeight">
                        <div class="transbox"></div>
                        hello 34
                    </div>

                </div>

            </div>
            <div id="tabs-help-2">
                <div id="vtabs-2" class="max-width profile-page oj-margin-top margin-bottom-10"
                     data-bind="ojComponent:{component: 'ojTabs', 
                            orientation: 'vertical',
                            selected: 0}">
                    <ul class="help-ul pos-relative" id="selcted-tab1">
                        <div class="transbox"></div>
                        <li class="help-page-tabs"><span><i class="zmdi zmdi-trending-up"></i></li>
                        <li class="help-page-tabs"><span><i class="zmdi zmdi-trending-down"></i> </li>    
                        <li class="help-page-tabs "><span><i class="zmdi zmdi-comment-alt-text"></i> Feedback</span></li>    
                    </ul>
                    <div id="tabs-01" class="color-white oj-margin-horizontal pos-relative tabMinHeight">
                        <div class="transbox"></div>
                        hello
                    </div>

                    <div id="tabs-02" class="color-white oj-margin-horizontal pos-relative tabMinHeight">
                        <div class="transbox"></div>
                        hello 12
                    </div>

                    <div id="tabs-03" class="color-white oj-margin-horizontal pos-relative tabMinHeight">
                        <div class="transbox"></div>
                        hello 34
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>