 
<!-- people section starts -->
<div class="oj-web-applayout-max-width oj-web-applayout-content section1 oj-margin-top oj-margin-bottom">
    <div class="oj-row oj-flex-bar">

        <div class="oj-lg-1 oj-md-12 oj-sm-12 oj-panel oj-flex-item oj-col people-logo1 oj-flex-bar-end">
            <a href="javascript:void(0);" > <i class="zmdi zmdi-account  zmdi-hc-lg"></i></a>
        </div>
        <div class="oj-lg-1 oj-md-12 oj-sm-12 oj-panel oj-flex-item oj-col people-logo2">
            <a href="javascript:void(0);"> <i class="zmdi zmdi-accounts zmdi-hc-lg "></i></a>
        </div>
    </div>
</div>
<div class="oj-flex max-width">
    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal oj-padding-horizontal">
        <h2  class="slider-heading">
            Hello <span data-bind="text: memberName"></span>
        </h2> 
    </div>
</div>
<!-- slider section starts -->
<div class="oj-web-applayout-max-width oj-web-applayout-content ">
    <div class="oj-flex oj-row sliderPos">
        <div class="oj-col oj-sm-12 oj-md-12 oj-lg-12 oj-xl-12 oj-flex-item oj-panel slider-color slide ">

            <div id="slider-wrapper">
                <div class="inner-wrapper" >
                    <input checked type="radio" name="slide" class="control" id="Slide1"/>
                    <label for="Slide1" id="s1"></label>
                    <input type="radio" name="slide" class="control" id="Slide2" />
                    <label for="Slide2" id="s2"></label>
                    <input type="radio" name="slide" class="control" id="Slide3" />
                    <label for="Slide3" id="s3"></label>

                    <!--SLIDER 1ST-->

                    <div class="overflow-wrapper">
                        <span class="slide">

                            <div class="slider-item">

                                <div class="slider-text">
                                    <p>
                                        Your performance for this week...
                                    </p>
                                </div>
                                <div class="green-button">
                                    <div class="border-right"><img src="css/images/green-button.png" alt=""/></div>
                                    <div class="btn-text-green">
                                        +<span data-bind="text: dayPlusRatings"></span>
                                    </div>
                                </div>

                                <div class="red-button">
                                    <img src="css/images/red-button.png" alt=""/>
                                    <div class="btn-text-red">
                                        -<span data-bind="text: dayMinusRatings"></span>
                                    </div>
                                </div>
                            </div> 

                        </span>

                        <!--SLIDER 2ND-->
                        <span class="slide">

                            <div class="slider-item">
                                <div class="slider-text">
                                    <p>
                                        Your performance for this month...
                                    </p>
                                </div>
                                <div class="green-button">
                                    <div class="border-right"><img src="css/images/green-button.png" alt=""/></div>
                                    <div class="btn-text-green">
                                        +<span data-bind="text: monthPlusRatings"></span>
                                    </div>
                                </div>

                                <div class="red-button">
                                    <img src="css/images/red-button.png" alt=""/>
                                    <div class="btn-text-red">
                                        -<span data-bind="text: monthMinusRatings"></span>
                                    </div>
                                </div>
                            </div> 

                        </span>
                        <!--SLIDER 3RD-->
                        <span class="slide">

                            <div class="slider-item">
                                <div class="slider-text">
                                    <p>
                                        Your performance up to now...
                                    </p>
                                </div>
                                <div class="green-button">
                                    <div class="border-right"><img src="css/images/green-button.png" alt=""/></div>
                                    <div class="btn-text-green">
                                        +<span data-bind="text: myPlusRatings"></span>
                                    </div>
                                </div>

                                <div class="red-button">
                                    <img src="css/images/red-button.png" alt=""/>
                                    <div class="btn-text-red">
                                        -<span data-bind="text: myMinusRatings"></span>
                                    </div>
                                </div>
                            </div> 

                        </span>

                    </div>
                </div>
            </div>
        </div>

        <!-- side box with some dummy text-->
<!--        <div class="oj-col oj-sm-12 oj-md-12  oj-lg-3 oj-flex-item oj-panel side-box ">
            <div class="cross-top">
                <a href="javascript:void(0);">   <i class="zmdi zmdi-close"></i> </a>
            </div>
            <p>
                some dummy text goes here....
            </p>
            <p>
                some dummy text goes here....
            </p>

            <div class="right-wrong-icon">
                <a class="check-icon verticalbar" href="#">  <i class="zmdi zmdi-check"></i> </a>

                <a class="close-icon" href="#"> <i class="zmdi zmdi-close"></i> </a>

            </div>
        </div>-->

    </div>
</div>

