
<div class="max-width">
    <div id="tabs-container" class="oj-margin-top oj-margin-bottom">
        <div id="tabs3" data-bind="ojComponent:{component: 'ojTabs'}" >
            <!-- tab bar -->
            <ul>
                <li class="buddyTab5" id="home1">
                    <div id="homeTab1">
                    </div>   
                    <div class="hoverTab5"> My <br> Performance </div>
                </li>
                <li class="buddyTab6" id="home2">
                    <div id="homeTab2">   
                    </div>
                    <div class="hoverTab6">Team’s <br> Performance</div>
                </li>
            </ul>
            <!-- tab contents -->
            <div id="tabs-5">
                <hr class="home-hr">
                <div class="oj-flex max-width">
                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal oj-padding-horizontal">
                        <h2  class="slider-heading">
                            Hello <span data-bind="text: memberName"></span>
                        </h2> 
                    </div>
                </div>

                <!-- slider section starts -->
                <div class="oj-web-applayout-max-width oj-web-applayout-content ">
                    <div class="oj-flex oj-row sliderPos">
                        <div class="oj-col oj-sm-12 oj-md-12 oj-lg-12 oj-xl-12 oj-flex-item oj-panel slider-color slide ">

                            <div class="oj-xl-8 oj-lg-8 oj-md-12 oj-sm-12 oj-flex-item" id="mySlider">

                                <div style="margin: 20px; ">
                                    <div id="filmStripDiv" style="position: relative; height: 340px;overflow: hidden; width: 100%;">
                                        <div id="filmStrip10" 
                                             data-bind="ojComponent: {
             component: 'ojFilmStrip', 
             maxItemsPerPage: 1, 
             arrowVisibility: 'hidden'}" 
                                             aria-label="Set of chemicals" 
                                             class="demo-stretch-items">
                                            <!-- ko foreach: mySlider -->
                                            <div class="filmstrip-item12" 
                                                 data-bind="attr: {id: 'show1'+$index()},style: {
               display: getItemInitialDisplay10($index())}">
                                                <div class="" data-bind="attr: {id: 'showSlider1'+$index()}">
                                                    <div class="slider-text">
                                                        <p data-bind="text: performanceTxt">

                                                        </p>
                                                    </div>
                                                    <div class="oj-row oj-flex oj-xl-6 oj-lg-6 oj-md-6 oj-sm-6 left">
                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item imgBorder-Slider pos-relative">
                                                            <div class="imgSlider"><a href="profile.html"><img src="css/images/green-button.png" alt=""/></a></div>
                                                            <div class="btn-txt">
                                                                <div class="alignSliderTxt">
                                                                    <span data-bind="text: leadPlus12"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="oj-row oj-flex oj-xl-6 oj-lg-6 oj-md-6 oj-sm-6">
                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item pos-relative">
                                                            <div class="imgSlider"><a href="profile.html"><img src="css/images/red-button.png" alt=""/></a></div>
                                                            <div class="btn-txt">
                                                                <div class="alignSliderTxt">
                                                                    <span data-bind="text: leadMinus12"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-bind="attr: {id: 'noRating1'+$index()}" class="oj-row oj-flex oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 txtAlign">
                                                    <div class="sliderTxt1"><span data-bind="text: noRatingTxt"></span> </div>
                                                    <div class="noRatingImg">
                                                        <img class="" data-bind="attr: {id:'smiley1'+$index()}" src="../css/images/sliderScreen.png" alt="slider image"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /ko -->
                                        </div>

                                        <div class="demo-overlaid-paging-control">
                                            <div id="pagingControl1" 
                                                 data-bind="ojComponent: {
               component: 'ojPagingControl', 
               data: getPagingModel10(), 
               pageSize: 0, 
               pageOptions: {type: 'dots'}}">
                                            </div>
                                        </div>
                                    </div> <!-- end filmStripDiv -->


                                </div>
                            </div>
                        </div>

                        <!-- side box with some dummy text-->
                        <!--        <div class="oj-col oj-sm-12 oj-md-12  oj-lg-3 oj-flex-item oj-panel side-box ">
                                    <div class="cross-top">
                                        <a href="javascript:void(0);">   <i class="zmdi zmdi-close"></i> </a>
                                    </div>
                                    <p>
                                        some dummy text goes here....
                                    </p>
                                    <p>
                                        some dummy text goes here....
                                    </p>
                        
                                    <div class="right-wrong-icon">
                                        <a class="check-icon verticalbar" href="#">  <i class="zmdi zmdi-check"></i> </a>
                        
                                        <a class="close-icon" href="#"> <i class="zmdi zmdi-close"></i> </a>
                        
                                    </div>
                                </div>-->

                    </div>
                </div>
                <div class="oj-web-applayout-content max-width  color-white pos-relative oj-margin-bottom oj-margin-top bottom-feedback">
                    <div class="oj-flex">
                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex ">
                            <h3><strong class=" color-white">Recent +1 Ratings</strong></h3> 
                        </div>
                    </div>
                </div>
                <div class="oj-web-applayout-content max-width  color-white pos-relative oj-margin-bottom oj-margin-top bottom-feedback">
                    <div class="transbox max-width box-shadow border-transbox"></div>

                    <div class="oj-flex showup my-performance-slide">
                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex">
                            <div class="oj-xl-3 oj-lg-3 oj-md-3 oj-sm-12 oj-flex oj-flex-item oj-padding border-right-recent">

                                <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center ">

                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center hoverContent0">
                                        <div class ="recentInfo0">
                                            <div class="text-hover-my" data-bind="text: name0hover"></div>
                                            <div class="text-hover-project" data-bind="text: project0hover"> project name </div>
                                        </div>
                                        <a data-bind="attr: {href: link0}">
                                            <img class="profile border-color-green" data-bind="attr: {src:image0}"/>
                                        </a>
                                    </div>

                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                                        <h4 data-bind="text: name0"></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="oj-xl-3 oj-lg-3 oj-md-3 oj-sm-12 oj-flex oj-flex-item oj-padding border-right-recent">
                                <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center hoverContent1">
                                        <div class ="recentInfo1">
                                            <div class="text-hover-my" data-bind="text: name1hover"></div>
                                            <div class="text-hover" data-bind="text: project1hover"> project name </div>
                                        </div>
                                        <a data-bind="attr: {href: link1}">
                                            <img class="profile border-color-green" data-bind="attr: {src:image1}"/>
                                        </a>

                                    </div>
                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                                        <h4 data-bind="text: name1"></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="oj-xl-3 oj-lg-3 oj-md-3 oj-sm-12 oj-flex oj-flex-item  oj-padding border-right-recent">
                                <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center hoverContent2">
                                        <div class ="recentInfo2">
                                            <div class="text-hover-my" data-bind="text: name2hover"></div>
                                            <div class="text-hover" data-bind="text: project2hover"> project name </div>
                                        </div>
                                        <a data-bind="attr: {href: link2}">
                                            <img class="profile border-color-green" data-bind="attr: {src:image2}"/>
                                        </a>

                                    </div>
                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                                        <h4 data-bind="text: name2"></h4>
                                    </div>
                                </div>

                            </div>

                            <div class="oj-xl-3 oj-lg-3 oj-md-3 oj-sm-12 oj-flex oj-flex-item  oj-padding border-right-recent">
                                <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center hoverContent3">
                                        <div class ="recentInfo3">
                                            <div class="text-hover-my" data-bind="text: name3hover"></div>
                                            <div class="text-hover" data-bind="text: project3hover"> project name </div>
                                        </div>
                                        <a data-bind="attr: {href: link3}">
                                            <img class="profile border-color-green" data-bind="attr: {src:image3}"/>
                                        </a>

                                    </div>
                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                                        <h4 data-bind="text: name3"></h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tabs-6">

                <hr class="home-hr">
                <div class="oj-flex max-width">
                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal oj-padding-horizontal">
                        <h2  class="slider-heading">
                            Hello <span data-bind="text: memberName"></span>
                        </h2> 
                    </div>
                </div>
                <div class="oj-web-applayout-max-width oj-web-applayout-content ">
                    <div class="oj-flex oj-row sliderPos">
                        <div class="oj-col oj-sm-12 oj-md-12 oj-lg-12 oj-xl-12 oj-flex-item oj-panel slider-color slide ">

                            <div class="oj-xl-8 oj-lg-8 oj-md-12 oj-sm-12 oj-flex-item" id="mangerSlider1">

                                <div style="margin: 20px; ">
                                    <div id="filmStripDiv" style="position: relative; height: 340px;overflow: hidden; width: 100%;">
                                        <div id="filmStrip12" 
                                             data-bind="ojComponent: {
                     component: 'ojFilmStrip', 
                     maxItemsPerPage: 1, 
                     arrowVisibility: 'hidden'}" 
                                             aria-label="Set of chemicals" 
                                             class="demo-stretch-items">
                                            <!-- ko foreach: leadSlider -->
                                            <div class="filmstrip-item12" 
                                                 data-bind="attr: {id: 'show'+$index()},style: {
                       display: getItemInitialDisplay12($index())}">
                                                <div class="" data-bind="attr: {id: 'showSlider'+$index()}">
                                                    <div class="slider-text">
                                                        <p data-bind="text: performanceTxt">

                                                        </p>
                                                    </div>
                                                    <div class="oj-row oj-flex oj-xl-6 oj-lg-6 oj-md-6 oj-sm-6 left">
                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item imgBorder-Slider pos-relative">
                                                            <div class="imgSlider"><img src="css/images/green-button.png" alt=""/></div>
                                                            <div class="btn-txt">
                                                                <div class="alignSliderTxt">
                                                                    <span data-bind="text: leadPlus12"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="oj-row oj-flex oj-xl-6 oj-lg-6 oj-md-6 oj-sm-6">
                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item pos-relative">
                                                            <div class="imgSlider"><img src="css/images/red-button.png" alt=""/></div>
                                                            <div class="btn-txt">
                                                                <div class="alignSliderTxt">
                                                                    <span data-bind="text: leadMinus12"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-bind="attr: {id: 'noRating'+$index()}" class="oj-row oj-flex oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 txtAlign">
                                                    <div class="sliderTxt1"><span data-bind="text: noRatingTxt"></span> </div>
                                                    <div class="noRatingImg">
                                                        <img class="" data-bind="attr: {id:'smiley'+$index()}" src="../css/images/sliderScreen.png" alt="slider image"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /ko -->
                                        </div>

                                        <div class="demo-overlaid-paging-control">
                                            <div id="pagingControl2" 
                                                 data-bind="ojComponent: {
                       component: 'ojPagingControl', 
                       data: getPagingModel12(), 
                       pageSize: 0, 
                       pageOptions: {type: 'dots'}}">
                                            </div>
                                        </div>
                                    </div> <!-- end filmStripDiv -->


                                </div>
                            </div>


                            <div class="oj-xl-8 oj-lg-8 oj-md-12 oj-sm-12 oj-flex-item" id="mangerSlider">
                                <div style="margin: 0px; ">
                                    <div id="filmStripDiv" style="position: relative; height: 340px;overflow: hidden; width: 100%;">

                                        <div id="filmStripDiv2" style="margin: 20px;">
                                            <div id="filmStrip2" 
                                                 aria-label="Set of chemicals" 
                                                 data-bind="ojComponent: {
                   component: 'ojFilmStrip', 
                   arrowVisibility: 'hidden'}">
                                                <!-- ko foreach: projects -->
                                                <div class="filmstrip-item12" 
                                                     data-bind="attr: {id: 'showManager'+$index()},style: {
                       display: getItemInitialDisplay1($index())}">
                                                    <div class="" data-bind="attr: {id: 'showSliderManager'+$index()}">
                                                        <div class="slider-text">
                                                            <p data-bind="text: performanceTxt">

                                                            </p>
                                                        </div>
                                                        <div class="oj-row oj-flex oj-xl-6 oj-lg-6 oj-md-6 oj-sm-6 left">
                                                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item imgBorder-Slider pos-relative">
                                                                <div class="imgSlider"><img src="css/images/green-button.png" alt=""/></div>
                                                                <div class="btn-txt">
                                                                    <div class="alignSliderTxt">
                                                                        <span data-bind="text: plus"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="oj-row oj-flex oj-xl-6 oj-lg-6 oj-md-6 oj-sm-6">
                                                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item pos-relative">
                                                                <div class="imgSlider"><img src="css/images/red-button.png" alt=""/></div>
                                                                <div class="btn-txt">
                                                                    <div class="alignSliderTxt">
                                                                        <span data-bind="text: minus"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-bind="attr: {id: 'noRatingManager'+$index()}" class="oj-row oj-flex oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 txtAlign">
                                                        <div class="sliderTxt1"><span data-bind="text: noRatingTxt"></span> </div>
                                                        <div class="noRatingImg">
                                                            <img class="" data-bind="attr: {id:'smileyManager'+$index()}" src="../css/images/sliderScreen.png" alt="slider image"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /ko -->
                                            </div>

                                            <div style="text-align: center;">
                                                <div style="display: inline-block;margin-top: 4px;">
                                                    <div id="pagingControl3" 
                                                         data-bind="ojComponent: {
                       component: 'ojPagingControl', 
                       data: getPagingModel1(), 
                       pageSize: 0, 
                       pageOptions: {type: 'dots'}}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- end filmStripDiv -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="oj-web-applayout-content max-width  color-white pos-relative oj-margin-bottom oj-margin-top bottom-feedback">
                    <div class="oj-flex">
                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex ">
                            <h3><strong id="plusSliderTxt" class=" color-white"></strong></h3> 
                        </div>
                    </div>
                </div>


                <div class="oj-web-applayout-content max-width  color-white pos-relative oj-margin-bottom oj-margin-top bottom-feedback">
                    <div class="transbox max-width box-shadow border-transbox"></div>

                    <div id="filmStripDiv" style="margin:20px;">
                        <div id="filmStrip" aria-label="Set of chemicals" data-bind="ojComponent: {
           component: 'ojFilmStrip', 
           arrowPlacement: currentNavArrowPlacement, 
           arrowVisibility: currentNavArrowVisibility}">
                            <!-- ko foreach: teamMembers -->
                            <div class="filmstrip-item showup" data-bind="style: {
             display: getItemInitialDisplay($index())}">
                                <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center ">

                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center hoverContent0">
                                        <div class ="recentInfo0">
                                            <div class="text-hover-my" data-bind="text: name"></div>
                                            <div class="text-hover-project" data-bind="text: projects"> project name </div>
                                        </div>
                                        <a data-bind="attr: {href: personLink}">
                                            <img class="profile border-color-green" data-bind="attr: {src: image}"/>
                                        </a>
                                        <!-- <div class ="recentInfo0">
                                            <div class="text-hover" data-bind="text: name"></div>
                                            <div class="text-hover" data-bind="text: projects"> project name </div>
                                        </div> -->
                                    </div>

                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                                        <h4 data-bind="text: nameS"></h4>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                    </div> <!-- end filmStripDiv -->
                </div>
            </div>
        </div>
    </div>
</div>
