
<div class="max-width">
    <div id="tabs-container" class="oj-margin-top oj-margin-bottom">
        <div id="tabs3" data-bind="ojComponent:{component: 'ojTabs'}" >
            <!-- tab bar -->
            <ul>
                <li class="buddyTab5" id="home1">
                    <div id="homeTab1">
                    </div>   
                    <div class="hoverTab5"> My <br> Performance </div>
                </li>
                <li class="buddyTab6" id="home2">
                    <div id="homeTab2">   
                    </div>
                    <div class="hoverTab6">Team’s <br> Performance</div>
                </li>
            </ul>
            <!-- tab contents -->
            <div id="tabs-5">
                <hr class="home-hr">
                <div class="oj-flex max-width">
                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal oj-padding-horizontal">
                        <h2  class="slider-heading">
                            Hello <span data-bind="text: memberName"></span>
                        </h2> 
                    </div>
                </div>
                <!-- slider section starts -->
                <div class="oj-web-applayout-max-width oj-web-applayout-content ">
                    <div class="oj-flex oj-row sliderPos">
                        <div class="oj-col oj-sm-12 oj-md-12 oj-lg-12 oj-xl-12 oj-flex-item oj-panel slider-color slide ">

                            <div id="slider-wrapper">
                                <div class="inner-wrapper" id="inner-wrapper" >
                                    <input checked type="radio" name="slide" class="control" id="Slide1"/>
                                    <label for="Slide1" id="s1"></label>
                                    <input type="radio" name="slide" class="control" id="Slide2" />
                                    <label for="Slide2" id="s2"></label>
                                    <input type="radio" name="slide" class="control" id="Slide3" />
                                    <label for="Slide3" id="s3"></label>
                                    <div class="overflow-wrapper">
                                        <div class="slide">

                                            <div class="slider-item" id="hideSlider1">

                                                <div class="slider-text">
                                                    <p>
                                                        Your performance for this week...
                                                    </p>
                                                </div>
                                                <a  href="profile.html" >
                                                    <div class="green-button" id="hidegreenBtn1" data-bind="">

                                                        <div class="border-right"><img src="css/images/green-button.png" alt=""/></div>
                                                        <div class="btn-text-green">
                                                            +<span data-bind="text: dayPlusRatings"></span>

                                                        </div>
                                                    </div>
                                                </a>
                                                <a  href="profile.html?id=1">
                                                    <div class="red-button" id="hideredBtn1">

                                                        <img src="css/images/red-button.png" alt=""/>
                                                        <div class="btn-text-red">
                                                            -<span data-bind="text: dayMinusRatings"></span>


                                                        </div>
                                                    </div>
                                                </a>
                                            </div> 
                                            <div class="sliderScreen" data-bind="text: sliderText1">
                                            </div>
                                            <img class="sliderSmiley" id="smiley1" src="../css/images/sliderScreen.png" alt="slider image"/>
                                        </div>


                                        <!--SLIDER 2ND-->
                                        <div class="slide">

                                            <div class="slider-item" id="hideSlider2">
                                                <div class="slider-text">
                                                    <p>
                                                        Your performance for this month...
                                                    </p>
                                                </div>
                                                <a  href="profile.html" >
                                                    <div class="green-button"  id="hidegreenBtn2">
                                                        <div class="border-right"><img src="css/images/green-button.png" alt=""/></div>
                                                        <div class="btn-text-green">
                                                            +<span data-bind="text: monthPlusRatings"></span>

                                                        </div>
                                                    </div>
                                                </a>
                                                <a  href="profile.html?id=1">
                                                    <div class="red-button"  id="hideredBtn2">
                                                        <img src="css/images/red-button.png" alt=""/>
                                                        <div class="btn-text-red">
                                                            -<span data-bind="text: monthMinusRatings"></span>

                                                        </div>
                                                    </div>
                                                </a>
                                            </div> 
                                            <div class="sliderScreen" data-bind="text: sliderText2">  
                                            </div>
                                            <img class="sliderSmiley" id="smiley2" src="../css/images/sliderScreen.png" alt="slider image"/>

                                        </div>
                                        <!--SLIDER 3RD-->
                                        <div class="slide">

                                            <div class="slider-item"  id="hideSlider3">
                                                <div class="slider-text">
                                                    <p>
                                                        Your performance up to now...
                                                    </p>
                                                </div>
                                                <a  href="profile.html" >
                                                    <div class="green-button" id="hidegreenBtn3">
                                                        <div class="border-right"><img src="css/images/green-button.png" alt=""/></div>
                                                        <div class="btn-text-green">
                                                            +<span data-bind="text: myPlusRatings"></span>

                                                        </div>
                                                    </div>
                                                </a>
                                                <a  href="profile.html?id=1">
                                                    <div class="red-button"  id="hideredBtn3">
                                                        <img src="css/images/red-button.png" alt=""/>
                                                        <div class="btn-text-red">
                                                            -<span data-bind="text: myMinusRatings"></span>

                                                        </div>
                                                    </div>
                                                </a>
                                            </div> 
                                            <div class="sliderScreen" data-bind="text: sliderText3">
                                            </div>
                                            <img class="sliderSmiley" id="smiley3" src="../css/images/sliderScreen.png" alt="slider image"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="sliderScreen-NoRatings" id="noRatingsScreen">
                                    You have not been rated yet !!
                                    <div><img class="sliderSmiley-NoRatings"  src="../css/images/sliderScreen.png" alt="slider image"/></div>
                                </div>

                            </div>
                        </div>

                        <!-- side box with some dummy text-->
                        <!--        <div class="oj-col oj-sm-12 oj-md-12  oj-lg-3 oj-flex-item oj-panel side-box ">
                                    <div class="cross-top">
                                        <a href="javascript:void(0);">   <i class="zmdi zmdi-close"></i> </a>
                                    </div>
                                    <p>
                                        some dummy text goes here....
                                    </p>
                                    <p>
                                        some dummy text goes here....
                                    </p>
                        
                                    <div class="right-wrong-icon">
                                        <a class="check-icon verticalbar" href="#">  <i class="zmdi zmdi-check"></i> </a>
                        
                                        <a class="close-icon" href="#"> <i class="zmdi zmdi-close"></i> </a>
                        
                                    </div>
                                </div>-->

                    </div>
                </div>
                <div class="oj-web-applayout-content max-width  color-white pos-relative oj-margin-bottom oj-margin-top bottom-feedback">
                    <div class="oj-flex">
                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex ">
                            <h3><strong class=" color-white">Recent +1 Ratings</strong></h3> 
                        </div>
                    </div>
                </div>
                <div class="oj-web-applayout-content max-width  color-white pos-relative oj-margin-bottom oj-margin-top bottom-feedback">
                    <div class="transbox max-width box-shadow border-transbox"></div>

                    <div class="oj-flex showup">
                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex">
                            <div class="oj-xl-3 oj-lg-3 oj-md-3 oj-sm-12 oj-flex oj-flex-item oj-padding border-right-recent">

                                <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center ">

                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center hoverContent0">
                                        <div class ="recentInfo0">
                                            <div class="text-hover-my" data-bind="text: name0hover"></div>
                                            <div class="text-hover-project" data-bind="text: project0hover"> project name </div>
                                        </div>
                                        <a data-bind="attr: {href: link0}">
                                            <img class="profile border-color-green" data-bind="attr: {src:image0}"/>
                                        </a>
                                    </div>

                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                                        <h4 data-bind="text: name0"></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="oj-xl-3 oj-lg-3 oj-md-3 oj-sm-12 oj-flex oj-flex-item oj-padding border-right-recent">
                                <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center hoverContent1">
                                        <div class ="recentInfo1">
                                            <div class="text-hover-my" data-bind="text: name1hover"></div>
                                            <div class="text-hover" data-bind="text: project1hover"> project name </div>
                                        </div>
                                        <a data-bind="attr: {href: link1}">
                                            <img class="profile border-color-green" data-bind="attr: {src:image1}"/>
                                        </a>
                                        
                                    </div>
                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                                        <h4 data-bind="text: name1"></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="oj-xl-3 oj-lg-3 oj-md-3 oj-sm-12 oj-flex oj-flex-item  oj-padding border-right-recent">
                                <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center hoverContent2">
                                        <div class ="recentInfo2">
                                            <div class="text-hover-my" data-bind="text: name2hover"></div>
                                            <div class="text-hover" data-bind="text: project2hover"> project name </div>
                                        </div>
                                        <a data-bind="attr: {href: link2}">
                                            <img class="profile border-color-green" data-bind="attr: {src:image2}"/>
                                        </a>
                                        
                                    </div>
                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                                        <h4 data-bind="text: name2"></h4>
                                    </div>
                                </div>

                            </div>

                            <div class="oj-xl-3 oj-lg-3 oj-md-3 oj-sm-12 oj-flex oj-flex-item  oj-padding border-right-recent">
                                <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center hoverContent3">
                                        <div class ="recentInfo3">
                                            <div class="text-hover-my" data-bind="text: name3hover"></div>
                                            <div class="text-hover" data-bind="text: project3hover"> project name </div>
                                        </div>
                                        <a data-bind="attr: {href: link3}">
                                            <img class="profile border-color-green" data-bind="attr: {src:image3}"/>
                                        </a>
                                        
                                    </div>
                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                                        <h4 data-bind="text: name3"></h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tabs-6">
                <hr class="home-hr">
                <div class="oj-flex max-width">
                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal oj-padding-horizontal">
                        <h2  class="slider-heading">
                            Hello <span data-bind="text: memberName"></span>
                        </h2> 
                    </div>
                </div>

                <!--start slider here-->
                <div id="slider-wrapper1">
                    <div class="inner-wrapper" id="inner-wrapper1" >
                        <input checked type="radio" name="slide1" class="control" id="Slide12"/>
                        <label for="Slide12" id="s12"></label>
                        <input type="radio" name="slide1" class="control" id="Slide22" />
                        <label for="Slide22" id="s22"></label>
                        <input type="radio" name="slide1" class="control" id="Slide32" />
                        <label for="Slide32" id="s32"></label>
                        <div class="overflow-wrapper">
                            <div class="slide">
 <!--week lead-->
                                <div class="slider-item" id="hideSlider12">

                                    <div class="slider-text">
                                        <p>
                                            My Team’s Performance for this week…
                                        </p>
                                    </div>

                                    <div class="green-button" id="hidegreenBtn1" data-bind="">

                                        <div class="border-right"><img src="css/images/green-button.png" alt=""/></div>
                                        <div class="btn-text-green">
                                            <span data-bind="text: leadPlusWeek"></span>

                                        </div>
                                    </div>


                                    <div class="red-button" id="hideredBtn1">

                                        <img src="css/images/red-button.png" alt=""/>
                                        <div class="btn-text-red">
                                            <span data-bind="text: leadMinusWeek"></span>


                                        </div>
                                    </div>

                                </div> 

                                    <div class="sliderScreen1" id="hideSliderWeek" >
                                        Your team has not been rated this week!!
                                    </div>
                                    <img class="sliderSmiley" id="weekSmiley" src="../css/images/sliderScreen.png" alt="slider image"/>
                                
                            </div>


                            <!--SLIDER 2ND-->
                            <div class="slide">

                                <div class="slider-item" id="hideSlider22">
                                    <div class="slider-text">
                                        <p>
                                            My Team’s Performance for this month…
                                        </p>
                                    </div>

                                    <div class="green-button"  id="hidegreenBtn2">
                                        <div class="border-right"><img src="css/images/green-button.png" alt=""/></div>
                                        <div class="btn-text-green">
                                            <span data-bind="text: leadPlusmonth"></span>

                                        </div>
                                    </div>


                                    <div class="red-button"  id="hideredBtn2">
                                        <img src="css/images/red-button.png" alt=""/>
                                        <div class="btn-text-red">
                                            <span data-bind="text: leadMinusmonth"></span>

                                        </div>
                                    </div>

                                </div> 
                               
                                    <div class="sliderScreen1" id="hideMonthSlider" > 
                                        Your team has not been rated this month!!
                                    </div>
                                    <img class="sliderSmiley" id="monthSmiley" src="../css/images/sliderScreen.png" alt="slider image"/>
                                

                            </div>
                            <!--SLIDER 3RD-->
                            <div class="slide">

                                <div class="slider-item"  id="hideSlider3">
                                    <div class="slider-text">
                                        <p>
                                            My Team’s Performance up to now…
                                        </p>
                                    </div>

                                    <div class="green-button" id="hidegreenBtn3">
                                        <div class="border-right"><img src="css/images/green-button.png" alt=""/></div>
                                        <div class="btn-text-green">
                                            <span data-bind="text: leadPlustill"></span>

                                        </div>
                                    </div>


                                    <div class="red-button"  id="hideredBtn3">
                                        <img src="css/images/red-button.png" alt=""/>
                                        <div class="btn-text-red">
                                            <span data-bind="text: leadMinustill"></span>

                                        </div>
                                    </div>
                                </div> 
                            </div>

                        </div>
                    </div>

                    <div class="sliderScreen-NoRatings " id="noRatingsScreen1">
                        Your team has not been rated yet!! </div>
                        <img class="sliderSmiley-NoRatings" id="smileyOverAll" src="../css/images/sliderScreen.png" alt="slider image"/>
                   

                </div>

                <!--end slider here-->
                <div class="oj-xl-8 oj-lg-8 oj-md-8 oj-sm-8 oj-flex-item" id="mangerSlider">

                    <div id="filmStripDiv2" style="margin: 20px;">
                        <div id="filmStrip2" 
                             aria-label="Set of chemicals" 
                             data-bind="ojComponent: {
           component: 'ojFilmStrip', 
           arrowVisibility: 'hidden'}">
                            <!-- ko foreach: projects -->
                            <div class="filmstrip-item-manager"
                                 data-bind="attr: {id: 'srno'+$index()},style: {
             display:  getItemInitialDisplay1($index())}">
                                <!--<span data-bind="text: name"></span>-->
                                <div class="slider-item">
                                    <div class="slider-text">
                                        <p style="text-align: left">
                                            Performance of <span data-bind="text: name"></span> team
                                        </p>
                                    </div>
                                    <div class="greenBtn">
                                        <div class="border-right"><img src="css/images/green-button.png" alt=""/></div>
                                        <div class="btn-text-green-tab2">
                                            <span data-bind="text: plus"></span>
                                        </div>
                                    </div>
                                    <div class="redBtn"  id="hideredBtn3">
                                        <img src="css/images/red-button.png" alt=""/>
                                        <div class="btn-text-red-tab2">
                                            <span data-bind="text: minus"></span>
                                        </div>
                                    </div>
                                </div>

                                <div data-bind="attr: {id: 'emptyTxt'+$index()}" class="hide">
                                    <div class="sliderScreen">No ratings for <span data-bind="text: name"></span> project
                                    </div>
                                    <img class="sliderSmiley" data-bind="attr: {id:'smiley'+$index()}" src="../css/images/sliderScreen.png" alt="slider image"/>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>

                        <div style="text-align: center;">
                            <div style="display: inline-block;margin-top: 4px;">
                                <div id="pagingControl" 
                                     data-bind="ojComponent: {
               component: 'ojPagingControl', 
               data: getPagingModel(), 
               pageSize: 0, 
               pageOptions: {type: 'dots'}}">
                                </div>
                            </div>
                        </div>
                    </div> <!-- end filmStripDiv -->
                </div>


                <div class="oj-web-applayout-content max-width  color-white pos-relative oj-margin-bottom oj-margin-top bottom-feedback">
                    <div class="oj-flex">
                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex ">
                            <h3><strong id="plusSliderTxt" class=" color-white"></strong></h3> 
                        </div>
                    </div>
                </div>


                <div class="oj-web-applayout-content max-width  color-white pos-relative oj-margin-bottom oj-margin-top bottom-feedback">
                    <div class="transbox max-width box-shadow border-transbox"></div>

                    <div id="filmStripDiv" style="margin:20px">
                        <div id="filmStrip" aria-label="Set of chemicals" data-bind="ojComponent: {
           component: 'ojFilmStrip', 
           arrowPlacement: currentNavArrowPlacement, 
           arrowVisibility: currentNavArrowVisibility}">
                            <!-- ko foreach: teamMembers -->
                            <div class="filmstrip-item showup" data-bind="style: {
             display: getItemInitialDisplay($index())}">
                                <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center ">

                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center hoverContent0">
                                        <div class ="recentInfo0">
                                            <div class="text-hover-my" data-bind="text: name"></div>
                                            <div class="text-hover-project" data-bind="text: projects"> project name </div>
                                        </div>
                                        <a data-bind="attr: {href: personLink}">
                                            <img class="profile border-color-green" data-bind="attr: {src: image}"/>
                                        </a>
                                        <!-- <div class ="recentInfo0">
                                            <div class="text-hover" data-bind="text: name"></div>
                                            <div class="text-hover" data-bind="text: projects"> project name </div>
                                        </div> -->
                                    </div>

                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                                        <h4 data-bind="text: nameS"></h4>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                    </div> <!-- end filmStripDiv -->
                </div>


            </div>
        </div>
    </div>
</div>
