<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="max-width">
    
    <div class="oj-form-layout">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline oj-form-no-dividers
             oj-form-cols-labels-inline oj-form-cols-max2"    >

            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label for="inputcontrol">input</label>
                </div>
                <div class="oj-flex-item">
                    <input id="inputcontrol"
                           data-bind="ojComponent: {
              component: 'ojInputText', 
              help: {definition: 'inputText Help definition', source:'http://www.oracle.com'  },            
              value: textValue, 
              messagesCustom: appMessages}">
                </div>
            </div>      
        </div>
    </div>
</div>
