<div id="dialogWrapper">
  <div style="display:none" id="modalVideo" title="Welcome to Parakh" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 600px; height: 400px;'}}">
     <div class="oj-dialog-body">
       
     </div>
  </div>
  <div class="video-div">
    <a href="javascript:void(0)"><img data-bind="attr:{src:video_image},click:openVideo"></a>
  </div>
  <!-- <button id="buttonOpener" data-bind="ojComponent: {component: 'ojButton', label: 'Video'},click:openVideo"></button> -->

</div>