

<div class="oj-web-applayout-max-width oj-web-applayout-content">
    <div class="oj-flex oj-row">
        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-padding">
            <img data-bind="attr: {src: pic}" class="oj-margin profile-pic" />
            <div class="oj-padding oj-margin left">
                <h2 data-bind="text :myname" class="color-white myname-profile">  </h2>
            </div>
        </div>
    </div>
</div>

<div id="vtabs" class="max-width profile-page oj-margin-top"
     data-bind="ojComponent:{component: 'ojTabs', 
                            orientation: 'vertical',
                            selected: 0}">


    <ul class="profile-ul pos-relative tabHeightNew" id="ulTab">
        <div class="transbox"></div>
        <li class="profile-tabs profile-font-tabs selectedTab" title="Positive Rating"><span><i class="zmdi zmdi-trending-up"></i> 
                <span data-bind='text: plusSign'></span><span data-bind="text: plus"></span></span>
        </li>
        <li class="profile-tabs profile-font-tabs selectedTab" id="negetiveTab" title="Negative Rating"><span><i class="zmdi zmdi-trending-down"></i> 
                <span data-bind='text: minusSign'></span><span data-bind="text: minus"></span></span></li>
        <li class="profile-tabs profile-font-tabs selectedTab" id="feedbackTab"><span><i class="zmdi zmdi-comment-alt-text"></i> Feedback</span></li>
        <li class="profile-tabs profile-font-tabs selectedTab"><span><i class="zmdi zmdi-account"></i> About</span></li>
    </ul>

    <div id="tabs-1" class="color-white oj-margin-horizontal pos-relative tabMinHeight">
        <div class="transbox"></div>
        <div class="profile-page-overflow pos-relative">
            <div class="noComments" id="noPositiveComment" data-bind="text: NoCommentsP"></div>
           <div class=" oj-row oj-flex rating-comment" data-bind="foreach: commentDataPositive">
                <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex pos-relative oj-margin-top oj-padding-top rating-comment-div">
                    <div class="  oj-xl-2 oj-lg-2 oj-md-2 oj-sm-3 oj-flex-item oj-margin-start oj-margin-top  oj-padding-start  oj-padding-top commentDate"><span data-bind="text: commentDate"></span></div>
                    <div class="  oj-xl-1 oj-lg-1 oj-md-1 oj-sm-1 oj-flex-item profile-rating-circle circle-green ">
                           <span class="hoverName" data-bind="text:commenter">
                        </span>
                        <span data-bind="text:shortName"></span>
                        <!--circle-green-->
                        <div class="transline"></div>
                    </div>
                    <div class="oj-xl-8 oj-lg-8 oj-md-8 oj-sm-8 oj-flex-item oj-margin-top oj-padding-top  rating-info">
                        <p class="comment"><span data-bind="text: comment"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tabs-2" class="color-white oj-margin-horizontal pos-relative tabMinHeight">
        <div class="transbox"></div>
        <div class="profile-page-overflow">
            <div class="noComments" id="noNegativeComment" data-bind="text: NoCommentsN"></div>
           <div class="oj-row oj-flex rating-comment" data-bind="foreach: commentDataNegative">
                <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex pos-relative oj-margin-top oj-padding-top rating-comment-div">
                    <div class=" oj-xl-2 oj-lg-2 oj-md-2 oj-sm-3 oj-flex-item oj-margin-start oj-margin-top  oj-padding-start  oj-padding-top commentDate"><span data-bind="text: commentDate"></span></div>
                    <div class="oj-xl-1 oj-lg-1 oj-md-1 oj-sm-1 oj-flex-item profile-rating-circle circle-red">
                           <span class="hoverNameN" data-bind="text:commenter">
                        </span>
                        <span data-bind="text:shortName"></span>
                        <div class="transline"></div>
                    </div>
                    <div class="oj-xl-6 oj-lg-6 oj-md-6 oj-sm-6 oj-flex-item oj-margin-top oj-padding-top  rating-info">
                        <p class="comment"><span data-bind="text: comment"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="tabs-3" class="color-white oj-margin-horizontal pos-relative tabMinHeight">
        <div class="feedbackSection">
            <div class="transbox"></div>
			<div id="noFeedback" class="noComments errorText"> No feedback available !!</div>
            <div class="oj-row oj-flex">
                <div class="oj-xl-6 oj-lg-6 oj-md-12 oj-sm-12 oj-flex-item oj-padding content1 ">

                    <!--repeat block-->
                    <!--ko foreach: feedbackContent1-->
                 <div class="oj-xl-10 oj-lg-10 oj-md-12 oj-sm-12 pos-relative oj-margin oj-padding heightContent  ">
                            <div class="transbox3 feedback-profile"></div>
                        <div class="transbox feedback-profile"></div>
                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center oj-margin-top">
                            <img data-bind="attr: {src: feedbackImage}"  alt="" class="profile-feedback-pic"/>
                        </div>
                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center oj-margin-top padding-feedback">

                            <span data-bind="text: name"></span>
                        </div>
                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center padding-feedback">

                            <span data-bind="text: feedbackdesignation"></span>
                        </div>
                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center padding-feedback ">

                            <span data-bind="text: feedbackDate"></span>
                        </div>
                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-padding">

                            <span data-bind="text: sComment"></span>
                        </div>
                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item open-more oj-flex overflow-feedback-reply oj-margin-left oj-padding">

                            <!--repeat here-->
                            <!--ko foreach: replies-->
                            <div class="oj-row oj-flex oj-margin-top oj-margin-bottom oj-margin-horizontal oj-padding-horizontal">
                                <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item replyName">
                                    <span data-bind="text: reply_name"></span>
                                </div>
                                <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex replyComent">
                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item"><span data-bind="text: reply_desc"></span></div>
                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex-bar replyDate"><span class="oj-flex-bar-end" data-bind="text: reply_date"></span></div>
                                </div>
                            </div>
                            <!--/ko-->
                            <!--repeat end-->
                        </div>
                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex oj-margin-bottom replyBox">
                            <div class="oj-xl-9 oj-lg-9 oj-md-9 oj-sm-9 oj-flex-item oj-flex oj-margin-bottom"> 
                                <span class="hide oj-xl-3 oj-lg-3 oj-md-3 oj-sm-3 oj-flex-item">

                                    <button  class="submitRespond" data-bind="event:{click: $parent.replySubmit},attr:{id: replyBtnId ,loginUserId: myId,feedback_to: feedbackfrom,feedbackId: feedbackId}">
                                        <i class="zmdi zmdi-mail-reply"></i>
                                    </button>
                                </span>
                                <span class="hide oj-xl-9 oj-lg-9 oj-md-9 oj-sm-9 oj-flex-item">
                                    <input class="respondDescription border-color-white" type="text"/>
                                </span>
                            </div>
                            <div class="oj-xl-3 oj-lg-3 oj-md-3 oj-sm-3 oj-flex-item oj-margin-top openDiv flex-bar" data-bind="click: $parent.feedbackMore1,attr:{id: uniqueId}">
                                 <span class="flex-bar-end pos-relative">
                                    <span class="feedbackMoreFix"><i class="zmdi zmdi-caret-down"></i></span>
                                    <span>More</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--/ko-->
                    <!--repeat end-->

                </div>
                <div class="oj-xl-6 oj-lg-6 oj-md-12 oj-sm-12 oj-flex-item oj-padding content2">
                    <!--repeat block-->
                    <!--ko foreach: feedbackContent2-->
                   <div class="oj-xl-10 oj-lg-10 oj-md-12 oj-sm-12 pos-relative oj-margin oj-padding heightContent ">
                            <div class="transbox3 feedback-profile"></div>
                        <div class="transbox feedback-profile"></div>
                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center oj-margin-top">
                            <img data-bind="attr: {src: feedbackImage}"  alt="" class="profile-feedback-pic"/>
                        </div>
                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center  oj-margin-top padding-feedback">

                            <span data-bind="text: name"></span>
                        </div>
                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center padding-feedback">

                            <span data-bind="text: feedbackdesignation"></span>
                        </div>
                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center padding-feedback">

                            <span data-bind="text: feedbackDate"></span>
                        </div>
                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item feedbck-text oj-padding">

                            <span data-bind="text: sComment"></span>
                        </div>
                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item open-more oj-margin-left oj-flex overflow-feedback-reply">

                            <!--repeat here-->
                            <!--ko foreach: replies-->
                            <div class="oj-row oj-flex oj-margin-top oj-margin-bottom oj-margin-horizontal oj-padding-horizontal">
                                <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item replyName">
                                    <span data-bind="text: reply_name"></span>
                                </div>
                                <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex replyComent">
                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item"><span data-bind="text: reply_desc"></span></div>
                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex-bar replyDate"><span class="oj-flex-bar-end" data-bind="text: reply_date"></span></div>
                                </div>
                            </div>
                            <!--/ko-->
                            <!--repeat end-->
                        </div>
                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex oj-margin-bottom replyBox">
                            <div class="oj-xl-9 oj-lg-9 oj-md-9 oj-sm-9 oj-flex-item oj-flex oj-margin-bottom"> 
                                <span class="hide oj-xl-3 oj-lg-3 oj-md-3 oj-sm-3 oj-flex-item">

                                    <button  class="submitRespond" data-bind="event:{click: $parent.replySubmit},attr:{id: replyBtnId ,loginUserId: myId,feedback_to: feedbackfrom,feedbackId: feedbackId}">
                                        <i class="zmdi zmdi-mail-reply"></i>
                                    </button>
                                </span>
                                <span class="hide oj-xl-9 oj-lg-9 oj-md-9 oj-sm-9 oj-flex-item">
                                    <input class="respondDescription border-color-white" type="text"/>
                                </span>
                            </div>
                            <div class="oj-xl-3 oj-lg-3 oj-md-3 oj-sm-3 oj-flex-item oj-margin-top openDiv flex-bar" data-bind="click: $parent.feedbackMore1,attr:{id: uniqueId}">
                                <span class="flex-bar-end pos-relative">
                                    <span class="feedbackMoreFix"><i class="zmdi zmdi-caret-down"></i></span>
                                    <span>More</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--/ko-->
                    <!--repeat end-->
                </div>

            </div>
        </div>

    </div>
    <div id="tabs-4" class="color-white oj-margin-horizontal pos-relative tabMinHeight">
        <div class="transbox"></div>
        <div class="profile-page-overflow">
            <div class="View-Other-about-members oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex ">
                <div class="oj-xl-4 oj-lg-4 oj-md-4 oj-sm-6 oj-flex-item">
                    <span class="icon-div"><i class="zmdi zmdi-email about-icons"></i></span>
                    <span class="text-about heightCol"> Email</span>
                </div>
                <div class="oj-xl-8 oj-lg-8 oj-md-8 oj-sm-6 oj-flex-item">
                    <a class="mailToColor" data-bind="attr:{href: mailTo}"><span data-bind="text: email" title="Send mail"></span> </a>
                </div>

            </div>
            <div class="View-Other-about-members oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex ">
                <div class="oj-xl-4 oj-lg-4 oj-md-4 oj-sm-6 oj-flex-item">
                    <span class="icon-div"><i class="zmdi zmdi-case about-icons"></i> </span> 
                    <span class="text-about heightCol2">Designation</span>
                </div>
                <div class="oj-xl-8 oj-lg-8 oj-md-8 oj-sm-6 oj-flex-item">
                    <span  data-bind="text: designation"></span>
                </div>
            </div>
            <div class="View-Other-about-members oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex ">
                <div class="oj-xl-4 oj-lg-4 oj-md-4 oj-sm-6 oj-flex-item">
                    <span class="icon-div"><i class="zmdi zmdi-pin about-icons"></i> </span>
                    <span class="text-about heightCol">Location</span>
                </div>
                <div class="oj-xl-8 oj-lg-8 oj-md-8 oj-sm-6 oj-flex-item">
                    <span data-bind="text: location" ></span>
                </div>
            </div>
            <div class="View-Other-about-members oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex ">
                <div class="oj-xl-4 oj-lg-4 oj-md-4 oj-sm-6 oj-flex-item">
                    <span class="icon-div"><i class="zmdi zmdi-graduation-cap about-icons"></i> </span>
                    <span class="text-about heightCol">Skills</span>
                </div>
                <div class="oj-xl-8 oj-lg-8 oj-md-8 oj-sm-6 oj-flex-item">
                    <span data-bind="text: skills"></span>
                </div>
            </div>
            <div class="View-Other-about-members oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex ">
                <div class="oj-xl-4 oj-lg-4 oj-md-4 oj-sm-6 oj-flex-item">
                    <span class="icon-div"><i class="zmdi zmdi-time-interval about-icons"></i>  </span>
                    <span class="text-about heightCol5">With Infobeans <br/>since</span>
                   
                </div>
                <div class="oj-xl-8 oj-lg-8 oj-md-8 oj-sm-6 oj-flex-item">
                    <span data-bind="text: associated"></span>
                </div>
            </div>
            <div class="View-Other-about-members oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex ">
                <div class="oj-xl-4 oj-lg-4 oj-md-4 oj-sm-6 oj-flex-item">
                    <span class="icon-div"><i class="zmdi zmdi-file-text about-icons"></i></span>
                    <span class="text-about heightCol">Primary Project</span>
                </div>
                <div class="oj-xl-8 oj-lg-8 oj-md-8 oj-sm-6 oj-flex-item">
                    <span data-bind="text: primary_project"></span>
                </div>
            </div>
               <div class="View-Other-about-members oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex ">
                <div class="oj-xl-4 oj-lg-4 oj-md-4 oj-sm-6 oj-flex-item">
                    <span class="icon-div"><i class="zmdi zmdi-file-text about-icons"></i></span>
                    <span class="text-about heightCol"> Past Project(s)</span>
                </div>
                <div class="oj-xl-8 oj-lg-8 oj-md-8 oj-sm-6 oj-flex-item">
                    <span data-bind="text: past_project"></span>
                </div>
            </div>
            <div class="View-Other-about-members oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex ">
                <div class="oj-xl-4 oj-lg-4 oj-md-4 oj-sm-6 oj-flex-item">
                    <span class="icon-div"><i class="zmdi zmdi-favorite about-icons"></i></span>
                    <span class="text-about heightCol"> Interests</span>
                </div>
                <div class="oj-xl-8 oj-lg-8 oj-md-8 oj-sm-6 oj-flex-item">
                    <span data-bind="text: interest"></span>
                </div>
            </div>
            <div class="View-Other-about-members oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex ">
                <div class="oj-xl-4 oj-lg-4 oj-md-4 oj-sm-6 oj-flex-item">
                    <span class="icon-div"><i class="zmdi zmdi-phone about-icons"></i></span>
                    <span class="text-about heightCol"> Phone</span>
                </div>
                <div class="oj-xl-8 oj-lg-8 oj-md-8 oj-sm-6 oj-flex-item">
                    <span data-bind="text: myNumber"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loaderDiv loaderHide" id="respondLoader1">
    <div class="overlay-loader"></div>
    <div class="loaderImgDiv"><img src="css/images/loader.gif" alt=""/></div>
</div>
