<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<div class="max-width">
    <div class="oj-flex oj-row">
        <div class="oj-lg-12 oj-md-12 oj-sm-12  oj-flex-item oj-col profile-text oj-flex oj-margin oj-padding">
            <span class="oj-flex-bar-end oj-margin color-white">Rankings</span>
        </div>
    </div>
    <hr />
    <div id="index" class="oj-margin-top oj-margin-bottom indexer center" data-bind="click:arrangeIndex">
        <span><a href="ALL" onclick="return false;">All</a></span>
        <span class="hide"><a href="A" onclick="return false;">A</a></span>
        <span class="hide"><a href="B" onclick="return false;">B</a></span>
        <span class="hide"><a href="C" onclick="return false;">C</a></span>
        <span class="hide"><a href="D" onclick="return false;">D</a></span>
        <span class="hide"><a href="E" onclick="return false;">E</a></span>
        <span class="hide"><a href="F" onclick="return false;">F</a></span>
        <span class="hide"><a href="G" onclick="return false;">G</a></span>
        <span class="hide"><a href="H" onclick="return false;">H</a></span>
        <span class="hide"><a href="I" onclick="return false;">I</a></span>
        <span class="hide"><a href="J" onclick="return false;">J</a></span>
        <span class="hide"><a href="K" onclick="return false;">K</a></span>
        <span class="hide"><a href="L" onclick="return false;">L</a></span>
        <span class="hide"><a href="M" onclick="return false;">M</a></span>
        <span class="hide"><a href="N" onclick="return false;">N</a></span>
        <span class="hide"><a href="O" onclick="return false;">O</a></span>
        <span class="hide"><a href="P" onclick="return false;">P</a></span>
        <span class="hide"><a href="Q" onclick="return false;">Q</a></span>
        <span class="hide"><a href="R" onclick="return false;">R</a></span>
        <span class="hide"><a href="S" onclick="return false;">S</a></span>
        <span class="hide"><a href="T" onclick="return false;">T</a></span>
        <span class="hide"><a href="U" onclick="return false;">U</a></span>
        <span class="hide"><a href="V" onclick="return false;">V</a></span>
        <span class="hide"><a href="W" onclick="return false;">W</a></span>
        <span class="hide"><a href="X" onclick="return false;">X</a></span>
        <span class="hide"><a href="Y" onclick="return false;">Y</a></span>
        <span class="hide"><a href="Z" onclick="return false;">Z</a></span>
    </div>
    <hr />
    <div data-bind="foreach: members" class="box-height">
        <div class="oj-xl-4 oj-lg-4 oj-md-4 oj-sm-12 oj-flex oj-flex-item oj-padding left">
            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item pos-relative oj-padding">
                <div class="transbox border-transbox"></div>
                <div class="profile-img-div"><img class="profile border-color-white" data-bind="attr: {src: pic}"/></div>
                <div class="oj-row">
                    <h4><span data-bind="text: name" class="color-white" ></span></h4>
                    <h5><span data-bind="text: designation" class="color-white"></span></h5>
                </div>
            </div>
            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center oj-flex rateBuddy-page-icons">
                <!--                <h4 data-bind="text: userId"></h4>-->
                <div class="oj-xl-4 oj-lg-4 oj-md-4 oj-sm-4 oj-flex-item oj-padding-top oj-padding-bottom">
                    <span>
                        <a href="javascript:void(0);" class="rateBuddy" data-bind="attr: {id:userId}"><i class="zmdi zmdi-star"></i></a>
                    </span>
                </div>
                <div class="oj-xl-4 oj-lg-4 oj-md-4 oj-sm-4 oj-flex-item oj-padding-top oj-padding-bottom">
                    <span>
                        <a href="javascript:void(0);"> <i class="zmdi zmdi-comment-alt-text"></i></a>
                    </span>
                </div>
                <div class="oj-xl-4 oj-lg-4 oj-md-4 oj-sm-4 oj-flex-item oj-padding-top oj-padding-bottom">
                    <span>
                        <a href="javascript:void(0);" class="view" data-bind="attr: {picture1:pic,myname12: name,memberID: userId,memberDesig: designation }"> <i class="zmdi zmdi-eye"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>




<!--POP UP FOR THE VIEW PROFILE OF THE USER-->

<!--<div class="view-profile-modal">
    
</div>-->

<div class="max-width">
    <div class="view-profile-modal" id="open-modal12">
            <div data-bind="ojModule: {name: 'footer'}"></div>
        <div class="background-viewProfile"></div>
        <div class="view-profile-content">
            <div class="max-width section1">
                <div class="oj-flex oj-row">
                    <div class="oj-lg-12 oj-md-12 oj-sm-12  oj-flex-item oj-col profile-text oj-flex oj-padding oj-margin">
                        <span class="oj-flex-bar-end oj-padding oj-margin color-white"><span data-bind="text: memberName"></span>'s Profile</span>
                    </div>
                </div>
            </div>
            <div class="max-width">
                <div class="oj-flex oj-row">
                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-padding">
                        <img data-bind="attr: {src: picture}" class="oj-margin profile-pic" />
                        <div class="oj-padding oj-margin left">
                            <h2 data-bind="text: fullName" class="color-white myname-profile">  </h2>
                            <p> <span class="color-white" data-bind="text: memberDesignation"></span> </p>
                        </div>

                        <div class="edit-btn right section1">
                            <span title="Close Profile" class="color-white border-color-green" id="close">
                                <i class="zmdi zmdi-close"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="verticleTabs" class="max-width profile-page oj-margin"
     data-bind="ojComponent:{component: 'ojTabs', 
                            orientation: 'vertical',
                            selected: 0}">


    <ul class="profile-ul pos-relative">
        <div class="transbox"></div>
        <li class="profile-tabs profile-font-tabs selectedTab"><span><i class="zmdi zmdi-account-add"></i> About </span></li>
        <li class="profile-tabs profile-font-tabs selectedTab"><span><i class="zmdi zmdi-trending-up"></i> 
                +<span data-bind="text: plus"></span></span>

        </li>
        <li class="profile-tabs profile-font-tabs selectedTab"><span><i class="zmdi zmdi-trending-down"></i> 
                -<span data-bind="text: minus"></span></span></li>
        <li class="profile-tabs profile-font-tabs selectedTab"><span><i class="zmdi zmdi-comment-alt-text"></i> Feedback</span></li>
    </ul>

    <div id="tabs-1" class="color-white oj-margin-horizontal pos-relative">
        <div class="transbox"></div>
        <div class="profile-page-overflow">
            <p class="profile-tab1-data"> <i class="zmdi zmdi-account"></i> <span data-bind="text: fullName"></span></p>
            <p class="profile-tab1-data"> <i class="zmdi zmdi-case"></i> <span  data-bind="text: memberDesignation"></span></p>
            <p class="profile-tab1-data"> <i class="zmdi zmdi-email"></i> <span data-bind="text: memberEmail"></span></p>
            <p class="profile-tab1-data"> <i class="zmdi zmdi-phone"></i> <span data-bind="text: memberNumber"></span></p>
        </div>
    </div>
    <div id="tabs-2" class="color-white oj-margin-horizontal pos-relative">
        <div class="transbox"></div>
        <div class="profile-page-overflow">
            <div class="noComments" data-bind="text: NoCommentsP"></div>
            <div class="rating-comment" data-bind="foreach: commentDataPositive">
                <div class="profile-rating-circle circle-green"></div>
                <div class="rating-info">
                    <p class="comment"><span data-bind="text: comment"></span></p>
                    <p class="commenter"><span data-bind="text: commenter"></span></p>
                    <p class="commented-date"><span data-bind="text: commentDate"></span></p>
                </div>
            </div>
        </div>
    </div>
    <div id="tabs-3" class="color-white oj-margin-horizontal pos-relative">
        <div class="transbox"></div>
        <div class="profile-page-overflow">
            <div class="noComments" data-bind="text: NoCommentsN"></div>
            <div class="rating-comment" data-bind="foreach: commentDataNegative">
                <div class="profile-rating-circle circle-red"></div>
                <div class="rating-info">
                    <p class="comment"><span data-bind="text: comment"></span></p>
                    <p class="commenter"><span data-bind="text: commenter"></span></p>
                    <p class="commented-date"><span data-bind="text: commentDate"></span></p>
                </div>
            </div>
        </div>
    </div>

    <div id="tabs-4" class="color-white oj-margin-horizontal pos-relative">
        <div class="transbox"></div>
        <p>Vertical Disabled panel. 4</p>
    </div>
</div>

        </div>
    </div>
</div>
