

<div class="oj-web-applayout-max-width oj-web-applayout-content section1">
    <div class="oj-flex oj-row">
        <div class="oj-lg-12 oj-md-12 oj-sm-12  oj-flex-item oj-col profile-text oj-flex oj-padding oj-margin">
            <span class="oj-flex-bar-end oj-padding oj-margin color-white">My Profile</span>
        </div>
        <div class="oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-col profile-text oj-flex">
            <span data-bind="text: successful"></span>
        </div>
    </div>
</div>
<div class="oj-web-applayout-max-width oj-web-applayout-content">
    <div class="oj-flex oj-row">
        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-padding">
            <img data-bind="attr: {src: pic}" class="oj-margin profile-pic" />
            <div class="oj-padding oj-margin left">
                <h2 data-bind="text :myname" class="color-white myname-profile">  </h2>
                <p> <span class="color-white" data-bind="text: designation"></span> </p>
            </div>

            <div class="edit-btn right">
                <span title="Edit Profile" class="color-white border-color-green" id="modal" data-bind="click:openModal">
                    <i class="zmdi zmdi-edit"></i>
                </span>
            </div>
        </div>
    </div>
</div>

<div id="vtabs" class="max-width profile-page oj-margin-top"
     data-bind="ojComponent:{component: 'ojTabs', 
                            orientation: 'vertical',
                            selected: 2}">


    <ul class="profile-ul pos-relative">
        <div class="transbox"></div>
        <li class="profile-tabs profile-font-tabs selectedTab"><span><i class="zmdi zmdi-trending-up"></i> 
                +<span data-bind="text: plus"></span></span>
        </li>
        <li class="profile-tabs profile-font-tabs selectedTab"><span><i class="zmdi zmdi-trending-down"></i> 
                -<span data-bind="text: minus"></span></span></li>
        <li class="profile-tabs profile-font-tabs selectedTab"><span><i class="zmdi zmdi-comment-alt-text"></i> Feedback</span></li>
        <li class="profile-tabs profile-font-tabs selectedTab"><span><i class="zmdi zmdi-account-add"></i> About Me</span></li>
    </ul>

    <div id="tabs-1" class="color-white oj-margin-horizontal pos-relative">
        <div class="transbox"></div>

        <div class="profile-page-overflow pos-relative">
            <div class="noComments" data-bind="text: NoCommentsP"></div>
            <div class="rating-comment" data-bind="foreach: commentDataPositive">
                <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item pos-relative">
                    <div class="profile-rating-circle circle-green">
                        <!--circle-green-->
                        <div class="transline"></div>
                    </div>
                    <div class="rating-info">
                        <p class="comment"><span data-bind="text: comment"></span></p>
                        <p class="commenter"><span data-bind="text: commenter"></span></p>
                        <p class="commented-date"><span data-bind="text: commentDate"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tabs-2" class="color-white oj-margin-horizontal pos-relative">
        <div class="transbox"></div>
        <div class="profile-page-overflow">
            <div class="noComments" data-bind="text: NoCommentsN"></div>
            <div class="rating-comment" data-bind="foreach: commentDataNegative">
                <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 pos-relative">
                    <div class="profile-rating-circle circle-red">
                        <div class="transline"></div>
                    </div>
                    <div class="rating-info">
                        <p class="comment"><span data-bind="text: comment"></span></p>
                        <p class="commenter"><span data-bind="text: commenter"></span></p>
                        <p class="commented-date"><span data-bind="text: commentDate"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="tabs-3" class="color-white oj-margin-horizontal pos-relative">

        <div class="colcount oj-xl-5 oj-lg-5 oj-md-12 oj-sm-12 oj-margin-horizontal">
            <div class="transbox"></div>
            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12">
                <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12">
                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 center">
                        <img src="http://www.mpi-marburg.mpg.de/employee_images/47122" class="profile-feedback-pic border-color-green pos-relative" />
                    </div>
                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 comment-box">
                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item color-white feedback-data pos-relative">
                            <div class="transbox border-color-green"></div>
                            <p class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 color-white center"><strong>Abhinav Shrivastava</strong></p>
                            <p class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 center">Practice Head</p>
                            <p class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 center">2016-06-09</p>
                            <p class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-margin left">
                                <span data-bind="text: feedback"></span>
                            </p>
                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-bar oj-padding-horizontal">
                                <div class="hide border-color-green">

                                </div>
                                <div class="open oj-flex-bar-end">
                                    <span class="oj-flex-bar-end oj-margin-horizontal oj-padding-horizontal more-feedback">
                                        <span class="color-green"><i class="zmdi zmdi-caret-down zmdi-hc-3x"></i> </span>
                                        <a class=" color-white"> <span data-bind="text: moreLess"></span></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="colcount oj-xl-5 oj-lg-5 oj-md-12 oj-sm-12 oj-margin-horizontal">
            <div class="transbox"></div>
            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12">
                <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12">
                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 center">
                        <img src="http://www.mpi-marburg.mpg.de/employee_images/47122" class="profile-feedback-pic border-color-green pos-relative" />
                    </div>
                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 comment-box">
                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item color-white feedback-data pos-relative">
                            <div class="transbox border-color-green"></div>
                            <p class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 color-white center"><strong>Abhinav Shrivastava</strong></p>
                            <p class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 center">Practice Head</p>
                            <p class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 center">2016-06-09</p>
                            <p class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-margin left">
                                <span data-bind="text: feedback"></span>
                            </p>
                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-bar oj-padding-horizontal oj-flex">
                                <div class="hide border-color-green">

                                </div>
                                <div class="open oj-flex-bar-end">
                                    <span class="oj-flex-bar-end oj-margin-horizontal oj-padding-horizontal more-feedback">
                                        <span class="color-green"><i class="zmdi zmdi-caret-down zmdi-hc-3x"></i> </span>
                                        <a class=" color-white"> <span data-bind="text: moreLess"></span></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="colcount oj-xl-5 oj-lg-5 oj-md-12 oj-sm-12 oj-margin-horizontal">
            <div class="transbox"></div>
            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12">
                <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12">
                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 center">
                        <img src="http://www.mpi-marburg.mpg.de/employee_images/47122" class="profile-feedback-pic border-color-green pos-relative" />
                    </div>
                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 comment-box">
                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item color-white feedback-data pos-relative">
                            <div class="transbox border-color-green"></div>
                            <p class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 color-white center"><strong>Abhinav Shrivastava</strong></p>
                            <p class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 center">Practice Head</p>
                            <p class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 center">2016-06-09</p>
                            <p class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-margin left">
                                <span data-bind="text: feedback"></span>
                            </p>
                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-bar oj-padding-horizontal oj-flex">
                                <div class="hide border-color-green">

                                </div>
                                <div class="open oj-flex-bar-end">
                                    <span class="oj-flex-bar-end oj-margin-horizontal oj-padding-horizontal more-feedback">
                                        <span class="color-green"><i class="zmdi zmdi-caret-down zmdi-hc-3x"></i> </span>
                                        <a class=" color-white"> <span data-bind="text: moreLess"></span></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>






    </div>
    <div id="tabs-4" class="color-white oj-margin-horizontal pos-relative">
        <div class="transbox"></div>
        <div class="profile-page-overflow">
            <p class="profile-tab1-data"> <i class="zmdi zmdi-account"></i> <span data-bind="text: myname"></span></p>
            <p class="profile-tab1-data"> <i class="zmdi zmdi-case"></i> <span  data-bind="text: designation"></span></p>
            <p class="profile-tab1-data"> <i class="zmdi zmdi-email"></i> <span data-bind="text: email"></span></p>
            <p class="profile-tab1-data"> <i class="zmdi zmdi-phone"></i> <span data-bind="text: myNumber"></span></p>
        </div>
    </div>

</div>


<div class="edit-modal" id="open-modal">
    <div id="close"></div>
    <div class="background-color"></div>
    <div class="edit-profile-content">
        <div class="oj-flex">
            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-padding center heading-modal">
                <span> <i class="zmdi zmdi-edit"></i> EDIT PROFILE</span><span class="right" data-bind="click: closeModal"><i class="zmdi zmdi-close"></i></span>
            </div>
        </div>
        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-margin oj-padding-top oj-padding-bottom">
            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal"><label class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12" for="name">NAME : </label></div>
            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal"><span data-bind="text: myname"></span></div>
        </div>
        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-margin oj-padding-top  oj-padding-bottom">
            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal"><label class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12" for="email">EMAIL : </label></div>
            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal"><span data-bind="text: email"></span></div>
        </div>
        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-margin oj-padding-top  oj-padding-bottom">
            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal"><label class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12" for="designation">DESIGNATION : </label></div>
            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal"><input type="text" data-bind="value: designation" maxlength="50" /></div>
            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal" data-bind="text: desigError"></div>
        </div>
        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-margin oj-padding-top  oj-padding-bottom">
            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal"><label class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12" for="mobile">MOBILE : </label></div>
            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal"><input type="text" data-bind="value: myNumber" maxlength="50" /></div>
            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal" data-bind="text: mobileError"></div>
        </div>

        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-margin center oj-padding-top  oj-padding-bottom">
            <button class="modal-submit-profile" data-bind="click: closeModal">CANCEL</button>
            <button class="modal-submit-profile" data-bind="click: buttonClick">SAVE</button>
        </div>

    </div>
</div>