

<div class="oj-web-applayout-max-width oj-web-applayout-content ">
    <div class="oj-flex oj-row">
        <div class="oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-col profile-text oj-flex">
            <span data-bind="text: successful"></span>
        </div>
    </div>
</div>
<div class="oj-web-applayout-max-width oj-web-applayout-content">
    <div class="oj-flex oj-row">
        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-padding">
            <img data-bind="attr: {src: pic}" class="oj-margin profile-pic" />
            <div class="oj-padding oj-margin left">
                <h2 data-bind="text :myname" class="color-white myname-profile">  </h2>
            </div>

            <div class="edit-btn right">
                <span title="Edit Profile" class="color-white border-color-green" id="modal" data-bind="click:openModal">
                    <i class="zmdi zmdi-edit"></i>
                </span>
            </div>
        </div>
    </div>
</div>

<div id="vtabs" class="max-width profile-page oj-margin-top"
     data-bind="ojComponent:{component: 'ojTabs', 
                            orientation: 'vertical',
                            selected: selectedTab}">


    <ul class="profile-ul pos-relative tabHeight">
        <div class="transbox"></div>
        <li class="profile-tabs profile-font-tabs selectedTab" title="Positive Rating"><span><i class="zmdi zmdi-trending-up"></i> 
                <span data-bind='text: plusSign'></span><span data-bind="text: plus"></span></span>
        </li>
        <li class="profile-tabs profile-font-tabs selectedTab" title="Negative Rating"><span><i class="zmdi zmdi-trending-down"></i> 
                <span data-bind='text: minusSign'></span><span data-bind="text: minus"></span></span></li>
        <li class="profile-tabs profile-font-tabs selectedTab"><span><i class="zmdi zmdi-comment-alt-text"></i> Feedback</span></li>
        <li class="profile-tabs profile-font-tabs selectedTab"><span><i class="zmdi zmdi-account"></i> About Me</span></li>
    </ul>

    <div id="tabs-1" class="color-white oj-margin-horizontal pos-relative">
        <div class="transbox"></div>
        <div class="profile-page-overflow pos-relative">
            <div class="noComments" data-bind="text: NoCommentsP"></div>
            <div class="rating-comment" data-bind="foreach: commentDataPositive">
                <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item pos-relative">
                    <div class="profile-rating-circle circle-green">
                        <!--circle-green-->
                        <div class="transline"></div>
                    </div>
                    <div class="rating-info">
                        <p class="comment"><span data-bind="text: comment"></span></p>
                        <p class="commenter"><span data-bind="text: commenter"></span> on <span data-bind="text: commentDate"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tabs-2" class="color-white oj-margin-horizontal pos-relative">
        <div class="transbox"></div>
        <div class="profile-page-overflow">
            <div class="noComments" data-bind="text: NoCommentsN"></div>
            <div class="rating-comment" data-bind="foreach: commentDataNegative">
                <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 pos-relative">
                    <div class="profile-rating-circle circle-red">
                        <div class="transline-red"></div>
                    </div>
                    <div class="rating-info">
                        <p class="comment"><span data-bind="text: comment"></span></p>
                        <p class="commenter"><span data-bind="text: commenter"></span> on <span data-bind="text: commentDate"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="tabs-3" class="color-white oj-margin-horizontal pos-relative">
        <div class="feedbackSection">
            <div class="transbox"></div>
            <div class="oj-row oj-flex">
                <div class="oj-xl-6 oj-lg-6 oj-md-12 oj-sm-12 oj-flex-item oj-flex">

                    <!--repeat block-->
                    <!--ko foreach: feedbackContent1-->
                    <div class="oj-xl-9 oj-lg-9 oj-md-12 oj-sm-12 pos-relative oj-margin oj-padding heightContent oj-flex-bar-center-absolute">
                        <div class="transbox border-color-green feedbackHeight"></div>
                        <div class="oj-flex oj-row">
                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                                <img data-bind="attr: {src: feedbackImage}"  alt="" class="profile-feedback-pic"/>
                            </div>
                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center oj-margin-top">

                                <span data-bind="text: name"></span>
                            </div>
                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center oj-margin-top">

                                <span data-bind="text: feedbackdesignation"></span>
                            </div>
                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center oj-margin-top">

                                <span data-bind="text: feedbackDate"></span>
                            </div>
                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin">

                                <span data-bind="text: feedbackDescription"></span>
                            </div>
                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item open-more oj-flex overflow-feedback-reply oj-margin oj-padding">

                                <!--repeat here-->
                                <!--ko foreach: replies-->
                                <div class="oj-row oj-flex oj-margin-top oj-margin-bottom oj-margin-horizontal oj-padding-horizontal">
                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item replyName">
                                        <span data-bind="text: reply_name"></span>
                                    </div>
                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex replyComent">
                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item"><span data-bind="text: reply_desc"></span></div>
                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex-bar"><span class="oj-flex-bar-end" data-bind="text: reply_date"></span></div>
                                    </div>
                                </div>
                                <!--/ko-->
                                <!--repeat end-->
                            </div>
                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex oj-margin replyBox">
                                <div class="oj-xl-9 oj-lg-9 oj-md-9 oj-sm-9 oj-flex-item oj-flex"> 
                                    <span class="hide oj-xl-3 oj-lg-3 oj-md-3 oj-sm-3 oj-flex-item">

                                        <button  class="submitRespond" data-bind="attr:{loginUserId: myId,feedback_to: feedbackfrom,feedbackId: feedbackId}">
                                            <i class="zmdi zmdi-mail-reply"></i>
                                        </button>
                                    </span>
                                    <span class="hide oj-xl-9 oj-lg-9 oj-md-9 oj-sm-9 oj-flex-item oj-margin-bottom">
                                        <input class="respondDescription border-color-white" type="text" />

                                    </span>
                                </div>
                                <div class="oj-xl-3 oj-lg-3 oj-md-3 oj-sm-3 oj-flex-item openDiv flex-bar">
                                    <span class="oj-flex-bar-end pos-relative">
                                        <span class="feedbackMoreFix"><i class="zmdi zmdi-caret-down"></i></span>
                                        <span>More</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ko-->
                    <!--repeat end-->
                </div>
                <div class="oj-xl-6 oj-lg-6 oj-md-12 oj-sm-12 oj-flex-item ">
                    <!--repeat block-->
                    <!--ko foreach: feedbackContent2-->
                    <div class="oj-xl-9 oj-lg-9 oj-md-12 oj-sm-12 pos-relative oj-margin oj-padding heightContent oj-flex-bar-center-absolute">
                        <div class="transbox border-color-green feedbackHeight"></div>
                        <div class="oj-row oj-flex">
                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                                <img data-bind="attr: {src: feedbackImage}"  alt="" class="profile-feedback-pic"/>
                            </div>
                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center oj-margin-top">

                                <span data-bind="text: name"></span>
                            </div>
                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center oj-margin-top">

                                <span data-bind="text: feedbackdesignation"></span>
                            </div>
                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center oj-margin-top">

                                <span data-bind="text: feedbackDate"></span>
                            </div>
                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin">

                                <span data-bind="text: feedbackDescription"></span>
                            </div>
                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item open-more oj-flex overflow-feedback-reply oj-margin">

                                <!--repeat here-->
                                <!--ko foreach: replies-->
                                <div class="oj-row oj-flex oj-margin-top oj-margin-bottom oj-margin-horizontal oj-padding-horizontal">
                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item replyName">
                                        <span data-bind="text: reply_name"></span>
                                    </div>
                                    <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex replyComent">
                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item"><span data-bind="text: reply_desc"></span></div>
                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex-bar"><span class="oj-flex-bar-end" data-bind="text: reply_date"></span></div>
                                    </div>
                                </div>
                                <!--/ko-->
                                <!--repeat end-->
                            </div>
                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex oj-margin replyBox">
                                <div class="oj-xl-9 oj-lg-9 oj-md-9 oj-sm-9 oj-flex-item oj-flex"> 
                                    <span class="hide oj-xl-3 oj-lg-3 oj-md-3 oj-sm-3 oj-flex-item">

                                        <button  class="submitRespond" data-bind="attr:{loginUserId: myId,feedback_to: feedbackfrom,feedbackId: feedbackId}">
                                            <i class="zmdi zmdi-mail-reply"></i>
                                        </button>
                                    </span>
                                    <span class="hide oj-xl-9 oj-lg-9 oj-md-9 oj-sm-9 oj-flex-item oj-margin-bottom">
                                        <input class="respondDescription border-color-white" type="text" />

                                    </span>
                                </div>
                                <div class="oj-xl-3 oj-lg-3 oj-md-3 oj-sm-3 oj-flex-item openDiv flex-bar">
                                    <span class="oj-flex-bar-end pos-relative">
                                        <span class="feedbackMoreFix"><i class="zmdi zmdi-caret-down"></i></span>
                                        <span>More</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ko-->
                    <!--repeat end-->
                </div>

            </div>
        </div>
    </div>
    <div id="tabs-4" class="color-white oj-margin-horizontal pos-relative">
        <div class="transbox"></div>
        <div class="profile-page-overflow">
            <p class="profile-tab1-data"> 
                <i class="zmdi zmdi-email"></i>
                <span class='about-label'>Email : </span> 
                <span data-bind="text: email" class="about-text"></span>
            </p>

            <p class="profile-tab1-data"> 
                <i class="zmdi zmdi-case"></i><span class='about-label'>Designation : </span>  
                <span  data-bind="text: designation" class="about-text"></span>
                <input type="text" name="email" data-bind="value: designation">
                <i class="zmdi zmdi-edit about-edit"></i>
                <i class="zmdi zmdi-check about-edit"></i>
                <i class="zmdi zmdi-minus-circle-outline about-edit"></i>
            </p>

            <p class="profile-tab1-data"> 
                <i class="zmdi zmdi-pin"></i>
                <span class='about-label'>Location : </span> 
                <span data-bind="text: location" class="about-text"></span>
                <select data-bind="ojComponent: {component: 'ojSelect',value: location,}" class="selector">
                    <option value="Indore">Indore</option>
                    <option value="Pune">Pune</option>
                </select>
                <i class="zmdi zmdi-edit about-edit"></i>
                <a href="javascript:void(0)" data-bind="click: updateProfile"><i class="zmdi zmdi-check about-edit"></i></a>
                <i class="zmdi zmdi-minus-circle-outline about-edit"></i>
            </p>

            <p class="profile-tab1-data"> 
                <i class="zmdi zmdi-account"></i>
                <span class='about-label'>Skills : </span> 
                <span data-bind="text: skills" class="about-text"></span>
                <select data-bind="ojComponent: {component: 'ojSelect',multiple: true,value: skills}" class="selector">
                    <option value="PHP">PHP</option>
                    <option value="HTML">HTML</option>
                    <option value="CSS">CSS</option>
                    <option value="WordPress">WordPress</option>
                    <option value="Joomla">Joomla</option>
                    <option value="Drupal">Drupal</option>
                    <option value="Dot Net">Dot Net</option>
                    <option value="Javasccript">Javasccript</option>
                    <option value="JQuery">JQuery</option>
                    <option value="C">C</option>
                    <option value="C++">C++</option>
                    <option value="MySql">MySql</option>
                </select>    
                <i class="zmdi zmdi-edit about-edit"></i>
                <i class="zmdi zmdi-check about-edit"></i>
                <i class="zmdi zmdi-minus-circle-outline about-edit"></i>
            </p>

            <p class="profile-tab1-data"> 
                <i class="zmdi zmdi-account"></i>
                <span class='about-label'>Associated with Infobeans Since : </span> 
                <span data-bind="text: associate_with_infobeans" class="about-text"></span>
                <input type="text" name="email" data-bind="ojComponent:{component:'ojInputDate', value: associate_with_infobeans,
                  datePicker: {changeMonth: 'yes', changeYear: 'yes'},
                  converter: {type:'datetime', options: { day: 'numeric', month: 'long',year: 'numeric'}}}">
                <i data-bind="click: openDate" class="zmdi zmdi-edit about-edit"></i>
                <i data-bind="click: updateDate" class="zmdi zmdi-check about-edit"></i>
                <i data-bind="click: dateRevert" class="zmdi zmdi-minus-circle-outline about-edit"></i>
            </p>

            <p class="profile-tab1-data"> 
                <i class="zmdi zmdi-file"></i>
                <span class='about-label'>Project(s) : </span> 
                <span data-bind="text: projects" class="about-text"></span>
                <select id="selectProjects" data-bind="ojComponent: {component: 'ojSelect',multiple: true,value: projects}" class="selector">
                    <!--ko foreach: projectOptions-->
                    <option data-bind="attr: {value: name},text: name"></option>
                    <!--/ko-->
                </select> 
                <i data-bind="click: openProjects" class="zmdi zmdi-edit about-edit" ></i>
                <i data-bind="click: updateProjects" class="zmdi zmdi-check about-edit"></i>
                <i data-bind="click: projectsRevert" class="zmdi zmdi-minus-circle-outline about-edit"></i>
            </p>

            <p class="profile-tab1-data"> 
                <i class="zmdi zmdi-account"></i>
                <span class='about-label'>Interests : </span>
                <span data-bind="text: interests" class="about-text"></span>
                <select id="selectInterests" data-bind="ojComponent: {component: 'ojSelect',multiple: true,value: interests}" class="selector">
                    <!--ko foreach: interestsOptions-->
                    <option data-bind="attr: {value: name},text: name"></option>
                    <!--/ko-->
                </select>
                <i data-bind="click: openInterest" class="zmdi zmdi-edit about-edit"></i>
                <i data-bind="click: updateInterest" class="zmdi zmdi-check about-edit"></i>
                <i data-bind="click: interestRevert" class="zmdi zmdi-minus-circle-outline about-edit"></i>
            </p>

            <p class="profile-tab1-data"> 
                <i class="zmdi zmdi-phone"></i>
                <span class='about-label'>Phone : </span> 
                <span data-bind="text: myNumber" class="about-text"></span>
                <input id="editNumberBox" type="text" name="email" data-bind="value: temporaryNumber">
                <i data-bind="click: openNumber" class="zmdi zmdi-edit about-edit"></i>
                <i data-bind="click: updateNumber" class="zmdi zmdi-check about-edit"></i>
                <i data-bind="click: numberEditRevert" class="zmdi zmdi-minus-circle-outline about-edit"></i>
            </p>
        </div>
    </div>

</div>


<div class="edit-modal" id="open-modal">
    <div id="close"></div>
    <div class="background-color"></div>
    <div class="edit-profile-content">
        <div class="oj-flex">
            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-padding center heading-modal">
                <span> <i class="zmdi zmdi-edit"></i> EDIT PROFILE</span><span class="right" data-bind="click: closeModal"><i class="zmdi zmdi-close"></i></span>
            </div>
        </div>
        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-margin oj-padding-top oj-padding-bottom">
            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal"><label class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12" for="name">NAME : </label></div>
            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal"><span data-bind="text: myname"></span></div>
        </div>
        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-margin oj-padding-top  oj-padding-bottom">
            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal"><label class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12" for="email">EMAIL : </label></div>
            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal"><span data-bind="text: email"></span></div>
        </div>
        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-margin oj-padding-top  oj-padding-bottom">
            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal"><label class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12" for="designation">DESIGNATION : </label></div>
            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal"><input type="text" data-bind="value: designation" maxlength="50" /></div>
            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal" data-bind="text: desigError"></div>
        </div>
        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-margin oj-padding-top  oj-padding-bottom">
            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal"><label class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12" for="mobile">MOBILE : </label></div>
            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal"><input type="text" data-bind="value: myNumber" maxlength="50" /></div>
            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal" data-bind="text: mobileError"></div>
        </div>

        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-margin center oj-padding-top  oj-padding-bottom">
            <button class="modal-submit-profile" data-bind="click: closeModal">Cancel</button>
            <button class="modal-submit-profile" data-bind="click: buttonClick">Save</button>
        </div>

    </div>
</div>