<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="max-width">
    <div id="tabs-container1">
        <div class="oj-flex oj-row">
            <div class="oj-lg-12 oj-md-12 oj-sm-12  oj-flex-item oj-col profile-text oj-flex oj-margin">
                <span class="oj-margin oj-padding color-white">&nbsp;</span>
                <span id="sucessRate" class="sucessMsgRate" data-bind="text: sucessMsg"> </span>
            </div>
        </div>
        <div id="tabs1" data-bind="ojComponent:{component: 'ojTabs',selected: selectTab}" class="buddyTab">
            <!-- tab bar -->
            <ul>
                  <li class="buddyTab3" id="rateTab2"> 
                      <div id="rateTab3">
                    </div>             
                    <div class="hoverTabRequest1"> Requests </div>
                </li>
                <li class="buddyTab4" id="rateTab5"> 
                    <div id="rateTab1">   
                    </div>
                    <div id="requestHover"> Send Request </div>
                </li>
            </ul>
            <!-- tab contents -->
            <div id="tabs-3">
                <hr />
                <div class="oj-flex oj-row ">
                    <div class=" oj-xl-6 oj-lg-6 oj-md-12 oj-sm-12 oj-flex-item oj-padding oj-margin-top oj-margin-bottom pos-relative transboxRequest ">
                        <div class="oj-flex center NorequestMsg NorequestMsgAlignment">
                            <div class ="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item cetner">
                                <span class="errorText NorequestMsgAlignment" data-bind="text: noLeadPendingRequest"></span>
                            </div>
                        </div>
                        <div class="transbox"></div>
                        <div class="oj-flex oj-row">
                            <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-padding oj-flex-bar-middle">
                                <div class="requestHeading">
                                    Requests
                                </div> 
                            </div>
                          

                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-padding oj-margin-top oj-margin-bottom requestAlignment">
                                <!--ko foreach:  requestPendingLead-->
                                <div class="oj-xl-8 oj-lg-8 oj-md-12 oj-sm-12 pos-relative oj-margin oj-flex-bar-center-absolute requestApproveDiv">
                                       <div class="transbox1  requestHeight"></div>
                                    <div class="transbox  requestHeight"></div>
                                    <div class="oj-flex oj-row ">
                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item  ">
                                            <img data-bind="attr: {src:pic}" alt="" class="profile-feedback-pic border-color-yellow request-pic "/>
                                        </div>
                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center color-white">

                                            <span data-bind="text: name"></span>
                                        </div>
                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center padding-feedback color-white">

                                            <span data-bind="text: designation"></span>
                                        </div>
                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center padding-feedback color-white">

                                            <span data-bind="text: date"></span>
                                        </div>
                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center oj-margin color-white divTextRateMe oj-padding ">


                                            <textarea id="text-area20" class="textArea-requests textArea-white" aria-label="ojTextArea component no visible label"
                                                      data-bind="ojComponent: {component: 'ojTextArea', 
                                     value: lComment, 
                                     placeholder: 'Type your reason here..'}"></textarea>
                                        </div>
                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex  oj-margin-top">
                                            <button class="approveDisapprove"   data-bind="event:{click: function(data,event){ $parent.approveRequest(1,this,request_id,userID,from_id) }},attr:{id: acceptBtnId},requestId: request_id,type1:'1',descComment: lComment,userId: userID,to_id:from_id"><i class="zmdi zmdi-check"></i></button>
                                            <button class="approveDisapprove"  data-bind="event:{click: function(data,event){ $parent.approveRequest(0,this,request_id,userID,from_id) }},attr:{id: declineBtnId},requestId: request_id,type1:'0',descComment: lComment,userId: userID,to_id:from_id">  <i class="zmdi zmdi-close"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <!--/ko-->
                            </div>
                        </div>
                    </div>
                    <div class=" oj-xl-6 oj-lg-6 oj-md-12 oj-sm-12 oj-flex-item oj-margin-bottom pos-relative oj-margin-start oj-margin-top">
                        <div class="transbox"></div>
                        <div class="oj-flex oj-row">
                            <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item ">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
          
            <div id="tabs-4">
                 <hr>
                <div class="oj-flex oj-row ">
                    <div class=" oj-xl-6 oj-lg-6 oj-md-12 oj-sm-12 oj-flex-item oj-padding oj-margin-top pos-relative transboxRequest ">
                        <div class="transbox"></div>
                        <div class="oj-flex oj-row">
                            <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex-bar-middle">
                                <div class="requestHeading">
                                    Send Request
                                </div> 
                            </div>
                            <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-padding ">
                                <div class="oj-xl-9 oj-lg-9 oj-md-12 oj-sm-12 oj-flex-item oj-padding oj-flex-bar-center-absolute requestCOntent pos-relative">
                                    <div class="transbox"></div>
                                    <div class="oj-flex oj-row ">
                                        <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center" >
                                            <img class="profile border-color-green" data-bind="attr:{src: lead_pic }">

                                        </div>
                                        <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item  center" data-bind="text:lead_name ">

                                        </div>
                                        <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item padding-feedback center" data-bind="text: lead_role" >
                                        </div>
                                        <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-top center">
                                            <textarea id="text-area" class="textArea-request"  aria-label="ojTextArea component no visible label"
                                                      data-bind="ojComponent: {component: 'ojTextArea', 
                                                            value: desc1, 
                                                         placeholder: 'Type your request here..'}"></textarea>
                                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal errorText" data-bind="text:textError1"></div>
                                        </div>
                                        <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-top center">
                                            <button class="modal-submitRequest1" data-bind="click: requestLead " > Submit </button>
                                        </div>

                                    </div>     
                                </div>
                            </div>
                            <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-padding ">
                                <div class="oj-xl-9 oj-lg-9 oj-md-12 oj-sm-12 oj-flex-item oj-padding oj-flex-bar-center-absolute requestCOntent pos-relative" id="hideLead">
                                    <div class="transbox"></div>
                                    <div class="oj-flex oj-row">
                                        <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                                            <img class="profile border-color-green" data-bind="attr:{src: manager_pic}">
                                        </div>
                                        <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item  center"  data-bind="text: manager_name ">

                                        </div>
                                        <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item padding-feedback center"  data-bind="text: manager_role "> 

                                        </div>
                                        <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-top center">
                                            <textarea id="text-area" class="textArea-request"  aria-label="ojTextArea component no visible label"
                                                      data-bind="ojComponent: {component: 'ojTextArea', 
                                                            value: desc , 
                                                         placeholder: 'Type your request here..'}"></textarea>
                                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal errorText" data-bind="text:textError"></div>
                                        </div>
                                        <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-top center">
                                            <button class="modal-submitRequest1" data-bind="click:  requestManager" > Submit </button>
                                        </div>
                                    </div>   
                                </div>     
                            </div>
                        </div>
                    </div>
                    <div class=" oj-xl-6 oj-lg-6 oj-md-12 oj-sm-12 oj-flex-item pos-relative oj-margin-start  oj-margin-top ">
                        <div class="transbox"></div>
                        <div class="oj-flex oj-row">
                            <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item ">

                                <div class="pos-relative ">

                                    <div id="tabs-container-request">
                                        <div id="tabs2" data-bind="ojComponent:{component: 'ojTabs'}">
                                            <!-- tab bar -->
                                            <ul class="oj-flex">
                                                <div class="transbox"></div>
                                                <li class="oj-xl-6 oj-lg-6 oj-md-6 oj-sm-6 oj-flex-item"><span>Pending Request</span></li>
                                                <li class="oj-xl-6 oj-lg-6 oj-md-6 oj-sm-6 oj-flex-item"><span>Declined Request</span></li>
                                            </ul>

                                            <!-- tab contents -->
                                            <div id="tabs-12" class="pos-relative">
                                                <div class="oj-flex center NorequestMsg NorequestMsgAlignment">
                                                    <div class ="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                                                        <span class="errorText NorequestMsgAlignment" data-bind="text: noPendingRequest"></span>
                                                    </div>
                                                </div>
                                                <!--repeat block starts here-->
                                                <!-- ko foreach: requestPendingMember -->
                                                <div class="oj-xl-7 oj-lg-7 oj-md-12 oj-sm-12 pos-relative oj-margin oj-padding heightContent oj-flex-bar-center-absolute">
                                                    <div class="transbox1  feedbackHeight"></div>
                                                    <div class="transbox feedbackHeight"></div>
                                                    <div class="oj-flex oj-row">
                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center oj-margin-top oj-padding-top">
                                                            <img data-bind="attr: {src:pic}" alt="" class="profile-feedback-pic border-color-yellow"/>
                                                        </div>
                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center ">

                                                            <span class="color-white" data-bind="text: name"></span>
                                                        </div>
                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center ">

                                                            <span class="color-white" data-bind="text: designation"></span>
                                                        </div>
                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center padding-feedback">

                                                            <span class="color-white" data-bind="text:date"></span>
                                                        </div>
                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item padding-feedback oj-margin-horizontal">
                                                            <span class="color-white" data-bind="text: sComment"></span>
                                                        </div>
                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item open-more oj-flex oj-margin overflow-class">
                                                            <span class="color-white" data-bind="text: lComment"></span>
                                                        </div>
                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex oj-margin replyBox">

                                                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item openDiv oj-flex-bar oj-margin" data-bind="click: $parent.requestMore,attr:{id: uniqueId}">
                                                                <span class="oj-flex-bar-end oj-margin-bottom" id="openMore">
                                                                    <span class=" Moreless-fix"><i class="zmdi zmdi-caret-down color-white"></i></span>
                                                                    <span class="color-white">More</span>
                                                                    <span class="hide color-white" data-bind="text: lComment"></span>                 
                                                                </span>
                                                           
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /ko -->
                                                <!--repeat block ends here-->
                                            </div>
                                            <div id="tabs-13" class="pos-relative">
                                                <div class="oj-flex center NorequestMsg NorequestMsgAlignment">
                                                    <div class ="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item cetner">
                                                        <span class="errorText NorequestMsgAlignment" data-bind="text: noRejectRequest"></span>
                                                    </div>
                                                </div>
                                                <!--repeat block starts here-->
                                                <!-- ko foreach: requestRejectedMember-->
                                                <div class="oj-xl-7 oj-lg-7 oj-md-12 oj-sm-12 pos-relative oj-margin oj-padding heightContent oj-flex-bar-center-absolute">
                                                       <div class="transbox2  feedbackHeight"></div>
                                                    <div class="transbox  feedbackHeight"></div>
                                                    <div class="oj-flex oj-row">
                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center oj-margin-top oj-padding-top">
                                                            <img data-bind="attr: {src:pic}" alt="" class="profile-feedback-pic border-color-red"/>
                                                        </div>
                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center  color-white">

                                                            <span data-bind="text: name"></span>
                                                        </div>
                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center color-white">

                                                            <span data-bind="text: designation"></span>
                                                        </div>
                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center color-white ">

                                                            <span data-bind="text:date"></span>
                                                        </div>
                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-top color-white">

                                                            <span data-bind="text: sComment"></span>
                                                        </div>
                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item open-more oj-flex oj-margin color-white overflow-class">
                                                            <span data-bind="text: lComment"></span>
                                                        </div>
                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex oj-margin replyBox color-white">

                                                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item openDiv oj-flex-bar oj-margin" data-bind="click: $parent.requestMore,attr:{id: uniqueId}">
                                                                <span class="oj-flex-bar-end oj-margin-bottom">
                                                                    <span class=" Moreless-fix"><i class="zmdi zmdi-caret-down"></i></span>
                                                                    <span>More</span>
                                                                    <span class="hide" data-bind="text: lComment"></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /ko -->
                                                <!--repeat block ends here-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</div>
        </div>
    </div>
</div>
    <div class="loaderDiv loaderHide" id="requestLoader">
    <div class="overlay-loader"></div>
    <div class="loaderImgDiv"><img src="css/images/loader.gif" alt=""/></div>
</div>
 <div class="loaderDiv loaderHide" id="requestLoader1">
    <div class="overlay-loader"></div>
    <div class="loaderImgDiv"><img src="css/images/loader.gif" alt=""/></div>
</div>
 <div class="loaderDiv loaderHide" id="requestLoader2">
    <div class="overlay-loader"></div>
    <div class="loaderImgDiv"><img src="css/images/loader.gif" alt=""/></div>
</div>
