<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<div class="max-width">

    <div id="tabs-container1">
        <div class="oj-flex oj-row">
            <div class="oj-lg-12 oj-md-12 oj-sm-12  oj-flex-item oj-col profile-text oj-flex oj-padding oj-margin">
              <span class="oj-flex-bar-end oj-padding oj-margin color-white">Rate Me</span>
            </div>
        </div>
        <div id="tabs" data-bind="ojComponent:{component: 'ojTabs'}" class="buddyTab">
            <!-- tab bar -->
            <ul>
                <li class="buddyTab1 " > <i class=" oj-tabs-title-active zmdi zmdi-plus-1 tabIcon"></i>
                    <div class="hoverTab1"> Send Request </div>
                </li>
                <li class="buddyTab2" ><i class="zmdi zmdi-check-all tabIcon"></i>
                    <div class="hoverTab2"> Requests </div>
                </li>
            </ul>
            <!-- tab contents -->
            <div id="tabs-3">
                <p class="white">hello its my request page tab </p>
            </div>
            <div id="tabs-4">
                <p class="white">hello this is request approval or rejection page tab </p>
            </div>
        </div>
        </div>
</div>