<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="max-width">
    <div id="tabs-container1">
        <div class="oj-flex oj-row">
            <div class="oj-lg-12 oj-md-12 oj-sm-12  oj-flex-item oj-col profile-text oj-flex oj-margin">
                <span class="oj-margin oj-padding color-white">&nbsp;</span>
                <span id="sucessRate" class="sucessMsg" data-bind="text: sucessMsg"> </span>
            </div>
        </div>
        <div id="tabs1" data-bind="ojComponent:{component: 'ojTabs',selected: selectTab}" class="buddyTab">
            <!-- tab bar -->
            <ul class="tab-margin">
                <li class="buddyTab3 " id="rateTab2" data-bind="click: reqTab"> 
                    <div id="rateTab3">
                    </div>             
                    <div class="hoverTabRequest1"> Requests </div>
                </li>
                <li class="buddyTab4" id="rateTab5" data-bind="click: sendReqTab"> 
                    <div id="rateTab1">   
                    </div>
                    <div id="requestHover"> Send Request </div>
                </li>
            </ul>
            <!-- tab contents -->
            <div id="tabs-3">
                <hr />
                <div class="oj-flex oj-row ">
                    <div class=" oj-xl-6 oj-lg-6 oj-md-6 oj-sm-12 oj-flex-item oj-padding oj-margin-top oj-margin-bottom pos-relative transboxRequest " id="tab3PendingRequest">
                        <div class="transbox"></div>
                        <div class="oj-flex oj-row">
                            <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-padding oj-flex-bar-middle">
                                <div class="requestHeading">
                                    Pending Requests
                                </div> 
                            </div>
                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-padding oj-margin-top oj-margin-bottom requestAlignment no-margin">
                                <div class ="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 pos-relative oj-margin oj-padding NorequestMsgAlignment oj-flex-bar-center-absolute" id="request2">
                                    <span class="errorText1" data-bind="text: noLeadPendingRequest"></span>
                                </div>

                                <!--ko foreach:  requestPendingLead-->
                                <div class="oj-xl-9 oj-lg-9 oj-md-10 oj-sm-10 pos-relative oj-flex-bar-center-absolute space-block1">
                                    <div class="transbox1  requestHeight"></div>
                                    <div class="transbox  requestHeight"></div>
                                    <div class="oj-flex oj-row ">
                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                                            <div class="profile_image_red">
                                                <img data-bind="attr: {src:pic}" alt="" class="profile-feedback-pic border-color-yellow "/>
                                                <span class="profile_image_red_initials_text" data-bind="text:intials"></span>
                                            </div>
                                        </div>
                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center color-white font-name">

                                            <span data-bind="text: name"></span>
                                        </div>
                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center padding-feedback color-white font-design">

                                            <span data-bind="text: designation"></span>
                                        </div>
                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center padding-feedback color-white font-date">

                                            <span data-bind="text: date"></span>
                                        </div>
                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center  color-white divTextRateMe oj-margin-bottom oj-padding font-descrip ">


                                            <textarea id="text-area20" class="textArea-requests textArea-white" aria-label="ojTextArea component no visible label"
                                                      data-bind="click: $parent.data, ojComponent: {component: 'ojTextArea', 
                                     value: lComment, 
                                     title: helpText,
                                     placeholder: 'Type your reason here..'}"></textarea>
                                        </div>
                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex ms-fix">
                                            <button class="approveDisapprove"   data-bind="event:{click: function(data,event){ $parent.approveRequest(1,this,request_id,userID,from_id,oldComment) }},attr:{id: acceptBtnId},requestId: request_id,type1:'1',descComment: lComment,userId: userID,to_id:from_id"><i class="zmdi zmdi-check"></i></button>
                                            <button class="approveDisapprove"  data-bind="event:{click: function(data,event){ $parent.approveRequest(0,this,request_id,userID,from_id,oldComment) }},attr:{id: declineBtnId},requestId: request_id,type1:'0',descComment: lComment,userId: userID,to_id:from_id">  <i class="zmdi zmdi-close"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <!--/ko-->

                                <script type="text/html" id="lg">

                                    <div class ="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 pos-relative oj-margin oj-padding center" id="hideMoreResponsive1" data-bind="click: loadMoreRejectLead">
                                        <a class="mobileLazy">Load More</a>
                                    </div> 

                                    </script>

                                    <!-- small template -->
                                    <script type="text/html" id="sm_12">

                                        <div class ="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 pos-relative oj-margin oj-padding center" id="leadPendingLoading">
                                            <img src="images/2016-12-11.gif" alt=""/>
                                        </div>

                                        </script>


                                        <!-- display template -->
                                        <div data-bind="template: {name: large() ? 'lg' : 
                                             'sm_12'}"></div>

                                    </div>
                                </div>
                            </div>

                            <div class="oj-row oj-flex">
                                <div id="dialogWrapper">
                                    <div style="display:block" id="minMaxDialog" title="Confirmation"  class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item custom-height"
                                         data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide', modality: 'modeless',cancelBehavior: 'escape',
                              rootAttributes: { style: ''}
                              }">
                                        <div class="oj-dialog-body">
                                            <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                                                Are you sure you want to <span id="rateme-status">approve/decline</span> this request ?
                                            </div>
                                            <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex oj-margin-top oj-padding  center ">
                                                <div class=" oj-xl-6 oj-lg-6 oj-md-6 oj-sm-6 oj-flex-item oj-padding oj-margin-top text-right ">
                                                    <button id="yesButton" class="confirmButton" data-bind="click : yesProcess"> Yes </button>
                                                </div>
                                                <div class=" oj-xl-6 oj-lg-6 oj-md-6 oj-sm-6 oj-flex-item oj-margin-top oj-padding text-left ">
                                                    <button id="noButton" class="confirmButton" data-bind="click : noProcess"> No </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class=" oj-xl-6 oj-lg-6 oj-md-6 oj-sm-12 oj-flex-item oj-margin-bottom pos-relative oj-margin-top transboxRequest2 bottom-responsive" id="tab3DeclinedRequest">
                                <div class="transbox"></div>
                                <div class="oj-flex oj-row">
                                    <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-padding oj-flex-bar-middle oj-margin-bottom oj-margin">
                                        <div class="requestHeading">
                                            Declined Requests
                                        </div> 
                                    </div>
                                    <div class ="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 pos-relative oj-margin oj-padding NorequestMsgAlignment oj-flex-bar-center-absolute request-top" id="request3">
                                        <span class="errorText1" data-bind="text: noLeadDeclinedRequest"></span>
                                    </div>
                                    <!-- ko foreach: requestDeclinedLead-->
                                    <div class="oj-xl-8 oj-lg-8 oj-md-10 oj-sm-10 pos-relative oj-flex-bar-center-absolute  space-block top-margin-custom">
                                        <div class="transbox2  declineHeight height-fix margin-less"></div>
                                        <div class="transbox  declineHeight height-fix margin-less"></div>
                                        <div class="oj-flex oj-row">
                                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                                                <div class="profile_image_red">
                                                    <img data-bind="attr: {src:pic}" alt="" class="profile-feedback-pic border-color-red"/>
                                                    <span class="profile_image_red_initials_text" data-bind="text:intials"></span>
                                                </div>
                                            </div>
                                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center font-name color-white">

                                                <span data-bind="text: name"></span>
                                            </div>
                                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center font-design color-white">

                                                <span data-bind="text: designation"></span>
                                            </div>
                                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center font-date color-white ">

                                                <span data-bind="text:date"></span>
                                            </div>
                                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-padding oj-margin-horizontal font-descrip color-white">
                                                <span data-bind="text: sComment,attr: {id: openMoreLink}"></span>
                                                <!--ko if: viewMore-->
                                                <span data-bind="text: LongComment" class="hide"></span>
                                                <span title="Show More" data-bind='click: $parent.openMore' class="moreDots">...</span>
                                                <!--/ko-->
                                            </div>
                                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-padding oj-margin-horizontal font-descrip color-white  oj-flex-bar hide">
                                                <span data-bind="click: $parent.openLess, attr: {id: lessMoreLink}" class="oj-flex-bar-end lessLink">Less</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /ko -->


                                    <script type="text/html" id="lg_xl_template">
                                        <div class ="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 pos-relative oj-margin oj-padding center" id="hideMoreResponsive2" data-bind="click: loadMoreRejectLead">
                                            <a class="mobileLazy">Load More</a>
                                        </div> 
                                        </script>

                                        <!-- small template -->
                                        <script type="text/html" id="sm_md_template">
                                            <div class ="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 pos-relative oj-margin oj-padding center" id="leadRejectLoading">
                                                <img src="images/2016-12-11.gif" alt=""/>
                                            </div>
                                            </script>


                                            <!-- display template -->
                                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 pos-relative oj-margin oj-padding center" data-bind="template: {name: large() ? 'lg_xl_template' : 
                                             'sm_md_template'}"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="tabs-4">
                                <hr/>
                                <div class="oj-flex oj-row ">
                                    <div class=" oj-xl-6 oj-lg-6 oj-md-6 oj-sm-12 oj-flex-item oj-padding oj-margin-top pos-relative oj-margin-bottom transboxRequest ">
                                        <div class="transbox"></div>
                                        <div class="oj-flex oj-row">
                                            <div class="  oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-padding oj-margin-bottom oj-flex-bar-middle">
                                                <div class="requestHeading">
                                                    Send Request
                                                </div> 
                                            </div>
                                            <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-padding ">
                                                <div class="oj-xl-9 oj-lg-9 oj-md-12 oj-sm-12 oj-flex-item oj-padding oj-flex-bar-center-absolute requestCOntent pos-relative request-margin">
                                                    <div class="transbox"></div>
                                                    <div class="oj-flex oj-row ">
                                                        <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center">
                                                            <div class="profile_image_lead" >
                                                                <img class="profile remove-hover-green" data-bind="attr:{src: lead_pic }">
                                                                <span class="profile_image_lead_initials_text" data-bind="text:intials_lead"></span>
                                                            </div>
                                                        </div>
                                                        <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item  center font-name" data-bind="text:lead_name ">

                                                        </div>
                                                        <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item padding-feedback center font-design " data-bind="text: lead_role" >
                                                        </div>
                                                        <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-top center oj-padding font-descrip">
                                                            <textarea id="text-area" class="textArea-request"  aria-label="ojTextArea component no visible label"
                                                                      data-bind="event: {click: setHelp},ojComponent: {component: 'ojTextArea', 
                                                            value: desc1,
                                                            title: showHelpComment,
                                                            optionChange: textAreaChange,
                                                         placeholder: 'Type your request here..'}"></textarea>
                                                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal errorText" data-bind="text:textError1"></div>
                                                        </div>
                                                        <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-top center">
                                                            <button class="modal-submitRequest1" data-bind="click: requestLead " > Submit </button>
                                                        </div>

                                                    </div>     
                                                </div>
                                            </div>
                                            <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-padding ">
                                                <div class="oj-xl-9 oj-lg-9 oj-md-12 oj-sm-12 oj-flex-item oj-padding oj-flex-bar-center-absolute requestCOntent pos-relative" id="hideLead">
                                                    <div class="transbox"></div>
                                                    <div class="oj-flex oj-row">
                                                        <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center ">
                                                            <div class="manager_profile_pic">
                                                                <img class="profile remove-hover-green" data-bind="attr:{src: manager_pic}">
                                                                <span class="" data-bind="text:intials_manager"></span>
                                                            </div>
                                                        </div>
                                                        <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item font-name center"  data-bind="text: manager_name ">

                                                        </div>
                                                        <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item padding-feedback center font-design"  data-bind="text: manager_role "> 

                                                        </div>
                                                        <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-top oj-padding font-descrip center">
                                                            <textarea id="text-area-manager" class="textArea-request"  aria-label="ojTextArea component no visible label"
                                                                      data-bind="event: {click: setHelp},ojComponent: {component: 'ojTextArea', 
                                                            value: desc ,
                                                            title: showHelpComment,
                                                            optionChange: textAreaChange,
                                                         placeholder: 'Type your request here..'}"></textarea>
                                                            <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal errorText" data-bind="text:textError"></div>
                                                        </div>
                                                        <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-margin-top center">
                                                            <button class="modal-submitRequest1" data-bind="click:  requestManager" > Submit </button>
                                                        </div>
                                                    </div>   
                                                </div>     
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" oj-xl-6 oj-lg-6 oj-md-6 oj-sm-12 oj-flex-item pos-relative transboxRequest2 oj-margin-top oj-margin-bottom bottom-responsive">
                                        <div class="transbox"></div>
                                        <div class="oj-flex oj-row">
                                            <div class=" oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item ">

                                                <div class="pos-relative ">

                                                    <div id="tabs-container-request">
                                                        <div id="tabs2" data-bind="ojComponent:{component: 'ojTabs'}">
                                                            <!-- tab bar -->
                                                            <ul class="oj-flex cursor-class">
                                                                <div class="transbox"></div>
                                                                <li class="oj-xl-6 oj-lg-6 oj-md-6 oj-sm-6 oj-flex-item" data-bind="click: tabDetect1"><span>Pending Requests</span></li>
                                                                <li class="oj-xl-6 oj-lg-6 oj-md-6 oj-sm-6 oj-flex-item" data-bind="click: tabDetect2"><span>Declined Requests</span></li>
                                                            </ul>

                                                            <!-- tab contents -->
                                                            <div id="tabs-12" class="pos-relative">

                                                                <div class ="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 pos-relative oj-margin oj-padding NorequestMsgAlignment oj-flex-bar-center-absolute" id="request">
                                                                    <span class="errorText1" data-bind="text: noPendingRequest"></span>
                                                                </div>

                                                                <!--repeat block starts here-->
                                                                <!-- ko foreach: requestPendingMember -->
                                                                <div class="oj-xl-8 oj-lg-8 oj-md-10 oj-sm-8 pos-relative oj-margin-top oj-padding-top space-block oj-flex-bar-center-absolute">
                                                                    <div class="transbox1  feedbackHeight minheightFix"></div>
                                                                    <div class="transbox feedbackHeight minheightFix"></div>
                                                                    <div class="oj-flex oj-row">
                                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center oj-margin-top oj-padding-top">
                                                                            <div class="profile_image_red">
                                                                                <img data-bind="attr: {src:pic}" alt="" class="profile-feedback-pic border-color-yellow"/>
                                                                                <span class="profile_image_red_initials_text" data-bind="text:intials_yellow"></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center font-name ">

                                                                            <span class="color-white" data-bind="text: name"></span>
                                                                        </div>
                                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center font-design">

                                                                            <span class="color-white" data-bind="text: designation"></span>
                                                                        </div>
                                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center padding-feedback font-date">

                                                                            <span class="color-white" data-bind="text:date"></span>
                                                                        </div>
                                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-padding oj-margin-horizontal font-descrip color-white">
                                                                            <span data-bind="text: sComment,attr: {id: openMoreLink}"></span>
                                                                            <!--ko if: viewMore-->
                                                                            <span data-bind="text: LongComment" class="hide"></span>
                                                                            <span title="Show More" data-bind='click: $parent.openMore' class="moreDots">...</span>
                                                                            <!--/ko-->
                                                                        </div>
                                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-padding oj-margin-horizontal font-descrip color-white  oj-flex-bar hide">
                                                                            <span data-bind="click: $parent.openLess, attr: {id: lessMoreLink}" class="oj-flex-bar-end lessLink">Less</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- /ko -->
                                                                <!--repeat block ends here-->
                                                                <div class ="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 pos-relative oj-margin oj-padding center" id="PendingRequestLoading">
                                                                    <img src="images/2016-12-11.gif" alt=""/>
                                                                </div>
                                                            </div>
                                                            <div id="tabs-13" class="pos-relative">

                                                                <div class ="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-8 pos-relative oj-margin oj-padding  oj-flex-bar-center-absolute NorequestMsgAlignment " id="request1">
                                                                    <span class="errorText1" data-bind="text: noRejectRequest"></span>
                                                                </div>

                                                                <!--repeat block starts here-->
                                                                <!-- ko foreach: requestRejectedMember-->
                                                                <div class="oj-xl-8 oj-lg-8 oj-md-10 oj-sm-8 pos-relative oj-margin-top oj-padding-top space-block oj-flex-bar-center-absolute">
                                                                    <div class="transbox2  feedbackHeight minheightFix"></div>
                                                                    <div class="transbox  feedbackHeight minheightFix"></div>
                                                                    <div class="oj-flex oj-row">
                                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center oj-margin-top oj-padding-top">
                                                                            <div class="profile_image_red">
                                                                                <img data-bind="attr: {src:pic}" alt="" class="profile-feedback-pic border-color-red"/>
                                                                                <span class="profile_image_red_initials_text" data-bind="text:intials_red"></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center font-name color-white font-name">

                                                                            <span data-bind="text: name"></span>
                                                                        </div>
                                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center color-white font-design">

                                                                            <span data-bind="text: designation"></span>
                                                                        </div>
                                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item center color-white font-date">

                                                                            <span data-bind="text:date"></span>
                                                                        </div>
                                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-padding oj-margin-horizontal font-descrip color-white">
                                                                            <span data-bind="text: sComment,attr: {id: openMoreLink}"></span>
                                                                            <!--ko if: viewMore-->
                                                                            <span data-bind="text: LongComment" class="hide"></span>
                                                                            <span title="Show More" data-bind='click: $parent.openMore' class="moreDots">...</span>
                                                                            <!--/ko-->
                                                                        </div>
                                                                        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-padding oj-margin-horizontal font-descrip color-white  oj-flex-bar hide">
                                                                            <span data-bind="click: $parent.openLess, attr: {id: lessMoreLink}" class="oj-flex-bar-end lessLink">Less</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- /ko -->
                                                                <!--repeat block ends here-->
                                                                <div class ="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 pos-relative oj-margin oj-padding center" id="RejectedRequestLoading">
                                                                    <img src="images/2016-12-11.gif" alt=""/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="loaderDiv loaderHide" id="requestLoader">
                    <div class="overlay-loader"></div>
                    <div class="loaderImgDiv"><img src="css/images/loader.gif" alt=""/></div>
                </div>
                <div class="loaderDiv loaderHide" id="requestLoader1">
                    <div class="overlay-loader"></div>
                    <div class="loaderImgDiv"><img src="css/images/loader.gif" alt=""/></div>
                </div>
                <div class="loaderDiv loaderHide" id="requestLoader2">
                    <div class="overlay-loader"></div>
                    <div class="loaderImgDiv"><img src="css/images/loader.gif" alt=""/></div>
                </div>

