<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h1 class="oj-panel max-width">RATINGS</h1>
<div class="oj-web-applayout-content max-width color-white pos-relative">
    
    <div class="oj-flex">
        <div class="oj-xl-12 oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item oj-flex">
<!--            this is the slider section-->
            <div class="oj-xl-8 oj-lg-8 oj-md-8 oj-sm-12 oj-flex oj-flex-item  oj-padding">
                <div class="oj-flex">My +1 ratings : <span data-bind="html: myPlusRatings"></span> </div>
                <div class="oj-flex">My -1 ratings : <span data-bind="html: myMinusRatings"></span></div>
            </div>
            
<!--            this is the announcement section-->
            <div class="oj-xl-4 oj-lg-4 oj-md-4 oj-sm-12 oj-flex oj-flex-item oj-padding">
                
            </div>
        </div>
    </div>
</div>