<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="max-width">
    <div class="oj-flex oj-row">
        <div class="oj-lg-12 oj-md-12 oj-sm-12  oj-flex-item oj-col profile-text oj-flex oj-padding-top oj-padding-bottom oj-margin-top margin-10LR">
            <span class="color-white">Top Ten Rank Holders</span>
        </div>
    </div>
    
    <div id='menubutton-container'>
  <button id="menuButton"
          data-bind="ojComponent: {component: 'ojButton', label: 'Actions', 
                                   menu: '#myMenu'}">
  </button>
  <!-- To handle menu item selection, use a select listener as shown, not a click listener. -->
  <ul id="myMenu" style="display:none"
      data-bind="ojComponent: {component: 'ojMenu', select: menuItemSelect}">
      <li id="month" data-bind="value:bubbleSeriesValue1">
      <a href="#"><span class="oj-menu-item-icon oj-fwk-icon oj-fwk-icon-arrow-n"></span>Month</a>
    </li>
    <li id="quarter" data-bind="value:bubbleSeriesValue2">
      <a href="#"><span class="oj-menu-item-icon demo-icon-font demo-bookmark-icon-16"></span>Quarter</a>
    </li>
    
    <li id="uptill" data-bind="value:bubbleSeriesValue">
      <a href="#"><span class="oj-menu-item-icon demo-icon-font demo-palette-icon-24"></span>Up Till Now</a>
    </li>
  </ul>
</div>
    
    <div class="oj-row oj-flex oj-margin-bottom">
    <div class="oj-xl-8 oj-lg-8 oj-md-12 oj-sm-12 pos-relative oj-padding-top oj-padding-bottom oj-margin-bottom oj-margin-top oj-flex-item margin-10LR">
        <div class="transbox box-shadow"></div>
        <div id="bubbleChart" data-bind="ojComponent: {
            component: 'ojChart', 
            type: 'bubble',
            series: bubbleSeriesValue, 
            groups: bubbleGroupsValue, 
            animationOnDisplay: 'auto',
            animationOnDataChange: 'auto',
            xAxis: xAxis1, yAxis: yAxis1,
            optionChange: chartOptionChange,
            selectionMode: 'single'
        }"
             style="max-width:100%; width:100%;height: 600px;">
        </div>
    </div>
        <div class="oj-xl-3 oj-lg-3 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal rankBlock">
            <div class="pos-relative countBlock box-shadow ranking-block1-height">
                 <div class="transbox"></div>
                 <h3 class="headingRank">
                Total Members
                </h3>
                <div class="rankText" data-bind="text: totalMembers"></div>
            </div>
            <div class="pos-relative box-shadow ranking-block2-height-height mobile320fix" data-bind="attr: {title: noRank}">
                <div class="transbox"></div>
             <h3 class="headingRank">
                  My Rank
                 </h3>            
                <div class="rankText" data-bind="text: myRank"></div>
            </div>
        </div>
</div>
</div>
