<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="max-width">
    <div class="oj-flex oj-row">
        <div class="oj-lg-12 oj-md-12 oj-sm-12  oj-flex-item oj-col profile-text oj-flex oj-margin">
            <span class="oj-flex-bar-end oj-margin color-white">Rankings</span>
        </div>
    </div>
    <hr />
    <div class="oj-flex oj-row">
        <div class="oj-lg-12 oj-md-12 oj-sm-12  oj-flex-item oj-col profile-text oj-flex oj-padding-top oj-padding-bottom">
            <span class="color-white">Top Ten Rank Holders</span>
        </div>
    </div>
    <div class="oj-row oj-flex">
    <div class="oj-xl-8 oj-lg-8 oj-md-12 oj-sm-12 pos-relative oj-padding-top oj-padding-bottom oj-margin-bottom oj-margin-top oj-flex-item">
        <div class="transbox box-shadow"></div>
        <div id="bubbleChart" data-bind="ojComponent: {
            component: 'ojChart', 
            type: 'bubble',
            series: bubbleSeriesValue, 
            groups: bubbleGroupsValue, 
            animationOnDisplay: 'auto',
            animationOnDataChange: 'auto',
            xAxis: xAxis1, yAxis: yAxis1
        }"
             style="max-width:100%; width:100%;height: 600px;">
        </div>
    </div>
        <div class="oj-xl-3 oj-lg-3 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal rankBlock">
            <div class="pos-relative countBlock box-shadow">
                 <div class="transbox"></div>
                 <h3 class="headingRank">
                Total Members
                </h3>
                <div class="rankText" data-bind="text: totalMembers"></div>
            </div>
            <div class="pos-relative box-shadow">
                <div class="transbox"></div>
             <h3 class="headingRank">
                  My Rank
                 </h3>            
                <div class="rankText" data-bind="text: myRank"></div>
            </div>
        </div>
</div>
</div>
