<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="max-width">
    <div class="oj-flex oj-row ranking-bottom-margin">
        <div class="oj-xl-5 oj-lg-5 oj-md-5 oj-sm-5 oj-flex-item profile-text oj-padding-top oj-padding-bottom oj-margin-top margin-10LR">
            <span class="color-white">Top Ten Rank Holders</span>
        </div>
    
     <div class="oj-xl-4 oj-lg-4 oj-md-4 oj-sm-4 oj-flex-item  profile-text oj-padding-top oj-padding-bottom oj-margin-top margin-10LR">

<!-- <select class="selector hide" data-bind="ojComponent: {component: 'ojSelect'}"  id="selectnow" >
     <option value="month">Month</option>
                                    <option value="quarter">Quarter</option>
                                    <option value="uptill now">Uptill now</option>
                              </select>-->
         
         <select id="selectnow"
          data-bind="ojComponent: {component: 'ojSelect', options: browsers,
                                   value: selectVal,
                                   optionChange: toptenposition,
                                   rootAttributes: {style:'max-width:20em'}}">
  </select>
     </div>
    </div>
    <div class="oj-row oj-flex oj-margin-bottom">
    <div class="oj-xl-8 oj-lg-8 oj-md-12 oj-sm-12 pos-relative oj-padding-top oj-padding-bottom oj-margin-bottom oj-margin-top oj-flex-item margin-10LR">
        <div class="transbox box-shadow"></div>
        <div id="bubbleChart" data-bind="ojComponent: {
            component: 'ojChart', 
            type: 'bubble',
            series: bubbleSeriesValue, 
            groups: bubbleGroupsValue, 
            animationOnDisplay: 'auto',
            animationOnDataChange: 'auto',
            xAxis: xAxis1, yAxis: yAxis1,
            optionChange: chartOptionChange,
            selectionMode: 'single'
        }"
             style="max-width:100%; width:100%;height: 600px;">
        </div>
    </div>
        <div class="oj-xl-3 oj-lg-3 oj-md-12 oj-sm-12 oj-flex-item oj-margin-horizontal rankBlock">
            <div class="pos-relative countBlock box-shadow ranking-block1-height">
                 <div class="transbox"></div>
                 <h3 class="headingRank">
                Total Members
                </h3>
                <div class="rankText" data-bind="text: totalMembers"></div>
            </div>
            <div class="pos-relative box-shadow ranking-block2-height-height mobile320fix" data-bind="attr: {title: noRank}">
                <div class="transbox"></div>
             <h3 class="headingRank">
                  My Rank
                 </h3>            
                <div class="rankText" data-bind="text: myRank"></div>
            </div>
        </div>
</div>
</div>
